Repository TUM-Dev/NavigaTUM: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-format, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-ast
      - id: check-toml
      - id: check-yaml
        args:
          - --allow-multiple-documents
        exclude: "data/data_format_geo-entry.yaml"
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-case-conflict
      - id: check-docstring-first
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: requirements-txt-fixer
  # only api
  - repo: local
    hooks:
      - id: openapi-format
        name: openapi-format
        entry: openapi-format ./openapi.yaml --output
        language: system
        files: "openapi.yaml"
  # only server
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd server && cargo fmt'
        language: system
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        entry: bash -c 'cd server && cargo check'
        language: system
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c 'cd server && cargo clippy'
        language: system
        pass_filenames: false
  # only webclient
  - repo: https://github.com/paulhfischer/prettier-config
    rev: v1.4.0
    hooks:
      - id: lint
  - repo: https://github.com/paulhfischer/stylelint-config
    rev: v1.3.0
    hooks:
      - id: lint
        files: \.(css|scss|sass)$
  - repo: https://github.com/paulhfischer/eslint-config-javascript
    rev: v1.8.4
    hooks:
      - id: lint
  # only data
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.2.3
    hooks:
      - id: add-trailing-comma
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-use-type-annotations
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
  - repo: https://gitlab.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-broken-line
          - flake8-commas
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-mutable
          - flake8-return
          - flake8-typing-imports
          - flake8-simplify
          - flake8-print
          - flake8-use-fstring
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: migrations

fix searchresults having a typo
  server/src/search_executor/merger.rs
Due: none

fixed bilind not being a valid option for pedestrian types
  server/src/routes/maps/route.rs
Due: none

fixed `length_meters` returning kilometers
  server/src/routes/maps/route.rs
Due: none

made sure that the `redirect_url` and `sections` are always present in the details api response
  server/src/routes/locations/details.rs
Due: none

fixed the documented search entry response just being wrong
  server/src/routes/search.rs
Due: none

migrate to github issue forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

removed overhead for the PR-Template
  .github/pull_request_template.md
Due: none

migrated the api to use the new type-sync
  data/output/openapi.yaml
  server/src/docs.rs
  webclient/app/api_types/index.ts
  webclient/app/components/Btn.vue
  webclient/app/components/CalendarFull.vue
  webclient/app/components/CalendarModal.vue
  webclient/app/components/CalendarRoomSelector.vue
  webclient/app/components/DetailsBuildingOverviewSection.vue
  webclient/app/components/DetailsImageSlideshowModal.vue
  webclient/app/components/DetailsInfoSection.vue
  webclient/app/components/DetailsInteractiveMap.vue
  webclient/app/components/DetailsPropertyTable.vue
  webclient/app/components/DetailsRoomOverviewSection.vue
  webclient/app/components/DetailsRoomfinderMap.vue
  webclient/app/components/DetailsSources.vue
  webclient/app/components/IndoorMap.vue
  webclient/app/components/NavigationSearchBar.vue
  webclient/app/components/PreviewIcon.vue
  webclient/app/components/RoomfinderImageLocation.vue
  webclient/app/components/SearchResultItem.vue
  webclient/app/components/SearchResultItemLink.vue
  webclient/app/components/TinyModal.vue
  webclient/app/composables/FloorControl.ts
  webclient/app/composables/autocomplete.ts
  webclient/app/pages/[view]/[id].vue
  webclient/app/pages/index.vue
  webclient/app/pages/next.client.vue
Due: openapi-format

migrated the api to use the new type-sync (#1760)
  data/output/openapi.yaml
  server/src/docs.rs
  webclient/app/api_types/index.ts
  webclient/app/components/Btn.vue
  webclient/app/components/CalendarFull.vue
  webclient/app/components/CalendarModal.vue
  webclient/app/components/CalendarRoomSelector.vue
  webclient/app/components/DetailsBuildingOverviewSection.vue
  webclient/app/components/DetailsImageSlideshowModal.vue
  webclient/app/components/DetailsInfoSection.vue
  webclient/app/components/DetailsInteractiveMap.vue
  webclient/app/components/DetailsPropertyTable.vue
  webclient/app/components/DetailsRoomOverviewSection.vue
  webclient/app/components/DetailsRoomfinderMap.vue
  webclient/app/components/DetailsSources.vue
  webclient/app/components/IndoorMap.vue
  webclient/app/components/NavigationSearchBar.vue
  webclient/app/components/PreviewIcon.vue
  webclient/app/components/RoomfinderImageLocation.vue
  webclient/app/components/SearchResultItem.vue
  webclient/app/components/SearchResultItemLink.vue
  webclient/app/components/TinyModal.vue
  webclient/app/composables/FloorControl.ts
  webclient/app/composables/autocomplete.ts
  webclient/app/pages/[view]/[id].vue
  webclient/app/pages/index.vue
  webclient/app/pages/next.client.vue
Due: openapi-format

synced how motorbikes are named
  webclient/app/pages/navigate.client.vue
Due: none

made sure that the instruction does not have a weird point
  server/src/routes/maps/route.rs
Due: none

added normalised room_codes to search for
  data/processors/export.py
  server/src/setup/meilisearch.rs
Due: mypy, pylint

fixed a typo
  server/src/search_executor/lexer.rs
Due: none

added docu for normalise_id
  data/processors/export.py
Due: mypy, pylint

tmp
  webclient/app/components/CalendarModal.vue
  webclient/app/components/IndoorMap.vue
  webclient/app/components/RoutingManeuverIcon.vue
  webclient/app/pages/navigate.client.vue
Due: none

change the formatting of normalise_id
  data/processors/export.py
Due: mypy, pylint

Changed to a list comprehension
  data/processors/export.py
Due: mypy, pylint

added normalised roomcodes to search for (#1766)
  data/processors/export.py
  server/src/search_executor/lexer.rs
  server/src/setup/meilisearch.rs
Due: mypy, pylint

fix data generation pipeline
  data/processors/export.py
Due: mypy, pylint

fix feedback-labels being quoted
  server/src/routes/feedback/post_feedback.rs
Due: none

implemented indoor routing
  webclient/app/components/CalendarModal.vue
  webclient/app/components/IndoorMap.vue
  webclient/app/components/RoutingManeuverIcon.vue
  webclient/app/pages/navigate.client.vue
Due: none

fixed a needless_borrow
  server/src/routes/feedback/post_feedback.rs
Due: none

update server search test snapshots
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-10.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-11.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-12.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-13.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-14.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-15.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-16.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-17.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-18.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-2.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-3.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-4.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-5.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-6.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-7.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-8.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-9.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__good_queries-38.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__good_queries-39.snap
  server/src/search_executor/test-queries.bad.yaml
  server/src/search_executor/test-queries.good.yaml
Due: none

made sure to `fitBounds` after drawing a route
  webclient/app/components/IndoorMap.vue
Due: none

re-add accidentally deleted bad snapshots
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-10.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-11.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-12.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-13.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-14.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-15.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-16.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-17.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-18.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-19.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-2.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-20.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-3.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-4.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-5.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-6.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-7.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-8.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries-9.snap
  server/src/search_executor/snapshots/navigatum_server__search_executor__test__bad_queries.snap
Due: none

removed unused variable from the ms-intialisation
  data/processors/export.py
  server/src/external/meilisearch.rs
  server/src/search_executor/formatter.rs
  server/src/search_executor/merger.rs
Due: mypy, pylint

made sure that the expected `returned_section_cnt` is not too low
  server/src/routes/search.rs
Due: none

fix wonky translation in the calendar modal
  webclient/app/components/CalendarModal.vue
Due: none

split navigation implementation into different components and revisit wording
  webclient/app/components/NavigationDisclaimerToast.vue
  webclient/app/components/NavigationModeSelector.vue
  webclient/app/components/NavigationRoutingManeuverIcon.vue
  webclient/app/components/NavigationRoutingResults.vue
  webclient/app/components/NavigationSearchBar.vue
  webclient/app/pages/navigate.client.vue
Due: none

add a bit of padding to fitBounds function
  webclient/app/components/IndoorMap.vue
Due: none

made sure that indoor and legacy map are clearly separated in terms of CSS defintion
  webclient/app/components/DetailsInteractiveMap.vue
  webclient/app/components/IndoorMap.vue
Due: none

improved the mobile support for the indoor navigation map
  webclient/app/components/IndoorMap.vue
  webclient/app/layouts/navigation.vue
  webclient/app/pages/navigate.client.vue
Due: none

fixed formatting mistakes have sneaked into prod
  webclient/app/components/IndoorMap.vue
  webclient/app/pages/navigate.client.vue
Due: none

improve the navigation mobile support a bit more
  webclient/app/components/IndoorMap.vue
  webclient/app/pages/navigate.client.vue
Due: none

improve the navigation-disclaimers wording
  webclient/app/components/NavigationDisclaimerToast.vue
Due: none

improve SEO for indoor navigation
  webclient/app/components/IndoorMap.vue
  webclient/app/pages/navigate.vue
Due: none

disallowed well behaving bots access to sites which might be expensive for us on the server side
  webclient/public/.well-known/robots.txt
Due: none
