Repository TUM-Dev/NavigaTUM: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-format, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-ast
      - id: check-toml
      - id: check-yaml
        args:
          - --allow-multiple-documents
        exclude: "data/data_format_geo-entry.yaml"
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-case-conflict
      - id: check-docstring-first
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: requirements-txt-fixer
  # only api
  - repo: local
    hooks:
      - id: openapi-format
        name: openapi-format
        entry: openapi-format ./openapi.yaml --output
        language: system
        files: "openapi.yaml"
  # only server
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd server && cargo fmt'
        language: system
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        entry: bash -c 'cd server && cargo check'
        language: system
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c 'cd server && cargo clippy'
        language: system
        pass_filenames: false
  # only webclient
  - repo: https://github.com/paulhfischer/prettier-config
    rev: v1.4.0
    hooks:
      - id: lint
  - repo: https://github.com/paulhfischer/stylelint-config
    rev: v1.3.0
    hooks:
      - id: lint
        files: \.(css|scss|sass)$
  - repo: https://github.com/paulhfischer/eslint-config-javascript
    rev: v1.8.4
    hooks:
      - id: lint
  # only data
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.2.3
    hooks:
      - id: add-trailing-comma
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-use-type-annotations
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
  - repo: https://gitlab.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-broken-line
          - flake8-commas
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-mutable
          - flake8-return
          - flake8-typing-imports
          - flake8-simplify
          - flake8-print
          - flake8-use-fstring
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: migrations

fixed formatting issues
  openapi.yaml
  server/main-api/src/calendar/mod.rs
Due: openapi-format

used a custom version of `unicode-truncate`
  server/Cargo.lock
  server/main-api/Cargo.toml
Due: none

Multi room calendar requests (#1241)
  openapi.yaml
  server/.sqlx/query-39cdd385e12341d2a7f05c50d9c399f6f367e997fd3a7da6c1c48a288202e82d.json
  server/.sqlx/query-77fcf65552da24afce976f79421934413c43f978f3608a08883919e3d3a983bf.json
  server/.sqlx/query-c76a20f4df953be9afcab6409a0434b86b92725b37511ea1df10e848a3e344f4.json
  server/Cargo.lock
  server/main-api/Cargo.toml
  server/main-api/src/calendar/mod.rs
  server/main-api/src/calendar/models.rs
  server/main-api/src/maps/mod.rs
  server/main-api/src/models.rs
  webclient/api_types/index.ts
Due: openapi-format

made sure that search and details apis retry
  webclient/components/AppSearchBar.vue
  webclient/pages/[view]/[id].vue
  webclient/pages/search.vue
Due: none

reordered meilisearch before the db and the calendar in the setup steps as it does not have a good fallback
  server/main-api/src/main.rs
Due: none

made sure that `JWT_KEY` and `GITHUB_TOKEN` are configured in prod
  docker-compose.local.yml
  docker-compose.yml
Due: none

made sure that the feedback selector has an ID as by accessibiltiy guideline
  webclient/components/FeedbackModal.vue
Due: none

made sure to use a `I18nT` instead of manual concatination for localising the success message
  webclient/components/FeedbackModal.vue
Due: none

fixed how the parsed_id is displayed and made more of the search bar appear on small devices
  webclient/components/AppSearchBar.vue
  webclient/components/SearchResultItem.vue
Due: none

changed the calendars preference to accept only `POST`
  server/main-api/src/calendar/mod.rs
Due: none

made sure that `/api/calendar` only accepting `POST` is documented
  openapi.yaml
Due: openapi-format

fixed a compilation error not noticed in the web editor
  server/main-api/src/calendar/mod.rs
Due: none

fixed actix posting to the wrong adress
  server/main-api/src/calendar/mod.rs
Due: none

fixed the path of the calendar API not getting routed correctly
  docker-compose.yml
Due: none

made sure that `NuxtLink` with external set is used instead of `a` tags
  webclient/components/Btn.vue
  webclient/components/DetailsRoomOverviewSection.vue
  webclient/components/DetailsSources.vue
  webclient/components/TokenBasedModal.vue
Due: none

fixed there being a semi-random space before the comma in search results
  webclient/components/SearchResultItem.vue
Due: none

made sure that there always exists padding between search results text and the end of the line
  webclient/components/AppSearchBar.vue
  webclient/components/Btn.vue
  webclient/components/SearchResultItem.vue
Due: none

fixed formatting mistakes have sneaked into prod
  webclient/api_types/index.ts
Due: none

fixed `LOG_LEVEL` not getting passed through
  docker-compose.local.yml
  docker-compose.yml
Due: none

addded the export of `{key: hash}` to enable experimenting with faster setups
  data/compile.py
  data/processors/export.py
Due: mypy, pylint

moved the `EnhancedJSONEncoder` up as otherwise `export_for_status` won't be able to serialise the dict
  data/processors/export.py
Due: mypy, pylint

made sure that the `hash` parameter is added to the public api
  data/compile.py
  data/processors/export.py
Due: mypy, pylint

implemented faster startups
  server/.sqlx/query-0129b39fb399d5d3d41b2053c9bf617a646c40ec0e2f614d035948f240c8b245.json
  server/.sqlx/query-1883c95212e7119034b648e74c6a5f5c40a99660e0413e0a26853ecb5c21462e.json
  server/.sqlx/query-1ffddd843ece79fa10cfb98c2e8aff2842cad45867c3a72f807ae08c1b10cb37.json
  server/.sqlx/query-213693b327a922e452caf987d332f3c6c177016c63bef328525829f02fc74538.json
  server/.sqlx/query-6eccbb21f50abb3aeb2fb43e9bc0d5edb9ca81cbc24948b4a69e83e1a2b9c802.json
  server/.sqlx/query-9cb68be06f7ef9404f25116da1c1ffc45bb09ab79457f84361e1e2a696e39c15.json
  server/.sqlx/query-a09ff7e07e367385a4c9b7cfbfbc75fda0eb5321958547cb8a16a6892af10f76.json
  server/.sqlx/query-aa36ca2ae59d5d6f15bc59a0476a3d635a3befaf254645d97ff778e875c90129.json
  server/.sqlx/query-acfccc2d96fcc85154dc3a6dd969ffdcaa2465cb27b510f9e50682f15980c45f.json
  server/.sqlx/query-b59dbe8a5c3b6f7fdb9543508ae7b1473d24ffea9d69a8a96ca7bedf6aa2c6e4.json
  server/.sqlx/query-b6c9c47d8d15c74d2d35fe34536d79f643839616e1ae8eebd3074d023797c915.json
  server/.sqlx/query-b85ef040a74d51bf6b539703028583c9a0917f5203ccdc4ed01e4272fb68d1d8.json
  server/.sqlx/query-bcd73ce5d9d43948f0f568e0dee1b806e8fd88ce1c6ada7e52f96ee8cac6b471.json
  server/.sqlx/query-e380ed62114b399467b08a619d47e26e9f3b967cd5c916d5767a1437c22a984e.json
  server/.sqlx/query-faf09d9ff2bb83f0b3efb0f7c8fe2b1159261aa471864faa47035e0187414d3b.json
  server/.sqlx/query-fe797b7bbbe890d6aeb9878dc793ed3c8f876f1974161d94dbd27646143b8411.json
  server/main-api/migrations/20240628192147_hash_based_intialisation.down.sql
  server/main-api/migrations/20240628192147_hash_based_intialisation.up.sql
  server/main-api/src/calendar/models.rs
  server/main-api/src/setup/database/alias.rs
  server/main-api/src/setup/database/data.rs
  server/main-api/src/setup/database/mod.rs
Due: none

made sure that `export_for_status` works as advertised
  data/compile.py
  data/processors/export.py
Due: mypy, pylint

fixed the testcases
  renovate.json
  server/main-api/Cargo.toml
  server/main-api/src/setup/tests.rs
Due: none

Implemented faster startups (#1257)
  server/.sqlx/query-0129b39fb399d5d3d41b2053c9bf617a646c40ec0e2f614d035948f240c8b245.json
  server/.sqlx/query-1883c95212e7119034b648e74c6a5f5c40a99660e0413e0a26853ecb5c21462e.json
  server/.sqlx/query-1ffddd843ece79fa10cfb98c2e8aff2842cad45867c3a72f807ae08c1b10cb37.json
  server/.sqlx/query-213693b327a922e452caf987d332f3c6c177016c63bef328525829f02fc74538.json
  server/.sqlx/query-6eccbb21f50abb3aeb2fb43e9bc0d5edb9ca81cbc24948b4a69e83e1a2b9c802.json
  server/.sqlx/query-9cb68be06f7ef9404f25116da1c1ffc45bb09ab79457f84361e1e2a696e39c15.json
  server/.sqlx/query-a09ff7e07e367385a4c9b7cfbfbc75fda0eb5321958547cb8a16a6892af10f76.json
  server/.sqlx/query-aa36ca2ae59d5d6f15bc59a0476a3d635a3befaf254645d97ff778e875c90129.json
  server/.sqlx/query-acfccc2d96fcc85154dc3a6dd969ffdcaa2465cb27b510f9e50682f15980c45f.json
  server/.sqlx/query-b59dbe8a5c3b6f7fdb9543508ae7b1473d24ffea9d69a8a96ca7bedf6aa2c6e4.json
  server/.sqlx/query-b6c9c47d8d15c74d2d35fe34536d79f643839616e1ae8eebd3074d023797c915.json
  server/.sqlx/query-b85ef040a74d51bf6b539703028583c9a0917f5203ccdc4ed01e4272fb68d1d8.json
  server/.sqlx/query-bcd73ce5d9d43948f0f568e0dee1b806e8fd88ce1c6ada7e52f96ee8cac6b471.json
  server/.sqlx/query-e380ed62114b399467b08a619d47e26e9f3b967cd5c916d5767a1437c22a984e.json
  server/.sqlx/query-faf09d9ff2bb83f0b3efb0f7c8fe2b1159261aa471864faa47035e0187414d3b.json
  server/.sqlx/query-fe797b7bbbe890d6aeb9878dc793ed3c8f876f1974161d94dbd27646143b8411.json
  server/main-api/migrations/20240628192147_hash_based_intialisation.down.sql
  server/main-api/migrations/20240628192147_hash_based_intialisation.up.sql
  server/main-api/src/calendar/models.rs
  server/main-api/src/setup/database/alias.rs
  server/main-api/src/setup/database/data.rs
  server/main-api/src/setup/database/mod.rs
Due: none

lockfile maintenance
  .pre-commit-config.yaml
  data/requirements.txt
  requirements-dev.txt
  server/Cargo.lock
  server/main-api/test/requirements.txt
Due: none

fixed pyyamls version not being accpeted
  data/requirements.txt
Due: none

basic impementation of a calendar
  webclient/components/CalendarModal.vue
  webclient/package.json
Due: none

refactored the design to make it more like the google calendar
  webclient/components/CalendarModal.vue
Due: none

Adapted the calendar to changing requirements
  webclient/components/CalendarModal.vue
  webclient/composables/calendar.ts
  webclient/pages/[view]/[id].vue
  webclient/pnpm-lock.yaml
  webclient/tailwind.config.ts
Due: none

tmp
  webclient/components/CalendarModal.vue
  webclient/pages/[view]/[id].vue
Due: none

chore(deps): lockfile maintenance (#1260)
  .pre-commit-config.yaml
  data/requirements.txt
  requirements-dev.txt
  server/Cargo.lock
  server/main-api/test/requirements.txt
Due: none

fixed an accidental space in some room titles
  data/external/scrapers/tumonline.py
  data/processors/tumonline.py
Due: mypy, pylint

made sure that `should_refresh_token()` is subtraction less
  server/main-api/src/calendar/connectum.rs
Due: none

made sure that overfolws don't have ugly scrollbars
  webclient/components/CalendarModal.vue
Due: none

implemented a fully working calendar
  openapi.yaml
  webclient/api_types/index.ts
  webclient/components/Calendar.vue
  webclient/components/CalendarModal.vue
  webclient/components/CalendarRoomSelector.vue
  webclient/components/DetailsImageSlideshowModal.vue
  webclient/components/DetailsRoomfinderMap.vue
  webclient/components/Modal.vue
  webclient/components/PreviewIcon.vue
  webclient/components/SearchResultItem.vue
  webclient/package.json
  webclient/pnpm-lock.yaml
Due: openapi-format

made sure that some icons are more appropriately sized
  webclient/components/DetailsFeedbackButton.vue
  webclient/components/ShareButton.vue
  webclient/pages/[view]/[id].vue
Due: none

renamed
  webclient/components/CalendarFull.vue
  webclient/components/CalendarModal.vue
Due: none
