Repository TUM-Dev/NavigaTUM: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-format, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-ast
      - id: check-toml
      - id: check-yaml
        args:
          - --allow-multiple-documents
        exclude: "data/data_format_geo-entry.yaml"
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-case-conflict
      - id: check-docstring-first
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: requirements-txt-fixer
  # only api
  - repo: local
    hooks:
      - id: openapi-format
        name: openapi-format
        entry: openapi-format ./openapi.yaml --output
        language: system
        files: "openapi.yaml"
  # only server
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd server && cargo fmt'
        language: system
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        entry: bash -c 'cd server && cargo check'
        language: system
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c 'cd server && cargo clippy'
        language: system
        pass_filenames: false
  # only webclient
  - repo: https://github.com/paulhfischer/prettier-config
    rev: v1.4.0
    hooks:
      - id: lint
  - repo: https://github.com/paulhfischer/stylelint-config
    rev: v1.3.0
    hooks:
      - id: lint
        files: \.(css|scss|sass)$
  - repo: https://github.com/paulhfischer/eslint-config-javascript
    rev: v1.8.4
    hooks:
      - id: lint
  # only data
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.2.3
    hooks:
      - id: add-trailing-comma
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-use-type-annotations
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
  - repo: https://gitlab.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-broken-line
          - flake8-commas
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-mutable
          - flake8-return
          - flake8-typing-imports
          - flake8-simplify
          - flake8-print
          - flake8-use-fstring
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: migrations

Added `org_nameshort` to the list of values we drop
  data/external/scrapers/nat.py
Due: mypy, pylint

documented the used environment variables in the README
  server/feedback/README.md
Due: none

[feedback-pipeline-3] removed `structopt` for parsing commandline arguments (#504)
  server/feedback/Cargo.lock
  server/feedback/Cargo.toml
  server/feedback/src/core.rs
  server/feedback/src/github.rs
  server/feedback/src/main.rs
  server/feedback/src/post_feedback.rs
  server/feedback/src/tokens.rs
Due: none

[feedback-pipeline-2] API Change (#503)
  openapi.yaml
  server/feedback/Cargo.lock
  server/feedback/Cargo.toml
  server/feedback/README.md
  server/feedback/src/core.rs
  server/feedback/src/github.rs
  server/feedback/src/main.rs
  server/feedback/src/post_feedback.rs
  server/feedback/src/tokens.rs
  webclient/src/feedback.js
Due: openapi-format

refactored token management to be fully based in the tokens module
  server/feedback/src/core.rs
  server/feedback/src/main.rs
  server/feedback/src/post_feedback.rs
  server/feedback/src/tokens.rs
Due: none

formatting fix
  server/feedback/src/tokens.rs
Due: none

Add basic POI support in the data
  data/README.md
  data/compile.py
  data/processors/poi.py
  data/processors/sections.py
  data/processors/structure.py
  data/sources/21_pois.yaml
  data/sources/_07_pois-not-implemented-yet.yaml
  data/translations.yaml
Due: mypy, pylint

Update doc
  openapi.yaml
Due: openapi-format

Revert "extracted `eq "nav.tum.de" $.Values.url` to the main values to replace it with the more discriptive `is_production` variable"
  deployment/k3s/templates/deployments/calendar/calendar-cronjob.yaml
  deployment/k3s/templates/deployments/calendar/calendar-deployment.yaml
  deployment/k3s/templates/deployments/calendar/posgres-deployment.yaml
  deployment/k3s/templates/deployments/calendar/postgres-volume.yaml
  deployment/k3s/templates/deployments/feedback-deployment.yaml
  deployment/k3s/templates/deployments/maps/maps-deployment.yaml
  deployment/k3s/templates/deployments/server-deployment.yaml
  deployment/k3s/templates/namespace.yaml
  deployment/k3s/templates/networking/https-cert.yaml
  deployment/k3s/templates/networking/service.yaml
  deployment/k3s/values.yaml
Due: none

removed `https://nav.tum.de/` in the release prefeix for the CDN and the api to make shure that this tests agianst staging
  webclient/config.js
Due: none

removed a no longer nessesary fix
  data/external/scrapers/nat.py
Due: mypy, pylint

fixed rooms_base_ counting wrong
  data/external/scrapers/nat.py
Due: mypy, pylint

increased the storage requirement for prometheus
  deployment/ansible/roles/k8s-components/tasks/monitoring/prometheus.yml
Due: none

fixed the calendar scrapers connection to the pushgateway
  deployment/ansible/roles/k8s-components/tasks/monitoring/pushgateway.yml
  deployment/k3s/templates/deployments/calendar/calendar-cronjob.yaml
  server/calendar/src/scraper.rs
Due: none

Correct how sources are set for POIs
  data/processors/poi.py
Due: mypy, pylint

changed 5532.02.211 to being a WC-Damen Resolves #505
  data/sources/02_rooms-extended.yaml
Due: none

bumped the prometheus storage to 40Gi
  deployment/ansible/roles/k8s-components/tasks/monitoring/prometheus.yml
Due: none

Added user provided coordinate
  data/sources/coordinates/rest.yaml
Due: none

switched k8s-components from leader only to localhost only
  deployment/ansible/roles/k8s-components/tasks/main.yml
  deployment/ansible/roles/k8s/tasks/main.yml
  deployment/ansible/site.yml
Due: none

[feedback-pipeline-1] refactored the feedback system to be flatter structured (#502)
  openapi.yaml
  server/feedback/Cargo.lock
  server/feedback/Cargo.toml
  server/feedback/README.md
  server/feedback/src/core/mod.rs
  server/feedback/src/core/tokens.rs
  server/feedback/src/github.rs
  server/feedback/src/main.rs
  server/feedback/src/post_feedback.rs
  server/feedback/src/tokens.rs
  webclient/src/feedback.js
Due: openapi-format

removed unused `KNOWN_LICENSE_URLS`
  data/processors/images.py
Due: mypy, pylint

removed the support for license shorthands
  data/processors/images.py
  data/sources/img/img-sources.yaml
Due: mypy, pylint

reformatted the file to correspond with the requirements of the new image feedback system
  data/sources/img/img-sources.yaml
Due: none

removed `author.urls` as an alternative shema
  data/sources/img/img-sources.yaml
Due: none

fixed one translation
  webclient/src/components/DetailsRoomfinderMap.vue
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
Due: none

translation fixes
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
Due: none

renamed methods in the browser detection
  webclient/src/modules/outdatedBrowser.ts
Due: none

added the canonical link to the html to make shure chrome is not confused about our stagings
  webclient/index.html
Due: none

added a canonical tag to our webclinent to make shure that google is not confused about our stagings
  webclient/src/index.html
Due: none

[feedback-pipeline-4] `image-sources.yaml` regularisation (#507)
  data/processors/images.py
  data/sources/img/img-sources.yaml
Due: mypy, pylint

bumped transitive rust dependencies
  server/calendar/Cargo.lock
  server/feedback/Cargo.lock
  server/main-api/Cargo.lock
Due: none

Added user provided Coordinate
  data/sources/coordinates/rest.yaml
Due: none

Move POI coords to the other coords and make them inferrable from their parents
  data/compile.py
  data/processors/coords.py
  data/sources/21_pois.yaml
  data/sources/coordinates/poi.yaml
Due: mypy, pylint

Add remaining validation machines and coordinats if known
  data/sources/21_pois.yaml
  data/sources/coordinates/poi.yaml
Due: none

Fix problem in sitemap generation & add poi URL to webclient
  data/processors/sitemap.py
  webclient/src/core.js
  webclient/src/views/view/view-view.js
Due: mypy, pylint

Migrate new POI URL
  webclient/src/router.ts
  webclient/src/views/DetailsView.vue
Due: none

Fix a bug where the map would not update when updating the DetailsView
  webclient/src/views/DetailsView.vue
Due: none

Add user provided coord in MW
  data/sources/coordinates/550x-551x_mw.yaml
Due: none

Added user provided coordinate
  data/sources/coordinates/550x-551x_mw.yaml
Due: none
