Repository TUM-Dev/NavigaTUM: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-format, mypy, pylint

openapi-format:
  name: openapi-format
  entry: openapi-format ./openapi.yaml --output
  language: system

mypy:
  name: mypy
  entry: mypy --ignore-missing-imports
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

shortened the name of `build-and-push-image` to `build`
  .github/workflows/_docker-build.yml
Due: none

typing fixes
  webclient/src/components/DetailsFeedbackButton.vue
  webclient/src/components/FeedbackModal.vue
Due: none

possibly fixed the webgl error getting thrown
  webclient/src/components/DetailsInteractiveMap.vue
Due: none

fixed the cdn not wanting to respond on port 9000
  data/Dockerfile
  data/processors/sitemap.py
  webclient/Dockerfile
Due: mypy, pylint

tested a different way to store tokens
  webclient/src/components/FeedbackModal.vue
Due: none

use `useLocalStorage` to manage tokens
  webclient/src/components/FeedbackModal.vue
Due: none

fixed various typing/formatting bugs in the webclient
  webclient/src/assets/spectre-all.scss
  webclient/src/components/AppSearchBar.vue
  webclient/src/components/DetailsInteractiveMap.vue
  webclient/src/main.ts
  webclient/src/modules/outdatedBrowser.ts
  webclient/src/router.ts
  webclient/src/stores/global.ts
  webclient/vite.config.ts
Due: none

simplified the way we watch for changes in the frontend
  webclient/src/components/FeedbackModal.vue
  webclient/src/views/DetailsView.vue
Due: none

formatting
  server/main-api/test/printer.py
  server/main-api/test/search_quality_test.py
Due: mypy, pylint

tested different `allowPrivilegeEscalation` policy
  deployment/k3s/templates/deployments/data-deployment.yaml
  deployment/k3s/templates/deployments/server-deployment.yaml
Due: none

formatting fixes
  data/processors/images.py
  openapi.yaml
  server/main-api/test/search_quality_test.py
Due: openapi-format, mypy, pylint

switched to specifiying the version numbers exactly in the Dockerfiles
  data/Dockerfile
  resources/documentation/Dependencys.md
  webclient/Dockerfile
Due: none

disabled chrono's default-features to get rid of the `old-time` feature
  server/Cargo.lock
  server/calendar/Cargo.toml
  server/feedback/Cargo.toml
Due: none

added the ability to detect branch changes in the deployment additions
  .github/workflows/add-deployment.yaml
  .github/workflows/remove-deployment.yml
Due: none

tested a lower `minRendererPoolSizes` option which better correlates with actual expected usage
  deployment/k3s/files/maps/config.json
Due: none

refactored the calendar scraping more often, as the new scraper is much more efficient => faster
  deployment/k3s/values.yaml
Due: none

bumped javascript dependencys
  webclient/package.json
Due: none

[feedback-pipeline-6] Implemented the ability to contribute images (#651)
  openapi.yaml
  server/Cargo.lock
  server/calendar/Dockerfile
  server/feedback/Cargo.toml
  server/feedback/Dockerfile
  server/feedback/src/proposed_edits/image.rs
  server/feedback/src/proposed_edits/mod.rs
  server/feedback/src/proposed_edits/tmp_repo.rs
  server/main-api/Dockerfile.server
  webclient/src/api_types/index.ts
Due: openapi-format

ignored `vue/multi-word-component-names` errors introduced to ease the migration to nuxt
  webclient/.eslintrc.cjs
Due: none

moved the ImageSlideshow to its own Component
  webclient/src/components/DetailsImageSlideshowModal.vue
  webclient/src/components/DetailsInfoSection.vue
  webclient/src/components/DetailsRoomfinderMap.vue
Due: none

Pydantic (#662)
  data/data_format_geo-entry.yaml
  data/external/models/common.py
  data/external/models/nat.py
  data/external/models/roomfinder.py
  data/external/models/test_models.py
  data/external/models/tumonline.py
  data/external/scrapers/nat.py
  data/external/scrapers/roomfinder.py
  data/external/scrapers/tumonline.py
  data/processors/nat.py
  data/processors/roomfinder.py
  data/processors/tumonline.py
  data/requirements.txt
  data/sources/12_nat_excluded_buildings.yaml
  data/translations.yaml
Due: mypy, pylint

migrated the overview section to a virtual scroller, to allow for a more managable codebase
  webclient/src/components/DetailsBuildingOverviewSection.vue
  webclient/src/components/DetailsOverviewSections.vue
  webclient/src/components/DetailsRoomSectionOverviewSection.vue
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
  webclient/src/views/DetailsView.vue
Due: none

configured pydantics `allow_population_by_field_name` option and added a mypy plugin
  data/external/models/common.py
  pyproject.toml
Due: mypy, pylint

made shure that "There are no entries for this room is handled more gracefully"
  server/calendar/src/calendar.rs
Due: none

changed the rsync version installed in the webclinet to one which is avalibel under `node:20`
  webclient/Dockerfile
Due: none

unified how useI18n is used
  webclient/src/components/AppFeedbackModal.vue
  webclient/src/components/AppSearchBar.vue
  webclient/src/components/DetailsFeedbackButton.vue
  webclient/src/views/DetailsView.vue
  webclient/src/views/SearchView.vue
Due: none

extracted header and footer to separate components
  webclient/src/App.vue
  webclient/src/components/AppFeedbackModal.vue
  webclient/src/components/AppFooter.vue
  webclient/src/components/AppNavHeader.vue
Due: none

limited the usage of actix `configure()` to where necessary/usefull
  server/calendar/src/calendar.rs
  server/calendar/src/main.rs
  server/main-api/src/core/mod.rs
  server/main-api/src/entries/get.rs
  server/main-api/src/entries/legacy_redirect.rs
  server/main-api/src/entries/mod.rs
  server/main-api/src/main.rs
  server/main-api/src/search/mod.rs
  server/main-api/src/search/search_executor/mod.rs
  server/main-api/src/search/search_executor/postprocess.rs
  server/main-api/src/search/search_executor/preprocess.rs
  server/main-api/src/search/search_executor/query.rs
Due: none

linting and translation fixes
  webclient/src/components/AppSearchBar.vue
  webclient/src/components/AppThemeToggler.vue
  webclient/src/components/DetailsInteractiveMap.vue
  webclient/src/components/DetailsOverviewSections.vue
  webclient/src/components/FeedbackModal.vue
  webclient/src/composables/storage.ts
  webclient/src/modules/FloorControl.ts
  webclient/src/modules/outdatedBrowser.ts
  webclient/src/stores/details.ts
  webclient/vite.config.ts
Due: none

linting fixes
  openapi.yaml
  webclient/src/components/DetailsInfoSection.vue
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
Due: openapi-format

fixed more formatting+typing issues in the webclient
  webclient/src/composables/common.ts
  webclient/src/composables/cookies.ts
  webclient/src/composables/fetch.ts
  webclient/src/modules/FloorControl.ts
  webclient/src/modules/autocomplete.ts
  webclient/src/stores/global.ts
Due: none

[feedback-pipeline-5] Basic implementation of the `/api/feedback/propose_edit` API Endpoint (#508)
  openapi.yaml
  server/Cargo.lock
  server/feedback/Cargo.toml
  server/feedback/src/github.rs
  server/feedback/src/main.rs
  server/feedback/src/proposed_edits/discription.rs
  server/feedback/src/proposed_edits/mod.rs
  server/feedback/src/proposed_edits/tmp_repo.rs
  webclient/src/api_types/index.ts
Due: openapi-format

increased the nextTick timeout for loading the interactive map to 25ms to reduce the number of erros written to the screen
  webclient/src/views/DetailsView.vue
Due: none

removed template from the name of one of our CI-steps, as not templating
  .github/workflows/_restart-argocd.yml
Due: none

Fixed a lot of the typescript missmatches
  webclient/src/App.vue
  webclient/src/components/AppFeedbackModal.vue
  webclient/src/components/AppSearchBar.vue
  webclient/src/components/DetailsBuildingOverviewSection.vue
  webclient/src/components/DetailsFeedbackButton.vue
  webclient/src/components/DetailsInfoSection.vue
  webclient/src/components/DetailsInteractiveMap.vue
  webclient/src/components/DetailsRoomOverviewSection.vue
  webclient/src/components/DetailsRoomfinderMap.vue
  webclient/src/components/DetailsSources.vue
  webclient/src/components/ShareButton.vue
  webclient/src/modules/FloorControl.ts
  webclient/src/modules/autocomplete.ts
  webclient/src/stores/details.ts
  webclient/src/stores/global.ts
  webclient/src/views/DetailsView.vue
  webclient/src/views/MainView.vue
  webclient/src/views/NotFoundView.vue
  webclient/vite.config.ts
Due: none

increased the memory limit of the slow calendar scraper
  deployment/k3s/templates/deployments/calendar/calendar-cronjob.yaml
Due: none

fixed the typescript configuration of vue-i18n
  webclient/src/i18n.d.ts
  webclient/src/main.ts
Due: none

linting and translation fixes
  .markdownlint.yaml
  webclient/cypress.config.ts
  webclient/src/assets/main.scss
  webclient/src/assets/spectre-all.scss
  webclient/src/components/AppSearchBar.vue
  webclient/src/components/DetailsOverviewSections.vue
  webclient/src/components/DetailsRoomfinderMap.vue
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
  webclient/src/views/SearchView.vue
Due: none

fixed the frontend tests not running because of missing labels
  webclient/cypress/e2e/feedback.cy.ts
  webclient/src/components/FeedbackModal.vue
Due: none

implemented a lint to automatically check webclient translations
  .pre-commit-config.yaml
  webclient/src/components/DetailsInteractiveMap.vue
  webclient/src/components/FeedbackModal.vue
  webclient/src/locales/check_locales.py
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
Due: mypy, pylint

Path conditions:
  openapi-format: any of: openapi.yaml
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: migrations
