Repository TUM-Dev/NavigaTUM: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-format, mypy, pylint

openapi-format:
  name: openapi-format
  entry: openapi-format ./openapi.yaml --output
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

added a bit of debug output
  server/main-api/src/calendar/mod.rs
Due: none

formatting fixes
  server/Cargo.lock
  server/main-api/src/calendar/mod.rs
Due: none

fixed a formatter bug causing invalid json through adding trailing commas
  .prettierignore
  webclient/tsconfig.json
Due: none

fixed one colon in the tsconfig.json being too eagerly removed
  .prettierignore
  webclient/.prettierignore
  webclient/tsconfig.json
Due: none

fixed one colon in the tsconfig.json being not removed
  webclient/tsconfig.json
Due: none

tmp, has to be reverted !!!
  server/main-api/src/calendar/mod.rs
  server/main-api/src/main.rs
Due: none

implemented adaptive rescraping
  server/.sqlx/query-4d4a2f19ff44defa3d05dbcf7ede3925b8a07f3de56607e58bf8b29ca9d9d424.json
  server/.sqlx/query-874f7f834952dc9935690debfad3d161757d7ce6fcee59c23c23abbf45e803cb.json
  server/.sqlx/query-a09ff7e07e367385a4c9b7cfbfbc75fda0eb5321958547cb8a16a6892af10f76.json
  server/.sqlx/query-a87d33b55872d9135ab82391b36d1a495534817fb39a9e25f6720267c6025965.json
  server/main-api/Cargo.toml
  server/main-api/migrations/20240101134507_migrate_to_tum_calendar.up.sql
  server/main-api/migrations/20240123175552_store_when_last_scrape_happened.down.sql
  server/main-api/migrations/20240123175552_store_when_last_scrape_happened.up.sql
  server/main-api/src/calendar/mod.rs
  server/main-api/src/calendar/models.rs
  server/main-api/src/main.rs
  server/main-api/src/models.rs
  server/main-api/src/setup/meilisearch.rs
Due: none

implemented a strategy based calendar fetcher
  server/.sqlx/query-d2978b1b6a3b39bedda8e40cc2e53f91b262d8c42e7a6886ce25a14975c87f70.json
  server/main-api/src/calendar/fetch/connectum.rs
  server/main-api/src/calendar/fetch/db.rs
  server/main-api/src/calendar/fetch/mod.rs
  server/main-api/src/calendar/mod.rs
  server/main-api/src/main.rs
Due: none

formatting fixes
  server/feedback/src/main.rs
  server/main-api/src/calendar/fetch/connectum.rs
  server/main-api/src/calendar/fetch/db.rs
  server/main-api/src/calendar/fetch/mod.rs
  server/main-api/src/calendar/mod.rs
  server/main-api/src/main.rs
  server/main-api/src/setup/mod.rs
Due: none

migrated to using `crate::BoxedError` instead of `Box<dyn std::error::Error + Send + Sync>`
  server/feedback/src/main.rs
  server/feedback/src/proposed_edits/image.rs
  server/feedback/src/proposed_edits/mod.rs
  server/feedback/src/proposed_edits/tmp_repo.rs
  server/main-api/src/main.rs
  server/main-api/src/maps/fetch_tile.rs
  server/main-api/src/setup/database/alias.rs
  server/main-api/src/setup/database/data.rs
  server/main-api/src/setup/database/mod.rs
  server/main-api/src/setup/meilisearch.rs
Due: none

fixed unintutive strategy
  server/main-api/src/calendar/fetch/mod.rs
Due: none

added the `skip_{db,ms}_setup` features
  server/main-api/Cargo.toml
  server/main-api/src/main.rs
  server/main-api/src/setup/mod.rs
Due: none

formatting fix
  server/main-api/src/calendar/fetch/connectum.rs
  server/main-api/src/main.rs
Due: none

cargo lock
  server/Cargo.lock
Due: none

formatting fixes
  server/main-api/Cargo.toml
  server/main-api/migrations/20240123175552_store_when_last_scrape_happened.down.sql
  server/main-api/migrations/20240123175552_store_when_last_scrape_happened.up.sql
Due: none

adapted the dockerfile
  server/Dockerfile
Due: none

removed the calendar from the openapi specs
  openapi.yaml
  webclient/src/api_types/index.ts
Due: openapi-format

formatting fixes
  server/main-api/Cargo.toml
Due: none

made sure the dockerfile runs
  docker-compose.yml
Due: none

reworded the calendar docs
  openapi.yaml
  server/Dockerfile
  webclient/src/api_types/index.ts
Due: openapi-format

made sure that npm run format is documented
  webclient/README.md
  webclient/src/api_types/index.ts
Due: none

linting fix
  openapi.yaml
Due: openapi-format

fixed the ingress configuration being left unchanged despite the calendar being removed
  deployment/k3s/templates/networking/ingress.yaml
  deployment/k3s/templates/networking/service.yaml
Due: none

changed the coordinate for Newton building Resolves #910
  data/sources/01_areas-extended.yaml
Due: none

changed the name of TUM Venture Lab Additive Manufacturing
  data/sources/02_rooms-extended.yaml
Due: none

added the image of the tum venture lab AM
  data/sources/coordinates/rest.yaml
  data/sources/img/img-sources.yaml
  data/sources/img/lg/7894.EG.302_0.webp
Due: none

added a picture for the permanentomax
  data/sources/01_areas-extended.yaml
  data/sources/img/img-sources.yaml
  data/sources/img/lg/5539_0.webp
Due: none

fixed coordinates not getting loaded into the db correctly
  server/main-api/src/setup/database/data.rs
Due: none

fixed one regex not having a defined priority
  server/main-api/src/search/search_executor/lexer.rs
Due: none

tested a different way of ordering SplittableText increasing the relevancy
  server/main-api/src/search/search_executor/query.rs
Due: none

moved the Exzellenzzentrum from MW to the general Garching section
  data/processors/areatree/config.areatree
Due: none

made sure that the roomfinder does not spam too much in the log
  data/external/scrapers/roomfinder.py
Due: mypy, pylint

fixed the nat scraper not being able to merge base and content removed `event_start` and `event_end` from saved fields
  data/external/scrapers/nat.py
Due: mypy, pylint

updated the public transport data to be based on `MVV_HSTReport2312`
  data/external/scrapers/public_transport.py
Due: mypy, pylint

removed json caching for scraped data as we plan to execute this in CI => caching is not simplifiying the code
  data/.gitignore
  data/external/scrapers/nat.py
  data/external/scrapers/public_transport.py
  data/external/scrapers/roomfinder.py
  data/external/scrapers/tumonline.py
  data/external/scraping_utils.py
Due: mypy, pylint

refactored the `_get_all_rooms_for_all_buildings`-mehtod from the roomfinder room scraper to make pylint happier
  data/external/scrapers/roomfinder.py
Due: mypy, pylint

bumped transitive dependencies
  .pre-commit-config.yaml
  server/Cargo.lock
Due: none

Path conditions:
  openapi-format: any of: openapi.yaml
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: migrations
