Repository TUM-Dev/NavigaTUM: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-format, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-ast
      - id: check-toml
      - id: check-yaml
        args:
          - --allow-multiple-documents
        exclude: "data/data_format_geo-entry.yaml"
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-case-conflict
      - id: check-docstring-first
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: requirements-txt-fixer
  # only api
  - repo: local
    hooks:
      - id: openapi-format
        name: openapi-format
        entry: openapi-format ./openapi.yaml --output
        language: system
        files: "openapi.yaml"
  # only server
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd server && cargo fmt'
        language: system
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        entry: bash -c 'cd server && cargo check'
        language: system
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c 'cd server && cargo clippy'
        language: system
        pass_filenames: false
  # only webclient
  - repo: https://github.com/paulhfischer/prettier-config
    rev: v1.4.0
    hooks:
      - id: lint
  - repo: https://github.com/paulhfischer/stylelint-config
    rev: v1.3.0
    hooks:
      - id: lint
        files: \.(css|scss|sass)$
  - repo: https://github.com/paulhfischer/eslint-config-javascript
    rev: v1.8.4
    hooks:
      - id: lint
  # only data
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.2.3
    hooks:
      - id: add-trailing-comma
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-use-type-annotations
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
  - repo: https://gitlab.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-broken-line
          - flake8-commas
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-mutable
          - flake8-return
          - flake8-typing-imports
          - flake8-simplify
          - flake8-print
          - flake8-use-fstring
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: migrations

tmp
  webclient/src/i18n.yaml
  webclient/src/md/datenschutz.md
  webclient/src/md/impressum.md
  webclient/src/md/privacy.md
Due: none

impressum
  webclient/src/md/impressum.md
Due: none

Add user provided coordinate in 4277
  data/sources/coordinates/rest.yaml
Due: none

fixed a typo
  webclient/src/md/datenschutz.md
Due: none

Added a reference to the legal text
  webclient/src/md/datenschutz.md
Due: none

Added a comment that there is a WC under this staircase
  data/sources/02_rooms-extended.yaml
Due: none

Added User Provided coordinates Resolves #535 Resolves #536 Resolves #537
  data/sources/coordinates/550x-551x_mw.yaml
  data/sources/coordinates/rest.yaml
Due: none

added an english translation
  webclient/src/i18n.yaml
  webclient/src/md/datenschutz.md
  webclient/src/md/impressum.md
  webclient/src/md/imprint.md
  webclient/src/md/privacy.md
Due: none

formatting adjustments
  webclient/src/md/datenschutz.md
  webclient/src/md/impressum.md
  webclient/src/md/imprint.md
  webclient/src/md/privacy.md
Due: none

formatting fixes
  .prettierignore
  deployment/ansible/roles/k8s-components/tasks/components/argocd.yml
  deployment/ansible/roles/k8s-components/tasks/monitoring/fairlight.yml
  deployment/ansible/roles/k8s-components/tasks/monitoring/prometheus.yml
  deployment/ansible/roles/k8s-components/tasks/monitoring/pushgateway.yml
  deployment/k3s/templates/deployments/calendar/posgres-deployment.yaml
  deployment/k3s/templates/deployments/calendar/postgres-volume.yaml
  deployment/k3s/templates/networking/service.yaml
  server/feedback/README.md
Due: none

Added a testcase for #540
  server/main-api/test/test-queries.yaml
Due: none

Data protection Rework (#532)
  webclient/src/i18n.yaml
  webclient/src/md/datenschutz.md
  webclient/src/md/impressum.md
  webclient/src/md/imprint.md
  webclient/src/md/privacy.md
Due: none

added a comment about `0509.02.952` Resolves #478
  data/sources/02_rooms-extended.yaml
Due: none

added user provided coordinate Resolves #539
  data/sources/coordinates/rest.yaml
Due: none

Added the 0509.02.953A to our patches Resolves #477
  data/sources/02_rooms-extended.yaml
Due: none

Changed one WC to the actual reality Resolves #521
  data/sources/02_rooms-extended.yaml
Due: none

migrated ##502
  webclient/src/api_types/index.ts
  webclient/src/components/FeedbackModal.vue
Due: none

migrated #532
  webclient/src/assets/md/imprint.md
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
Due: none

made shure that all adresses in our imprint have the same formatting
  webclient/src/md/datenschutz.md
  webclient/src/md/impressum.md
  webclient/src/md/imprint.md
  webclient/src/md/privacy.md
Due: none

fixed two minor translation/formatting inconsistencys in our data protection policy
  webclient/src/md/datenschutz.md
  webclient/src/md/privacy.md
Due: none

Changed the API of the calendar to work with the calendar frontend
  openapi.yaml
  server/calendar/migrations/2023-04-21-143407_add_tumonline_id/down.sql
  server/calendar/migrations/2023-04-21-143407_add_tumonline_id/up.sql
  server/calendar/src/calendar.rs
  server/calendar/src/models.rs
  server/calendar/src/schema.rs
  server/calendar/src/scrape_task/tumonline_calendar_connector.rs
Due: openapi-format

fixed id for calendar entries not being required
  openapi.yaml
Due: openapi-format

fixed typo in one of the response fileds of the calendar api
  openapi.yaml
Due: openapi-format

increased the agressiveness of the refresh-calendar-slow tier
  deployment/k3s/templates/deployments/calendar/calendar-cronjob.yaml
  deployment/k3s/values.yaml
Due: none

Added user proveded coordinate and name Resolves #549 Resolves #543
  data/sources/02_rooms-extended.yaml
  data/sources/coordinates/rest.yaml
Due: none

Fixed a few typos in our data protection policy
  webclient/src/md/datenschutz.md
Due: none

Added user provided coordinates Resolves #550 Resolves #551 Resolves #553
  data/sources/coordinates/550x-551x_mw.yaml
  data/sources/coordinates/rest.yaml
Due: none

Change arguments for scrolling (still sometimes not working properly yet)
  webclient/src/router.ts
Due: none

Add user provided coordinate in RiWa 3 (2911)
  data/sources/coordinates/rest.yaml
Due: none

added the tum logo to the webclient
  webclient/src/assets/tum_logo.min.svg
  webclient/src/i18n.yaml
  webclient/src/index.html
  webclient/src/main.scss
Due: none

Fix overlap for medium width and define size in pixels
  webclient/src/index.html
  webclient/src/main.scss
Due: none

CCC-Requirement: Added TUM Logo (#552)
  webclient/src/assets/tum_logo.min.svg
  webclient/src/i18n.yaml
  webclient/src/index.html
  webclient/src/main.scss
Due: none

Add floor patch for 0507.03.750
  data/sources/02_rooms-extended.yaml
Due: none

removed fields like contact, corona and bauarbeiten from the dump as via email exchange with phvl
  data/external/scrapers/nat.py
  data/translations.yaml
Due: mypy, pylint

removed "orgs" as a thing we adpot from the nat roomfinder
  data/external/scrapers/nat.py
Due: mypy, pylint

refactored how translations are extracted
  data/external/scrapers/nat.py
Due: mypy, pylint

migrated the addition of the TUM logo
  webclient/src/App.vue
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
Due: none

translated POIs
  data/processors/poi.py
  data/translations.yaml
Due: mypy, pylint

fixed some rooms having null as an operator name, just because this org has been retired
  data/processors/tumonline.py
  data/translations.yaml
  data/utils.py
Due: mypy, pylint
