Repository TUM-Dev/NavigaTUM: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-format, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-ast
      - id: check-toml
      - id: check-yaml
        args:
          - --allow-multiple-documents
        exclude: "data/data_format_geo-entry.yaml"
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-case-conflict
      - id: check-docstring-first
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: requirements-txt-fixer
  # only api
  - repo: local
    hooks:
      - id: openapi-format
        name: openapi-format
        entry: openapi-format ./openapi.yaml --output
        language: system
        files: "openapi.yaml"
  # only server
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd server && cargo fmt'
        language: system
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        entry: bash -c 'cd server && cargo check'
        language: system
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c 'cd server && cargo clippy'
        language: system
        pass_filenames: false
  # only webclient
  - repo: https://github.com/paulhfischer/prettier-config
    rev: v1.4.0
    hooks:
      - id: lint
  - repo: https://github.com/paulhfischer/stylelint-config
    rev: v1.3.0
    hooks:
      - id: lint
        files: \.(css|scss|sass)$
  - repo: https://github.com/paulhfischer/eslint-config-javascript
    rev: v1.8.4
    hooks:
      - id: lint
  # only data
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.2.3
    hooks:
      - id: add-trailing-comma
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-use-type-annotations
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
  - repo: https://gitlab.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-broken-line
          - flake8-commas
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-mutable
          - flake8-return
          - flake8-typing-imports
          - flake8-simplify
          - flake8-print
          - flake8-use-fstring
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: migrations

fixed `Cannot GET /s/`
  deployment/kubernetes/ingress/stripprefix-middleware.yaml
Due: none

added --public_url to the tileserver args, to maybe serve all the assets from the right directory
  deployment/kubernetes/server/maps-deployment.yaml
  deployment/kubernetes/service.yaml
Due: none

changed public_url to a fully qualified name to test, if this is the issue, why tileserver is throwing tantrums
  deployment/kubernetes/server/maps-deployment.yaml
Due: none

added a resource limit on the tileserver to avoid it OOM
  deployment/kubernetes/server/maps-deployment.yaml
Due: none

added a liveness probe to the tileserver
  deployment/kubernetes/server/maps-deployment.yaml
Due: none

clarified the documentation of TranslatableStr
  data/utils.py
Due: mypy, pylint

changed the operationsId of the details api to details, to not get confused by users generating an client
  openapi.yaml
Due: openapi-format

documented the API change
  openapi.yaml
Due: openapi-format

fixed that the cookies are not transmitted due to cors errors
  server/src/main.rs
  webclient/src/core.js
Due: none

added the ability to pass lang as a query parameter
  server/src/core/get.rs
Due: none

made the "translatability check more strict"
  server/load_api_data_to_db.py
Due: mypy, pylint

added locale handling for /get/:id to the backend
  openapi.yaml
  server/load_api_data_to_db.py
  server/src/core/get.rs
  server/src/feedback.rs
Due: openapi-format, mypy, pylint

fixed a typo
  data/translations.yaml
Due: none

Made an import more elegant
  data/processors/sections.py
Due: mypy, pylint

added TranslatableStr to the data preprocessor
  data/processors/sections.py
  data/requirements.txt
  data/translations.yaml
  data/utils.py
  setup.cfg
Due: mypy, pylint

fixed a typo
  server/src/main.rs
Due: none

migrated the webclient to the new dataformat of comments
  openapi.yaml
  webclient/src/views/view/view-view.inc
Due: openapi-format

removed the missing-imports check from mypy, because it kept causing errors which are unresolvable
  .pre-commit-config.yaml
  data/external/downloader.py
  data/processors/sitemap.py
Due: mypy, pylint

added translations.yaml to the Dockerfile
  data/Dockerfile
Due: none

removed duplicate path param removed unnecessary checks for meili existence
  deployment/k3s/templates/application.yaml
Due: none

added a deployment yaml which makes the deploy.sh callable from our CI/CD pipeline
  .github/workflows/deploy.yaml
Due: none

Migrated our projects kubernetes config to a helm chart
  deployment/k3s/Chart.yaml
  deployment/k3s/templates/deployments/data-deployment.yaml
  deployment/k3s/templates/deployments/maps-deployment.yaml
  deployment/k3s/templates/deployments/server-deployment.yaml
  deployment/k3s/templates/deployments/webclient-deployment.yaml
  deployment/k3s/templates/ingress/https-cert.yaml
  deployment/k3s/templates/ingress/https-middleware.yaml
  deployment/k3s/templates/ingress/ingress.yaml
  deployment/k3s/templates/ingress/stripprefix-middleware.yaml
  deployment/k3s/templates/service.yaml
  deployment/k3s/templates/volumes/tileserver.yaml
  deployment/k3s/values.yaml
Due: none

documented these changes
  deployment/README.md
Due: none

inital draft of publishing script
  deployment/publish.sh
Due: none

inverted the git status check
  deployment/publish.sh
Due: none

fixed a bug in checking out the master+deployment branch of our publishing script
  deployment/publish.sh
Due: none

fixed issue of opening the wrong path
  deployment/publish.sh
Due: none

Website/API Localisation for `/api/get/:id` (#198)
  .pre-commit-config.yaml
  data/Dockerfile
  data/external/downloader.py
  data/processors/sections.py
  data/processors/sitemap.py
  data/requirements.txt
  data/translations.yaml
  data/utils.py
  openapi.yaml
  server/load_api_data_to_db.py
  server/src/core/get.rs
  server/src/feedback.rs
  server/src/main.rs
  setup.cfg
  webclient/src/core.js
  webclient/src/views/view/view-view.inc
Due: openapi-format, mypy, pylint

Env based deployment (#203)
  .github/workflows/deploy.yaml
  deployment/README.md
  deployment/k3s/Chart.yaml
  deployment/k3s/templates/application.yaml
  deployment/k3s/templates/deployments/data-deployment.yaml
  deployment/k3s/templates/deployments/maps-deployment.yaml
  deployment/k3s/templates/deployments/server-deployment.yaml
  deployment/k3s/templates/deployments/webclient-deployment.yaml
  deployment/k3s/templates/ingress/https-cert.yaml
  deployment/k3s/templates/ingress/https-middleware.yaml
  deployment/k3s/templates/ingress/ingress.yaml
  deployment/k3s/templates/ingress/stripprefix-middleware.yaml
  deployment/k3s/templates/service.yaml
  deployment/k3s/templates/volumes/tileserver.yaml
  deployment/k3s/values.yaml
  deployment/publish.sh
Due: none

added aditonal debug statements to debug performance issues
  server/src/maps/mod.rs
Due: none

fixed how images are generated
  server/src/maps/mod.rs
Due: none

removed useless newline
  server/src/maps/mod.rs
Due: none

fixed how we calculate if a tile is in range
  server/src/maps/mod.rs
Due: none
