Repository TUM-Dev/NavigaTUM: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-format, mypy, pylint

openapi-format:
  name: openapi-format
  entry: openapi-format ./openapi.yaml --output
  language: system

mypy:
  name: mypy
  entry: mypy --ignore-missing-imports
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

bumped cached to v0.45.1 (#803)
  server/Cargo.lock
  server/main-api/Cargo.toml
Due: none

removed the `allowComposition` option of `vue-i18n` as asked by the migration guide to 9.3
  webclient/src/main.ts
Due: none

fixed the flaky slugification testcase
  server/main-api/src/search/search_executor/lexer.rs
Due: none

feat(geo-search-1):added the ability to export the coordinates via meilisearch (#801)
  data/processors/export.py
Due: mypy, pylint

fixed the search not allowing to filter for words with spaces
  data/processors/export.py
  server/Cargo.lock
  server/main-api/Cargo.toml
  server/main-api/src/search/search_executor/lexer.rs
Due: mypy, pylint

chore:vectorised `api_data.json` (#800)
  data/processors/export.py
  data/processors/poi.py
  data/processors/sitemap.py
  server/calendar/src/scrape_task/main_api_connector.rs
  server/main-api/load_api_data_to_db.py
Due: mypy, pylint

Revert "added debug information to the main dockerfile to check what is different locally vs in prod"
  server/Dockerfile
Due: none

enabled result checking of meili-tasks and temporarily removed the _geo property
  server/main-api/src/setup/meilisearch.rs
Due: none

linting fix
  data/processors/export.py
Due: mypy, pylint

fixed the database location problem finally
  server/main-api/src/setup/database/mod.rs
  server/main-api/src/utils.rs
Due: none

removed lockfilemaintanace
  renovate.json
Due: none

bumped pre-commit dependencys
  .pre-commit-config.yaml
Due: none

re-enabled the `_geo` sortabale attribute
  server/main-api/src/setup/meilisearch.rs
Due: none

fixed the `id`s of POIs not being set (#802)
  data/processors/poi.py
Due: mypy, pylint

feat(geo-search-3):Implemented a Geo search parameter (#805)
  renovate.json
  server/main-api/src/search/search_executor/lexer.rs
  server/main-api/src/search/search_executor/mod.rs
  server/main-api/src/search/search_executor/parser.rs
  server/main-api/src/search/search_executor/query.rs
Due: none

added umlaute to the slugged values
  data/processors/export.py
  server/main-api/src/search/search_executor/lexer.rs
Due: mypy, pylint

fixed that `tileserver-init-sprites` cannot correctly restart itsself
  deployment/k3s/templates/deployments/maps/maps-deployment.yaml
Due: none

fixed an invalid database location
  deployment/k3s/templates/deployments/server-deployment.yaml
  server/main-api/src/utils.rs
Due: none

fixed the import order of packages to make the linter happy
  data/processors/export.py
Due: mypy, pylint

fixed the regexes being different across the two slugifiers and the lexer
  data/processors/export.py
  server/main-api/src/search/search_executor/lexer.rs
Due: mypy, pylint

fix(): fixed typo in openapi spec (#843)
  openapi.yaml
Due: openapi-format

removed nav.tum.app from the certificate and the ingress as it is pointing into nowere and is preventing cert-aquirance
  deployment/k3s/templates/networking/https-cert.yaml
  deployment/k3s/templates/networking/ingress.yaml
Due: none

chore/local i18n (#864)
  .github/workflows/webclient-cicd.yml
  .pre-commit-config.yaml
  webclient/.gitignore
  webclient/index.html
  webclient/package.json
  webclient/pnpm-lock.yaml
  webclient/src/components/AppFooter.vue
  webclient/src/components/AppLanguageToggler.vue
  webclient/src/components/AppNavHeader.vue
  webclient/src/components/AppSearchBar.vue
  webclient/src/components/AppThemeToggler.vue
  webclient/src/components/DetailsBuildingOverviewSection.vue
  webclient/src/components/DetailsFeaturedOverviewSection.vue
  webclient/src/components/DetailsFeedbackButton.vue
  webclient/src/components/DetailsImageSlideshowModal.vue
  webclient/src/components/DetailsInfoSection.vue
  webclient/src/components/DetailsInteractiveMap.vue
  webclient/src/components/DetailsPropertyTable.vue
  webclient/src/components/DetailsRoomOverviewSection.vue
  webclient/src/components/DetailsRoomfinderMap.vue
  webclient/src/components/DetailsSources.vue
  webclient/src/components/ShareButton.vue
  webclient/src/components/TinyModal.vue
  webclient/src/components/feedback/FeedbackModal.vue
  webclient/src/components/feedback/TokenBasedModal.vue
  webclient/src/locales/check_locales.py
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
  webclient/src/main.ts
  webclient/src/modules/autocomplete.ts
  webclient/src/modules/outdatedBrowser.ts
  webclient/src/pages/[...slug].vue
  webclient/src/pages/index.vue
  webclient/src/pages/search.vue
  webclient/src/pages/view/[id].vue
Due: mypy, pylint

added a coordinate-patch for `0509.Z1.995` Resolves #862
  data/sources/coordinates/rest.yaml
Due: none

migrated from rbg sentry to our glitchtip instance
  webclient/src/main.ts
Due: none

fixed the room type of two rooms Resolves #850 Resolves #851
  data/sources/02_rooms-extended.yaml
Due: none

feat:structured logging (#819)
  server/Cargo.lock
  server/Cargo.toml
  server/calendar/Cargo.toml
  server/calendar/src/main.rs
  server/calendar/src/scraper.rs
  server/feedback/Cargo.toml
  server/feedback/src/main.rs
  server/feedback/src/proposed_edits/tmp_repo.rs
  server/main-api/Cargo.toml
  server/main-api/src/main.rs
Due: none

added plausible analytics
  webclient/index.html
Due: none

chore:data update (#836)
  data/compile.py
  data/external/models/nat.py
  data/processors/areatree/config.areatree
  data/processors/sitemap.py
  data/sources/01_areas-extended.yaml
  data/translations.yaml
  data/utils.py
Due: mypy, pylint

improved the log messages on server startup
  server/main-api/src/main.rs
Due: none

chore:migrated the main api to sqlx (#825)
  server/.sqlx/query-12fcf6d9b61300d488f1f0099e0f4f2e40f4a123327f912324435bd9ba8481c1.json
  server/.sqlx/query-1dd631d6d3f59f92d7a45f9599fe945c0d4355576c2675f7694f4fdc3b8b55a0.json
  server/.sqlx/query-9c731c313e4a8940a38ce04a0fe6a1c1a154b3dc74ee459e865623085638aadf.json
  server/.sqlx/query-ca4c11b14efa6564387df4dbc475539734b181798e2dba867f40bc460c7b9a3a.json
  server/.sqlx/query-fe271671edc17aafa97e4da7ea8d7097d4186c3eb97649a45abc378fc8a2a83b.json
  server/Cargo.lock
  server/Dockerfile
  server/main-api/Cargo.toml
  server/main-api/diesel.toml
  server/main-api/src/entries/get.rs
  server/main-api/src/main.rs
  server/main-api/src/maps/mod.rs
  server/main-api/src/maps/overlay_map.rs
  server/main-api/src/models.rs
  server/main-api/src/schema.rs
  server/main-api/src/utils.rs
Due: none

fixed one translation being referenced wrong
  webclient/src/components/feedback/TokenBasedModal.vue
Due: none

removed failing i18n build for the frontend
  webclient/build.sh
Due: none

fixed the webclient-cicd failing due to a missing file
  .github/workflows/webclient-cicd.yml
Due: none

added a .spectral.mjs file
  .spectral.mjs
Due: none

fixed linting issues
  resources/documentation/Dependencys.md
  webclient/src/components/feedback/TokenBasedModal.vue
  webclient/src/main.ts
Due: none

added a few testcases to the search quality test
  server/main-api/test/printer.py
  server/main-api/test/search_quality_test.py
  server/main-api/test/test-queries.yaml
Due: mypy, pylint

updated to newer vue with BrowserTracing integrated
  webclient/src/main.ts
Due: none

added a lockfile
  webclient/pnpm-lock.yaml
Due: none

updated our docs to not refer to npm but instead to pnpm
  resources/documentation/Dependencys.md
  webclient/README.md
  webclient/package-lock.json
Due: none

Path conditions:
  openapi-format: any of: openapi.yaml
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: migrations
