Repository TUM-Dev/NavigaTUM: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-format, mypy, pylint

openapi-format:
  name: openapi-format
  entry: openapi-format ./openapi.yaml --output
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

Remove arch_name extracting code (no longer used)
  data/processors/sections.py
Due: mypy, pylint

Apply suggestions for the TranslatableStr concatenation
  data/utils.py
Due: mypy, pylint

Simplify floor information for trivial cases
  data/data_format_geo-entry.yaml
  data/processors/sections.py
Due: mypy, pylint

Deduplicate the floor level from the address field
  data/processors/structure.py
Due: mypy, pylint

Removed debug statement
  data/processors/structure.py
Due: mypy, pylint

Move _build_sorted_floor_list() into _get_floor_details()
  data/processors/sections.py
Due: mypy, pylint

Improve translations from review
  data/translations.yaml
Due: none

Resolve issues with the CH building
  data/processors/sections.py
  data/sources/00_areatree
  data/sources/01_areas-extended.yaml
Due: mypy, pylint

Don't describe collection process in the comment (as it's explained already in the relevant function docs)
  data/processors/sections.py
Due: mypy, pylint

Linting fixes
  data/processors/sections.py
  data/translations.yaml
Due: mypy, pylint

Improve counter translation to English
  data/processors/sections.py
  data/translations.yaml
Due: mypy, pylint

Simplify one expression
  data/processors/sections.py
Due: mypy, pylint

Remove unused variable
  data/processors/sections.py
Due: mypy, pylint

Merge two ifs
  data/processors/sections.py
Due: mypy, pylint

Use match/case for _get_floor_name_and_type()
  data/processors/sections.py
Due: mypy, pylint

Add floor property for the intotable
  data/compile.py
  data/processors/sections.py
  data/sources/01_areas-extended.yaml
  data/sources/02_rooms-extended.yaml
  data/translations.yaml
  data/utils.py
Due: mypy, pylint

Add a floor property for the infotable (#401)
  data/compile.py
  data/data_format_geo-entry.yaml
  data/processors/sections.py
  data/processors/structure.py
  data/processors/tumonline.py
  data/sources/00_areatree
  data/sources/01_areas-extended.yaml
  data/sources/02_rooms-extended.yaml
  data/translations.yaml
  data/utils.py
  openapi.yaml
Due: openapi-format, mypy, pylint

added user provided coordinates Resolves #407 Resolves #408 Resolves #409 Resolves #411
  data/sources/02_coordinates.yaml
Due: none

formatting fixes
  .github/workflows/ci.yml
  .github/workflows/restart-argocd.yaml
  data/processors/sections.py
  deployment/README.md
  deployment/ansible/.gitignore
  deployment/ansible/group_vars/all.yml
  deployment/ansible/roles/common/handlers/main.yml
  deployment/ansible/roles/common/tasks/fail2ban.yml
  deployment/ansible/roles/common/tasks/main.yml
  deployment/ansible/roles/common/tasks/settings.yml
  deployment/ansible/roles/common/tasks/ufw.yml
  deployment/ansible/roles/common/templates/lrz-base-automatic-reboot.j2
  deployment/ansible/roles/k8s/tasks/components/cert-manager.yml
  deployment/ansible/roles/k8s/tasks/components/kuma.yml
  deployment/ansible/roles/k8s/tasks/k3s_network.yml
  deployment/ansible/roles/k8s/tasks/k3s_setup.yml
  deployment/ansible/roles/k8s/tasks/main.yml
  deployment/ansible/roles/k8s/templates/argocd.yaml
  deployment/ansible/roles/k8s/templates/cert-manager.yaml
  deployment/ansible/roles/k8s/templates/traefik.yaml
  deployment/k3s/templates/deployments/maps/tileserver-config.yaml
  deployment/k3s/templates/networking/middleware/cache-2-months-middleware.yaml
  openapi.yaml
  server/README.md
  webclient/src/views/view/view-view.inc
  webclient/src/views/view/view-view.js
  webclient/src/views/view/view-view.scss
Due: openapi-format, mypy, pylint

added an export for props.operator to the details-api
  data/compile.py
  data/processors/sections.py
  openapi.yaml
Due: openapi-format, mypy, pylint

fixed the pre-commit script not touching the server microservces Implemented formatting changes
  .pre-commit-config.yaml
  data/processors/merge.py
  server/main-api/src/core/search/search_executor/mod.rs
  server/main-api/src/maps/fetch_tile.rs
Due: mypy, pylint

fixed a few other things flake8 and mypy were angry about
  data/processors/merge.py
  data/processors/sections.py
  server/calendar/init_db.py
Due: mypy, pylint

Add 'operator' to exported properties
  data/processors/export.py
Due: mypy, pylint

Merge in operator names
  data/external/main.py
  data/external/results/orgs-de_tumonline.json
  data/external/results/orgs-en_tumonline.json
  data/external/scrapers/tumonline.py
  data/processors/sections.py
  data/processors/tumonline.py
Due: mypy, pylint

Adjusted the docstring of the function
  data/processors/sections.py
Due: mypy, pylint

added an export for props.operator to the details-api (#412)
  data/compile.py
  data/processors/export.py
  data/processors/sections.py
  openapi.yaml
Due: openapi-format, mypy, pylint

moved the dockerignor file on direcory down to facilitate faster builds
  server/calendar/.dockerignore
  server/feedback/.dockerignore
  server/main-api/.dockerignore
Due: none

Fix data duplication
  data/processors/tumonline.py
Due: mypy, pylint

Update documentation
  openapi.yaml
Due: openapi-format

Move operator processing code from sections.py to tumonline.py
  data/processors/sections.py
  data/processors/tumonline.py
Due: mypy, pylint

Linting fixes
  data/processors/sections.py
  data/processors/tumonline.py
Due: mypy, pylint

Add user provided coordinates in MW and WZW
  data/sources/02_coordinates.yaml
Due: none

Add Chemie Roomfinder maps
  data/sources/45_custom-maps.yaml
  data/sources/img-sources/maps/chemie_roomfinder.svg
  data/sources/img/maps/roomfinder/chemie_0.webp
  data/sources/img/maps/roomfinder/chemie_1.webp
  data/sources/img/maps/roomfinder/chemie_2.webp
  data/sources/img/maps/roomfinder/chemie_3.webp
  data/sources/img/maps/roomfinder/chemie_4.webp
Due: none

Fix flake8 Repo URL
  .pre-commit-config.yaml
Due: none

Add Roomfinder-like maps for CH (#416)
  data/sources/45_custom-maps.yaml
  data/sources/img-sources/maps/chemie_roomfinder.svg
  data/sources/img/maps/roomfinder/chemie_0.webp
  data/sources/img/maps/roomfinder/chemie_1.webp
  data/sources/img/maps/roomfinder/chemie_2.webp
  data/sources/img/maps/roomfinder/chemie_3.webp
  data/sources/img/maps/roomfinder/chemie_4.webp
Due: none

Merge in operator names (#413)
  data/external/main.py
  data/external/results/orgs-de_tumonline.json
  data/external/results/orgs-en_tumonline.json
  data/external/scrapers/tumonline.py
  data/processors/sections.py
  data/processors/tumonline.py
  openapi.yaml
Due: openapi-format, mypy, pylint

added plans for the studitum-innenstadt
  data/sources/46_overlay-maps.yaml
  data/sources/img-sources/maps/studitum-innenstadt.svg
  data/sources/img/maps/overlay/0201_0.webp
  data/sources/img/maps/overlay/0201_1.webp
  data/sources/img/maps/overlay/0201_2.webp
  data/sources/img/maps/overlay/0201_3.webp
  data/sources/img/maps/roomfinder/0201_0.webp
  data/sources/img/maps/roomfinder/0201_1.webp
  data/sources/img/maps/roomfinder/0201_2.webp
  data/sources/img/maps/roomfinder/0201_3.webp
Due: none

Restore SVG for all floors and adapt more square layout
  data/sources/45_custom-maps.yaml
  data/sources/46_overlay-maps.yaml
  data/sources/img-sources/maps/studitum-innenstadt.svg
  data/sources/img/maps/overlay/0201_0.webp
  data/sources/img/maps/overlay/0201_1.webp
  data/sources/img/maps/overlay/0201_2.webp
  data/sources/img/maps/overlay/0201_3.webp
  data/sources/img/maps/roomfinder/0201_0.webp
  data/sources/img/maps/roomfinder/0201_1.webp
  data/sources/img/maps/roomfinder/0201_2.webp
  data/sources/img/maps/roomfinder/0201_3.webp
Due: none

Improve alignment
  data/sources/45_custom-maps.yaml
  data/sources/46_overlay-maps.yaml
Due: none

Add room coordinates (sometimes overwriting the unprecise Roomfinder coordinates)
  data/sources/02_coordinates.yaml
Due: none

Path conditions:
  openapi-format: any of: openapi.yaml
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: migrations
