Repository TUM-Dev/NavigaTUM: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-format, mypy, pylint

openapi-format:
  name: openapi-format
  entry: openapi-format ./openapi.yaml --output
  language: system

mypy:
  name: mypy
  entry: mypy --ignore-missing-imports
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

Fixed how LinkProp is documented
  openapi.yaml
Due: openapi-format

Added longhorn as a storage provider
  deployment/ansible/roles/k8s-components/tasks/longhorn.yml
  deployment/ansible/roles/k8s-components/tasks/main.yml
  deployment/ansible/roles/k8s/tasks/longhorn-requirements.yml
  deployment/ansible/roles/k8s/tasks/main.yml
Due: none

added penpot as a design tool
  deployment/ansible/roles/k8s-components/tasks/components/penpot.yml
Due: none

reverted the removal of meiliserarch in the Service
  deployment/k3s/templates/networking/service.yaml
Due: none

[autoscraper-3] Data update (#464)
  data/external/scrapers/tumonline.py
Due: mypy, pylint

bumped argocd and uptime-kuma dependencys
  deployment/ansible/roles/k8s-components/tasks/components/argocd.yml
  deployment/ansible/roles/k8s-components/tasks/components/kuma.yml
Due: none

removed the resourse requests of the main server
  deployment/k3s/templates/deployments/server-deployment.yaml
Due: none

migrated the statefull services to use longhorn instead of local-path - migrated grafana - migrated kuma - migrated penpot
  deployment/ansible/roles/k8s-components/tasks/components/grafana.yml
  deployment/ansible/roles/k8s-components/tasks/components/kuma.yml
  deployment/ansible/roles/k8s-components/tasks/components/penpot.yml
Due: none

fixed the penpot image tags
  deployment/ansible/roles/k8s-components/tasks/components/penpot.yml
Due: none

formatting fixes
  data/processors/coords.py
  data/processors/export.py
  data/processors/nat.py
  deployment/ansible/roles/k8s-components/tasks/components/argocd.yml
  deployment/ansible/roles/k8s-components/tasks/longhorn.yml
  deployment/ansible/roles/k8s/tasks/longhorn-requirements.yml
  deployment/k3s/templates/deployments/calendar/calendar-cronjob.yaml
  deployment/k3s/templates/deployments/calendar/posgres-deployment.yaml
  deployment/k3s/values.yaml
  openapi.yaml
  server/calendar/README.md
  server/calendar/migrations/2023-03-23-144107_create_calendar/down.sql
  server/calendar/migrations/2023-03-23-144107_create_calendar/up.sql
  server/calendar/migrations/2023-03-23-144504_add_index/down.sql
  server/calendar/migrations/2023-03-23-144504_add_index/up.sql
  setup.cfg
Due: openapi-format, mypy, pylint

fixed calendar cronjobs depending on nonexistant persistant volumes
  deployment/k3s/templates/deployments/calendar/calendar-cronjob.yaml
Due: none

added fairlight to the monitoring stack
  deployment/ansible/roles/k8s-components/tasks/monitoring/fairlight.yml
Due: none

Removed Rendertron for security concearns
  deployment/k3s/templates/deployments/web/rendertron-deployment.yaml
  deployment/k3s/templates/networking/ingress.yaml
  deployment/k3s/templates/networking/middleware/stripprefix-middleware.yaml
  deployment/k3s/templates/networking/service.yaml
  webclient/nginx.conf
Due: none

[Cal-7] Cron based calendar scraping (#452)
  deployment/k3s/templates/deployments/backend/calendar-cronjob.yaml
  deployment/k3s/templates/deployments/backend/calendar-deployment.yaml
  deployment/k3s/templates/deployments/backend/calendar-volume.yaml
  deployment/k3s/values.yaml
  server/calendar/Cargo.lock
  server/calendar/Cargo.toml
  server/calendar/Dockerfile.server
  server/calendar/src/calendar.rs
  server/calendar/src/main.rs
  server/calendar/src/models.rs
  server/calendar/src/scrape_task/main_api_connector.rs
  server/calendar/src/scrape_task/mod.rs
  server/calendar/src/scrape_task/scrape_room_task.rs
  server/calendar/src/scrape_task/statistics.rs
  server/calendar/src/scrape_task/tumonline_calendar_connector.rs
  server/calendar/src/scraper.rs
  server/calendar/src/scraping/continous_scraping.rs
  server/calendar/src/scraping/mod.rs
  server/calendar/src/utils/mod.rs
Due: none

bumped cargo lock internals for rebasing reasons
  server/calendar/Cargo.lock
  server/feedback/Cargo.lock
  server/main-api/Cargo.lock
Due: none

[NAT-3] Nat Buildings (#362)
  data/compile.py
  data/data_format_geo-entry.yaml
  data/processors/coords.py
  data/processors/export.py
  data/processors/nat.py
  data/sources/00_areatree
  data/sources/01_areas-extended.yaml
  data/sources/12_nat_excluded_buildings.yaml
Due: mypy, pylint

refactored `_guess_queries()` to have less code repetition
  data/external/scrapers/roomfinder.py
Due: mypy, pylint

temporarily disabled waiting for the kubernetes chart to be deployed
  deployment/ansible/roles/k8s-components/tasks/components/argocd.yml
Due: none

reduced the memory drain of some deployments
  deployment/k3s/templates/deployments/backend/calendar-deployment.yaml
  deployment/k3s/templates/deployments/maps/maps-deployment.yaml
Due: none

improved the connection security between penpot and the database
  deployment/ansible/roles/k8s-components/tasks/components/penpot.yml
Due: none

Added sources to the openapi specs
  openapi.yaml
Due: openapi-format

dependency bump to some of our transitive dependencys Removal of the unused rustc-serialise feature of chrono
  server/calendar/Cargo.lock
  server/calendar/Cargo.toml
  server/feedback/Cargo.lock
  server/main-api/Cargo.lock
Due: none

fixed the databse of penpot not being in longhorn
  deployment/ansible/roles/k8s-components/tasks/components/penpot.yml
Due: none

added helm diff to the helm plugins for better change detection
  deployment/ansible/roles/k8s/tasks/install/helm.yml
  deployment/ansible/roles/k8s/tasks/install/k3s.yml
  deployment/ansible/roles/k8s/tasks/install/longhorn-requirements.yml
  deployment/ansible/roles/k8s/tasks/main.yml
Due: none

[Cal-8] `reqwest` based calendar scraping (#453)
  server/calendar/Cargo.lock
  server/calendar/Cargo.toml
  server/calendar/src/scrape_task/main_api_connector.rs
  server/calendar/src/scrape_task/mod.rs
  server/calendar/src/scrape_task/tumonline_calendar_connector.rs
Due: none

fixed postgres being instantiated in staiging branches
  deployment/k3s/templates/deployments/calendar/posgres-deployment.yaml
  deployment/k3s/templates/deployments/calendar/postgres-volume.yaml
Due: none

adjusted the resources we give our tileserver
  deployment/k3s/templates/deployments/maps/maps-deployment.yaml
Due: none

[Cal-11] Postgres (#471)
  deployment/k3s/templates/deployments/calendar/calendar-cronjob.yaml
  deployment/k3s/templates/deployments/calendar/calendar-deployment.yaml
  deployment/k3s/templates/deployments/calendar/posgres-deployment.yaml
  deployment/k3s/templates/deployments/calendar/postgres-volume.yaml
  deployment/k3s/templates/deployments/feedback-deployment.yaml
  deployment/k3s/templates/deployments/server-deployment.yaml
  server/calendar/Cargo.lock
  server/calendar/Cargo.toml
  server/calendar/README.md
  server/calendar/init_db.py
  server/calendar/migrations/00000000000000_diesel_initial_setup/down.sql
  server/calendar/migrations/00000000000000_diesel_initial_setup/up.sql
  server/calendar/migrations/2023-03-23-144107_create_calendar/down.sql
  server/calendar/migrations/2023-03-23-144107_create_calendar/up.sql
  server/calendar/migrations/2023-03-23-144504_add_index/down.sql
  server/calendar/migrations/2023-03-23-144504_add_index/up.sql
  server/calendar/src/main.rs
  server/calendar/src/schema.rs
  server/calendar/src/utils.rs
  server/calendar/src/utils/mod.rs
Due: mypy, pylint

unified how services are named
  deployment/k3s/templates/deployments/calendar/posgres-deployment.yaml
  deployment/k3s/templates/networking/service.yaml
Due: none

[Cal-9] Pipelined scraper (#454)
  server/calendar/src/scrape_task/mod.rs
Due: none

bumped the formatting suites versions
  .pre-commit-config.yaml
  data/external/scrapers/tumonline.py
  data/processors/tumonline.py
  deployment/k3s/templates/namespace.yaml
  server/main-api/test/search_test.py
  webclient/package.json
  webclient/src/views/404/view-404.scss
Due: mypy, pylint

[autoscraping-4] Agressive guessing for roomfinder rooms (#463)
  data/external/scrapers/roomfinder.py
Due: mypy, pylint

fixed the POSTGRES_URL pointing to an nonexistant service
  deployment/k3s/templates/deployments/calendar/calendar-cronjob.yaml
  deployment/k3s/templates/deployments/calendar/calendar-deployment.yaml
Due: none

bumped the uptime kuma version
  deployment/ansible/roles/k8s-components/tasks/components/kuma.yml
Due: none

Added user proveded coordinate and name Resolves #549 Resolves #543
  data/sources/02_rooms-extended.yaml
  data/sources/coordinates/rest.yaml
Due: none

adjusted the way we log errors in the scraper to detect issues with our configuration better
  server/calendar/src/scrape_task/main_api_connector.rs
Due: none

[feedback-pipeline-4] `image-sources.yaml` regularisation (#507)
  data/processors/images.py
  data/sources/img/img-sources.yaml
Due: mypy, pylint

Changed the API of the calendar to work with the calendar frontend
  openapi.yaml
  server/calendar/migrations/2023-04-21-143407_add_tumonline_id/down.sql
  server/calendar/migrations/2023-04-21-143407_add_tumonline_id/up.sql
  server/calendar/src/calendar.rs
  server/calendar/src/models.rs
  server/calendar/src/schema.rs
  server/calendar/src/scrape_task/tumonline_calendar_connector.rs
Due: openapi-format

Added user provided coordinates Resolves #550 Resolves #551 Resolves #553
  data/sources/coordinates/550x-551x_mw.yaml
  data/sources/coordinates/rest.yaml
Due: none

Add user provided coordinate in 4277
  data/sources/coordinates/rest.yaml
Due: none

Path conditions:
  openapi-format: any of: openapi.yaml
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: migrations
