Repository TUM-Dev/NavigaTUM: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-format, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-ast
      - id: check-toml
      - id: check-yaml
        args:
          - --allow-multiple-documents
        exclude: "data/data_format_geo-entry.yaml"
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-case-conflict
      - id: check-docstring-first
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: requirements-txt-fixer
  # only api
  - repo: local
    hooks:
      - id: openapi-format
        name: openapi-format
        entry: openapi-format ./openapi.yaml --output
        language: system
        files: "openapi.yaml"
  # only server
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd server && cargo fmt'
        language: system
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        entry: bash -c 'cd server && cargo check'
        language: system
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c 'cd server && cargo clippy'
        language: system
        pass_filenames: false
  # only webclient
  - repo: https://github.com/paulhfischer/prettier-config
    rev: v1.4.0
    hooks:
      - id: lint
  - repo: https://github.com/paulhfischer/stylelint-config
    rev: v1.3.0
    hooks:
      - id: lint
        files: \.(css|scss|sass)$
  - repo: https://github.com/paulhfischer/eslint-config-javascript
    rev: v1.8.4
    hooks:
      - id: lint
  # only data
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.2.3
    hooks:
      - id: add-trailing-comma
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-use-type-annotations
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
  - repo: https://gitlab.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-broken-line
          - flake8-commas
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-mutable
          - flake8-return
          - flake8-typing-imports
          - flake8-simplify
          - flake8-print
          - flake8-use-fstring
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: migrations

fixed a pathing issue
  data/compile.py
  data/processors/merge.py
Due: mypy, pylint

formatting fixes
  data/external/models/roomfinder.py
  data/processors/maps/roomfinder.py
  data/processors/maps/test_roomfinder.py
Due: mypy, pylint

migrated osm2pgsql to the flex export format
  docker-compose.local.yml
  docker-compose.yml
  map/osm2pgsql/style.lua
Due: none

first draft at a simple indoor import
  docker-compose.local.yml
  docker-compose.yml
  map/osm2pgsql/style.lua
Due: none

made martin expose the relevant tables in the catalog
  map/martin/config.yaml
Due: none

apk usage
  docker-compose.local.yml
  docker-compose.yml
  server/Dockerfile
  webclient/Dockerfile
Due: none

removed odd `sh -c`
  docker-compose.local.yml
Due: none

Flex indoor style (#1435)
  docker-compose.local.yml
  docker-compose.yml
  map/martin/config.yaml
  map/osm2pgsql/style.lua
  server/Dockerfile
  webclient/Dockerfile
Due: none

made sure that docker v25 is not required in prod
  docker-compose.yml
Due: none

made sure that quiet flags are used the same way across the project
  docker-compose.local.yml
  docker-compose.yml
  map/martin/setup.sh
  server/Dockerfile
Due: none

Revert "Refactored `_calc_xy_of_coords_on_map` to have explicite not on the map states"
  data/external/models/roomfinder.py
  data/processors/maps/models.py
  data/processors/maps/roomfinder.py
  data/processors/maps/test_roomfinder.py
Due: mypy, pylint

reverted changes to rf40 as asked in https://github.com/TUM-Dev/NavigaTUM/commit/7e889eef01a01a8b46c881d85e345a427bd5802e#commitcomment-145180908
  data/sources/img/maps/site_plans/rf40.webp
Due: none

made sure that tags in the openapi definition are more sensible
  data/output/openapi.yaml
  webclient/app/api_types/index.ts
Due: openapi-format

added an initial (mostly reverse-engineered) API-design pass for the indoor maps `RemoteMap`
  data/output/openapi.yaml
  map/README.md
  webclient/app/api_types/index.ts
Due: openapi-format

fixed formatting mistakes have sneaked into prod
  webclient/app/api_types/index.ts
Due: none

added an sql view to track which indoor feature exists where
  server/migrations/20240814012328_indoor-features.down.sql
  server/migrations/20240814012328_indoor-features.up.sql
Due: none

made sure that geodata is queryable
  server/Cargo.lock
  server/Cargo.toml
  server/src/maps/indoor.rs
  server/src/maps/mod.rs
Due: none

made sure that geodata is queryable
  data/output/openapi.yaml
  server/Cargo.lock
  server/Cargo.toml
  server/src/main.rs
  server/src/maps/indoor.rs
  server/src/maps/mod.rs
Due: openapi-format

made sure that `JSONArgsRecommended` is followed
  webclient/Dockerfile
Due: none

made sure that the testcases which require geodata access are behind a `test-with-geodata` feature flag
  server/Cargo.toml
  server/src/calendar/mod.rs
  server/src/setup/tests.rs
Due: none

made sure that the server has to wait before the osm initalisation is done (or in prod at least started)
  docker-compose.local.yml
  docker-compose.yml
Due: none

fixed formatting mistakes have sneaked into prod
  server/Cargo.toml
Due: none

migrated from attaching geojsons to adding a `MapServerHandler` to the map
  webclient/app/components/IndoorMap.vue
Due: none

fixed linting errors
  webclient/app/components/IndoorMap.vue
  webclient/package.json
  webclient/pnpm-lock.yaml
Due: none

linting fixes
  server/src/maps/indoor.rs
Due: none

Indoor geodata server (#1442)
  data/output/openapi.yaml
  server/Cargo.lock
  server/Cargo.toml
  server/src/main.rs
  server/src/maps/indoor.rs
  server/src/maps/mod.rs
Due: openapi-format

fixed the `url` paramter for `RemoteMap` not being required in the docs
  data/output/openapi.yaml
Due: openapi-format

removed `--continue --timestamping` options for `wget` as it was corrupting downloads
  docker-compose.local.yml
  docker-compose.yml
Due: none

made sure that the indoor maps are routed to the server
  docker-compose.yml
Due: none

fixed the expected requst method for the indoor maps being wrong
  server/src/maps/indoor.rs
Due: none

fixed an impport having a typo
  server/src/maps/indoor.rs
Due: none

made sure that the bbox argument follows the reverse-engineered schema
  server/src/maps/indoor.rs
Due: none

fixed formatting mistakes have sneaked into prod
  server/src/maps/indoor.rs
  webclient/app/api_types/index.ts
Due: none

made the sql formating more uniform
  server/migrations/20230323144107_create_calendar.up.sql
  server/migrations/20240101134507_migrate_to_tum_calendar.down.sql
  server/migrations/20240101134507_migrate_to_tum_calendar.up.sql
  server/migrations/20240123175552_store_when_last_scrape_happened.down.sql
  server/migrations/20240123175552_store_when_last_scrape_happened.up.sql
  server/migrations/20240505224430_fix-calendar-id-not-extracted.down.sql
  server/migrations/20240505224430_fix-calendar-id-not-extracted.up.sql
  server/migrations/20240509001948_added-cascading-deletions.down.sql
  server/migrations/20240509001948_added-cascading-deletions.up.sql
  server/migrations/20240628192147_hash_based_intialisation.down.sql
  server/migrations/20240628192147_hash_based_intialisation.up.sql
  server/migrations/20240703163202_more_complete_calendar.down.sql
  server/migrations/20240703163202_more_complete_calendar.up.sql
  server/migrations/20240709000000_init_hstore.up.sql
  server/migrations/20240710191621_no_enum_types.down.sql
  server/migrations/20240710191621_no_enum_types.up.sql
  server/migrations/20240727225546_transport.up.sql
  server/migrations/20240814012328_indoor-features.down.sql
  server/migrations/20240814012328_indoor-features.up.sql
Due: none

fixed the indoor maps matching via the wrong intersection mechanism
  server/src/maps/indoor.rs
Due: none

made sure that the srid is set for the bounded geometry to possibly improve the `ST_Intersects` part of the indoor maps
  server/src/maps/indoor.rs
Due: none

Fixed renamed `iso`->`language` Adresses the change in https://github.com/nuxt-modules/i18n/pull/3055
  webclient/nuxt.config.ts
Due: none
