Repository TUM-Dev/NavigaTUM: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-format, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-ast
      - id: check-toml
      - id: check-yaml
        args:
          - --allow-multiple-documents
        exclude: "data/data_format_geo-entry.yaml"
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-case-conflict
      - id: check-docstring-first
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: requirements-txt-fixer
  # only api
  - repo: local
    hooks:
      - id: openapi-format
        name: openapi-format
        entry: openapi-format ./openapi.yaml --output
        language: system
        files: "openapi.yaml"
  # only server
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd server && cargo fmt'
        language: system
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        entry: bash -c 'cd server && cargo check'
        language: system
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c 'cd server && cargo clippy'
        language: system
        pass_filenames: false
  # only webclient
  - repo: https://github.com/paulhfischer/prettier-config
    rev: v1.4.0
    hooks:
      - id: lint
  - repo: https://github.com/paulhfischer/stylelint-config
    rev: v1.3.0
    hooks:
      - id: lint
        files: \.(css|scss|sass)$
  - repo: https://github.com/paulhfischer/eslint-config-javascript
    rev: v1.8.4
    hooks:
      - id: lint
  # only data
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.2.3
    hooks:
      - id: add-trailing-comma
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-use-type-annotations
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
  - repo: https://gitlab.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-broken-line
          - flake8-commas
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-mutable
          - flake8-return
          - flake8-typing-imports
          - flake8-simplify
          - flake8-print
          - flake8-use-fstring
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: migrations

moved the tum logos to the assets/logos directory
  webclient/nginx.conf
  webclient/src/assets/logos/tum_dark_de.svg
  webclient/src/assets/logos/tum_dark_en.svg
  webclient/src/assets/logos/tum_light_de.svg
  webclient/src/assets/logos/tum_light_en.svg
  webclient/src/components/AppFooter.vue
Due: none

removed stale stagings
  staging/pr-654.yaml
  staging/pr-655.yaml
  staging/pr-656.yaml
  staging/pr-657.yaml
  staging/pr-658.yaml
  staging/pr-659.yaml
  staging/pr-660.yaml
  staging/pr-661.yaml
  staging/pr-662.yaml
  staging/pr-664.yaml
  staging/pr-666.yaml
  staging/pr-667.yaml
  staging/pr-671.yaml
  staging/pr-672.yaml
Due: none

Added "Official Roomfinder" badge (#675)
  webclient/README.md
  webclient/index.html
  webclient/nginx.conf
  webclient/public/navigatum-card.png
  webclient/src/assets/logos/navigatum.svg
  webclient/src/assets/logos/tum.svg
  webclient/src/assets/logos/tum_dark_de.svg
  webclient/src/assets/logos/tum_dark_en.svg
  webclient/src/assets/logos/tum_light_de.svg
  webclient/src/assets/logos/tum_light_en.svg
  webclient/src/components/AppFooter.vue
  webclient/src/components/AppNavHeader.vue
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
Due: none

Improved the regexes
  server/main-api/src/search/search_executor/lexer.rs
Due: none

added aditional comments
  server/main-api/src/search/search_executor/lexer.rs
Due: none

switched from a custom preprocessor to a more regular lexer/parser architecture
  server/Cargo.lock
  server/main-api/Cargo.toml
  server/main-api/src/search/search_executor/lexer.rs
  server/main-api/src/search/search_executor/mod.rs
  server/main-api/src/search/search_executor/parser.rs
  server/main-api/src/search/search_executor/postprocess.rs
  server/main-api/src/search/search_executor/preprocess.rs
  server/main-api/src/search/search_executor/query.rs
Due: none

added tests for filtering+quoting
  server/main-api/src/search/search_executor/lexer.rs
Due: none

fixed a typo
  server/main-api/src/search/search_executor/query.rs
Due: none

added a testcase for leading/trailing whitespace in tokenisation
  server/main-api/src/search/search_executor/lexer.rs
Due: none

[feedback-pipeline-6] Implemented the ability to contribute coordinates (#650)
  data/sources/coordinates/5400-5409_chemie.yaml
  data/sources/coordinates/5500-5519_mw.yaml
  openapi.yaml
  server/feedback/src/proposed_edits/coordinate.rs
  server/feedback/src/proposed_edits/mod.rs
  server/feedback/src/proposed_edits/tmp_repo.rs
  webclient/src/api_types/index.ts
Due: openapi-format

[feedback-pipeline-6] Implemented the ability to contribute images (#651)
  openapi.yaml
  server/Cargo.lock
  server/calendar/Dockerfile
  server/feedback/Cargo.toml
  server/feedback/Dockerfile
  server/feedback/src/proposed_edits/image.rs
  server/feedback/src/proposed_edits/mod.rs
  server/feedback/src/proposed_edits/tmp_repo.rs
  server/main-api/Dockerfile.server
  webclient/src/api_types/index.ts
Due: openapi-format

csv parsing and nearby function
  data/external/scrapers/public_transport.py
  data/requirements.txt
Due: mypy, pylint

removed dataclasses to allow serialization
  data/external/scrapers/public_transport.py
Due: mypy, pylint

some cleanup
  data/external/scrapers/public_transport.py
  data/external/scrapers/stops.csv
Due: mypy, pylint

fixed typing issues
  webclient/src/components/AppFooter.vue
  webclient/src/stores/global.ts
Due: none

implemented the ability to contribute images
  openapi.yaml
  server/Cargo.lock
  server/calendar/Dockerfile
  server/feedback/Cargo.toml
  server/feedback/Dockerfile
  server/feedback/src/proposed_edits/image.rs
  server/feedback/src/proposed_edits/mod.rs
  server/feedback/src/proposed_edits/tmp_repo.rs
  server/main-api/Dockerfile.server
  webclient/src/api_types/index.ts
Due: openapi-format

linting fixes
  data/external/scrapers/tumonline.py
  data/processors/images.py
  data/utils.py
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
Due: mypy, pylint

Revert "Add deployment for PR #677"
  staging/pr-677.yaml
Due: none

maybe fixed stale stagings not getting removed
  .github/workflows/remove-deployment.yml
Due: none

use list comprehension instead of map
  data/external/scrapers/public_transport.py
Due: mypy, pylint

added task to main.py, moved station filtering to /processors
  data/external/main.py
  data/external/scrapers/public_transport.py
  data/processors/public_transport.py
Due: mypy, pylint

fixed wrong map being dispalyed on click of one map Resolves #676
  webclient/src/modules/FloorControl.ts
Due: none

improved the FloorControl handling of indexes
  webclient/src/modules/FloorControl.ts
Due: none

changed to use a more detailed csv. this one also includes substations, therefore now generates a dict with parent stations and substations associated to them
  data/external/scrapers/public_transport.py
  data/external/scrapers/stops.txt
Due: mypy, pylint

added typing and testing
  data/external/models/public_transport.py
  data/external/models/test_models.py
  data/external/scrapers/public_transport.py
Due: mypy, pylint

removed buggy staging removal logic
  .github/workflows/remove-deployment.yml
Due: none

enabled modern python code rewriting based on sourcery
  .pre-commit-config.yaml
  .sourcery.yaml
  data/external/scrapers/nat.py
  data/external/scrapers/tumonline.py
  data/processors/areatree.py
  data/processors/coords.py
  data/processors/images.py
  data/processors/maps.py
  data/processors/nat.py
  data/processors/patch.py
  data/processors/search.py
  data/processors/sections.py
  data/processors/sitemap.py
  data/processors/tumonline.py
  openapi.yaml
  server/main-api/test/search_quality_test.py
Due: openapi-format, mypy, pylint

migrated the model tests of the external data to utilise `unittest.subTest` for better debugging
  data/external/models/test_models.py
Due: mypy, pylint

[Search-Refactoring-3] Lexer/parser based searching (#599)
  server/Cargo.lock
  server/main-api/Cargo.toml
  server/main-api/src/search/search_executor/lexer.rs
  server/main-api/src/search/search_executor/mod.rs
  server/main-api/src/search/search_executor/parser.rs
  server/main-api/src/search/search_executor/postprocess.rs
  server/main-api/src/search/search_executor/preprocess.rs
  server/main-api/src/search/search_executor/query.rs
Due: none

extracted split_prefix_from_arch_building_id into its own method
  server/main-api/src/search/search_executor/postprocess.rs
Due: none

inlined the pushing to the respective queues to make further separation of formatting and merging possible
  server/main-api/src/search/search_executor/postprocess.rs
Due: none

[Search-Refactoring-4] Postprossesing 1 (#601)
  server/main-api/src/search/search_executor/postprocess.rs
Due: none

lifted the formatting from the postprocessing
  server/main-api/src/search/search_executor/mod.rs
  server/main-api/src/search/search_executor/postprocess.rs
  server/main-api/src/search/search_executor/query.rs
Due: none

[Seach-Refactoring-5] Postprocessing 2 (#602)
  server/main-api/src/search/search_executor/mod.rs
  server/main-api/src/search/search_executor/postprocess.rs
  server/main-api/src/search/search_executor/query.rs
Due: none

moved the roomvisting to its own visitor
  server/main-api/src/search/search_executor/formatter.rs
  server/main-api/src/search/search_executor/mod.rs
  server/main-api/src/search/search_executor/postprocess.rs
Due: none

renamed postprocess.rs to merger
  server/main-api/src/search/search_executor/merger.rs
  server/main-api/src/search/search_executor/mod.rs
Due: none

[Search-Refactoring-6] Postprossesing 3 (#603)
  server/main-api/src/search/search_executor/formatter.rs
  server/main-api/src/search/search_executor/merger.rs
  server/main-api/src/search/search_executor/mod.rs
  server/main-api/src/search/search_executor/postprocess.rs
Due: none

removed the dependency of the roomformatter on the implicit length and indexing
  server/main-api/src/search/search_executor/formatter.rs
  server/main-api/src/search/search_executor/parser.rs
Due: none

[Seach-Refactoring-7] Postprosessing 4 (#604)
  server/main-api/src/search/search_executor/formatter.rs
  server/main-api/src/search/search_executor/parser.rs
Due: none

formatting fixes proposed by clippy
  server/calendar/src/calendar.rs
  server/calendar/src/scrape_task/tumonline_calendar_connector.rs
Due: none
