Repository TUM-Dev/NavigaTUM: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-format, mypy, pylint

openapi-format:
  name: openapi-format
  entry: openapi-format ./openapi.yaml --output
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

migration to nav.tum.de (#212)
  .github/workflows/deploy.yaml
  README.md
  data/processors/sitemap.py
  deployment/k3s/Chart.yaml
  deployment/k3s/templates/application.yaml
  deployment/k3s/templates/deployments/maps-deployment.yaml
  deployment/k3s/templates/ingress/https-cert.yaml
  deployment/k3s/templates/ingress/ingress.yaml
  deployment/k3s/templates/ingress/nav-tum-de-redirect.yaml
  deployment/k3s/values.yaml
  map/config.json
  openapi.yaml
  server/Dockerfile.mielesearch
  server/Dockerfile.server
  webclient/README.md
  webclient/config.js
  webclient/gulpfile.js
  webclient/nginx.conf
  webclient/src/.well-known/robots.txt
  webclient/src/.well-known/security.txt
  webclient/src/index.html
Due: openapi-format, mypy, pylint

Updated the wording in our readme, to reflect our official status
  README.md
Due: none

removed accidental duplicate nav.tum.de in the cert
  deployment/k3s/templates/ingress/https-cert.yaml
Due: none

fixed the tileserver not serving from the right port in deployment
  deployment/k3s/templates/deployments/maps-deployment.yaml
  deployment/k3s/templates/service.yaml
Due: none

Added 5101.U1.172 and 5101.U1.182
  data/sources/02_rooms-extended.yaml
Due: none

Removed unused yarn dependency
  webclient/README.md
Due: none

removed additional Tagline from https://nav.tum.de/building/5203 related issue: https://github.com/TUM-Dev/NavigaTUM/issues/240
  data/sources/00_areatree
Due: none

minor formatting fixes
  data/processors/export.py
  webclient/src/outdated-browser.js
  webclient/src/views/view/view-view.scss
Due: mypy, pylint

fixed two coordinates having an accidental comma
  data/sources/02_rooms-extended.yaml
Due: none

added the ability to polyfill the old roomfinder This could be used as a temporary crutch
  data/processors/export.py
  openapi.yaml
  server/load_api_data_to_db.py
  server/src/core/legacy_redirect.rs
  server/src/core/mod.rs
Due: openapi-format, mypy, pylint

Add latest user provided coordinates
  data/sources/02_rooms-extended.yaml
Due: none

added a documentation of the new endpoint
  openapi.yaml
Due: openapi-format

Fixed the room feedback not being correctly interpreted by GitHub
  webclient/src/views/view/view-view.js
Due: none

added more user provided coordinates Resolves https://github.com/TUM-Dev/NavigaTUM/issues/246 Resolves https://github.com/TUM-Dev/NavigaTUM/issues/247
  data/sources/02_rooms-extended.yaml
Due: none

added a coordinate for 5414.EG.003 Resolves https://github.com/TUM-Dev/NavigaTUM/pull/243
  data/sources/02_rooms-extended.yaml
Due: none

Add two more user provided coordinates
  data/sources/02_rooms-extended.yaml
Due: none

improved how entries are formatted
  webclient/src/views/view/view-view.js
Due: none

seperated coordinates and other data from each other
  data/compile.py
  data/processors/merge.py
  data/sources/02_coordinates.yaml
  data/sources/02_rooms-extended.yaml
Due: mypy, pylint

removed unused return
  data/processors/merge.py
Due: mypy, pylint

Separated Coordinate Handling (#243)
  data/compile.py
  data/processors/merge.py
  data/sources/02_coordinates.yaml
  data/sources/02_rooms-extended.yaml
  webclient/src/views/view/view-view.js
Due: mypy, pylint

fixed a typo in the data build
  data/processors/merge.py
Due: mypy, pylint

minor formatting fixes
  data/processors/export.py
  data/processors/sections.py
  data/sources/02_coordinates.yaml
  data/sources/02_rooms-extended.yaml
Due: mypy, pylint

Switched the disabled lang/theme selector color to white
  webclient/src/main.scss
Due: none

added progressbars to the downloader
  data/external/downloader.py
  data/requirements.txt
Due: mypy, pylint

Path conditions:
  openapi-format: any of: openapi.yaml
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: migrations
