Repository TUM-Dev/NavigaTUM: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-format, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-ast
      - id: check-toml
      - id: check-yaml
        args:
          - --allow-multiple-documents
        exclude: "data/data_format_geo-entry.yaml"
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-case-conflict
      - id: check-docstring-first
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: requirements-txt-fixer
  # only api
  - repo: local
    hooks:
      - id: openapi-format
        name: openapi-format
        entry: openapi-format ./openapi.yaml --output
        language: system
        files: "openapi.yaml"
  # only server
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd server && cargo fmt'
        language: system
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        entry: bash -c 'cd server && cargo check'
        language: system
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c 'cd server && cargo clippy'
        language: system
        pass_filenames: false
  # only webclient
  - repo: https://github.com/paulhfischer/prettier-config
    rev: v1.4.0
    hooks:
      - id: lint
  - repo: https://github.com/paulhfischer/stylelint-config
    rev: v1.3.0
    hooks:
      - id: lint
        files: \.(css|scss|sass)$
  - repo: https://github.com/paulhfischer/eslint-config-javascript
    rev: v1.8.4
    hooks:
      - id: lint
  # only data
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.2.3
    hooks:
      - id: add-trailing-comma
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-use-type-annotations
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
  - repo: https://gitlab.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-broken-line
          - flake8-commas
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-mutable
          - flake8-return
          - flake8-typing-imports
          - flake8-simplify
          - flake8-print
          - flake8-use-fstring
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: migrations

implemented a scraper for unscraped_room_numbers
  data/external/scrapers/tumonline.py
Due: mypy, pylint

[NAT-3] Nat Buildings (#362)
  data/compile.py
  data/data_format_geo-entry.yaml
  data/external/results/buildings_nat.json
  data/processors/coords.py
  data/processors/export.py
  data/processors/nat.py
  data/sources/00_areatree
  data/sources/01_areas-extended.yaml
  data/sources/12_nat_excluded_buildings.yaml
Due: mypy, pylint

fixed links not being able to be copied
  webclient/src/components/ShareButton.vue
Due: none

linting fixes
  webclient/src/api_types/index.ts
  webclient/src/components/AppLanguageToggler.vue
  webclient/src/components/AppSearchBar.vue
  webclient/src/components/DetailsFeedbackButton.vue
  webclient/src/components/DetailsInfoSection.vue
  webclient/src/components/DetailsInteractiveMap.vue
  webclient/src/components/DetailsOverviewSections.vue
  webclient/src/components/DetailsRoomfinderMap.vue
  webclient/src/components/DetailsSources.vue
  webclient/src/modules/FloorControl.ts
  webclient/src/utils/common.ts
  webclient/src/utils/fetch.ts
  webclient/src/utils/storage.ts
  webclient/src/views/DetailsView.vue
  webclient/src/views/MainView.vue
  webclient/src/views/SearchView.vue
Due: none

linting fixes
  webclient/src/components/DetailsInfoSection.vue
  webclient/src/components/DetailsOverviewSections.vue
  webclient/src/components/DetailsRoomfinderMap.vue
  webclient/src/stores/details.ts
  webclient/src/views/DetailsView.vue
Due: none

Merge room base data (without coords)
  data/processors/nat.py
Due: mypy, pylint

Add extra information from the NAT roomfinder
  data/data_format_geo-entry.yaml
  data/processors/nat.py
  data/processors/sections.py
  data/translations.yaml
  data/utils.py
Due: mypy, pylint

fixed html content in translations not being displayed properly
  webclient/src/components/DetailsInfoSection.vue
  webclient/src/components/FeedbackModal.vue
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
  webclient/src/views/DetailsView.vue
Due: none

linting fixes
  webclient/src/components/DetailsRoomfinderMap.vue
Due: none

formatting fixes
  data/external/results/buildings_nat.json
  data/processors/coords.py
  data/processors/export.py
  data/processors/nat.py
  deployment/ansible/roles/k8s-components/tasks/components/argocd.yml
  deployment/ansible/roles/k8s-components/tasks/longhorn.yml
  deployment/ansible/roles/k8s/tasks/longhorn-requirements.yml
  deployment/k3s/templates/deployments/calendar/calendar-cronjob.yaml
  deployment/k3s/templates/deployments/calendar/posgres-deployment.yaml
  deployment/k3s/values.yaml
  openapi.yaml
  server/calendar/README.md
  server/calendar/migrations/2023-03-23-144107_create_calendar/down.sql
  server/calendar/migrations/2023-03-23-144107_create_calendar/up.sql
  server/calendar/migrations/2023-03-23-144504_add_index/down.sql
  server/calendar/migrations/2023-03-23-144504_add_index/up.sql
  setup.cfg
Due: openapi-format, mypy, pylint

refactored `_guess_queries()` to have less code repetition
  data/external/scrapers/roomfinder.py
Due: mypy, pylint

fixed the calendar not compiling in docker due to missing librarys/directories
  server/calendar/Dockerfile.server
Due: none

fixed the POSTGRES_URL pointing to an nonexistant service
  deployment/k3s/templates/deployments/calendar/calendar-cronjob.yaml
  deployment/k3s/templates/deployments/calendar/calendar-deployment.yaml
Due: none

fixed postgres being instantiated in staiging branches
  deployment/k3s/templates/deployments/calendar/posgres-deployment.yaml
  deployment/k3s/templates/deployments/calendar/postgres-volume.yaml
Due: none

bumped the uptime kuma version
  deployment/ansible/roles/k8s-components/tasks/components/kuma.yml
Due: none

temporarily disabled waiting for the kubernetes chart to be deployed
  deployment/ansible/roles/k8s-components/tasks/components/argocd.yml
Due: none

added helm diff to the helm plugins for better change detection
  deployment/ansible/roles/k8s/tasks/install/helm.yml
  deployment/ansible/roles/k8s/tasks/install/k3s.yml
  deployment/ansible/roles/k8s/tasks/install/longhorn-requirements.yml
  deployment/ansible/roles/k8s/tasks/main.yml
Due: none

made shure all helm reops have `update_repo_cache: yes` endabled
  deployment/ansible/roles/k8s-components/tasks/cert-manager.yml
  deployment/ansible/roles/k8s-components/tasks/components/argocd.yml
  deployment/ansible/roles/k8s-components/tasks/components/grafana.yml
  deployment/ansible/roles/k8s-components/tasks/components/kuma.yml
  deployment/ansible/roles/k8s-components/tasks/components/penpot.yml
  deployment/ansible/roles/k8s-components/tasks/components/pushgateway.yml
  deployment/ansible/roles/k8s-components/tasks/longhorn.yml
Due: none

made shure all monitoring charts are in a different directory
  deployment/ansible/roles/k8s-components/tasks/main.yml
  deployment/ansible/roles/k8s-components/tasks/monitoring/grafana.yaml
  deployment/ansible/roles/k8s-components/tasks/monitoring/kuma.yml
  deployment/ansible/roles/k8s-components/tasks/monitoring/pushgateway.yml
Due: none

fixed calendar cronjobs depending on nonexistant persistant volumes
  deployment/k3s/templates/deployments/calendar/calendar-cronjob.yaml
Due: none

improved the connection security between penpot and the database
  deployment/ansible/roles/k8s-components/tasks/components/penpot.yml
Due: none

migrated from lens internal prometheus to kube-stack prometheus
  deployment/ansible/roles/k8s-components/tasks/monitoring/grafana.yml
  deployment/ansible/roles/k8s-components/tasks/monitoring/prometheus.yml
  deployment/ansible/roles/k8s-components/tasks/monitoring/pushgateway.yml
  server/calendar/src/scraper.rs
Due: none

Added Loki for better log management
  deployment/ansible/roles/k8s-components/tasks/monitoring/grafana.yml
  deployment/ansible/roles/k8s-components/tasks/monitoring/loki.yml
Due: none

fixed the databse of penpot not being in longhorn
  deployment/ansible/roles/k8s-components/tasks/components/penpot.yml
Due: none

adjusted the resources we give our tileserver
  deployment/k3s/templates/deployments/maps/maps-deployment.yaml
Due: none

added fairlight to the monitoring stack
  deployment/ansible/roles/k8s-components/tasks/monitoring/fairlight.yml
Due: none

removed the resourse requests of the main server
  deployment/k3s/templates/deployments/server-deployment.yaml
Due: none

replaced how we label our deployments with the official labels
  deployment/k3s/templates/deployments/calendar/calendar-cronjob.yaml
  deployment/k3s/templates/deployments/calendar/calendar-deployment.yaml
  deployment/k3s/templates/deployments/calendar/posgres-deployment.yaml
  deployment/k3s/templates/deployments/calendar/postgres-volume.yaml
  deployment/k3s/templates/deployments/data-deployment.yaml
  deployment/k3s/templates/deployments/feedback-deployment.yaml
  deployment/k3s/templates/deployments/maps/maps-deployment.yaml
  deployment/k3s/templates/deployments/maps/tileserver-volume.yaml
  deployment/k3s/templates/deployments/server-deployment.yaml
  deployment/k3s/templates/deployments/web/webclient-deployment.yaml
  deployment/k3s/templates/networking/https-cert.yaml
  deployment/k3s/templates/networking/ingress.yaml
  deployment/k3s/templates/networking/middleware/cache-2-months-middleware.yaml
  deployment/k3s/templates/networking/middleware/https-middleware.yaml
  deployment/k3s/templates/networking/middleware/nav-tum-de-redirect.yaml
  deployment/k3s/templates/networking/middleware/stripprefix-middleware.yaml
  deployment/k3s/templates/networking/service.yaml
Due: none

unified how services are named
  deployment/k3s/templates/deployments/calendar/posgres-deployment.yaml
  deployment/k3s/templates/networking/service.yaml
Due: none

reverted the removal of meiliserarch in the Service
  deployment/k3s/templates/networking/service.yaml
Due: none

extracted `eq "nav.tum.de" $.Values.url` to the main values to replace it with the more discriptive `is_production` variable
  deployment/k3s/templates/deployments/calendar/calendar-cronjob.yaml
  deployment/k3s/templates/deployments/calendar/calendar-deployment.yaml
  deployment/k3s/templates/deployments/calendar/posgres-deployment.yaml
  deployment/k3s/templates/deployments/calendar/postgres-volume.yaml
  deployment/k3s/templates/deployments/feedback-deployment.yaml
  deployment/k3s/templates/deployments/maps/maps-deployment.yaml
  deployment/k3s/templates/deployments/server-deployment.yaml
  deployment/k3s/templates/namespace.yaml
  deployment/k3s/templates/networking/https-cert.yaml
  deployment/k3s/templates/networking/service.yaml
  deployment/k3s/values.yaml
Due: none

refactored the feedback system to be flatter structured
  server/feedback/src/core.rs
  server/feedback/src/github.rs
  server/feedback/src/main.rs
  server/feedback/src/post_feedback.rs
  server/feedback/src/tokens.rs
Due: none

changed the feedback api (renaming `delete_issue_requested` to `deletion_requested`)
  openapi.yaml
  server/feedback/src/post_feedback.rs
  webclient/src/feedback.js
Due: openapi-format

removed structopt for parsing commandline arguments
  server/feedback/Cargo.lock
  server/feedback/Cargo.toml
  server/feedback/src/core.rs
  server/feedback/src/github.rs
  server/feedback/src/main.rs
  server/feedback/src/post_feedback.rs
  server/feedback/src/tokens.rs
Due: none

Apply suggestions from code review (minor changes)
  data/processors/nat.py
Due: mypy, pylint

adjusted the way we log errors in the scraper to detect issues with our configuration better
  server/calendar/src/scrape_task/main_api_connector.rs
Due: none

Add docstrings, simplify if, fix variable names
  data/processors/nat.py
Due: mypy, pylint

Fixed a code smell
  data/external/scrapers/nat.py
Due: mypy, pylint
