Repository TUM-Dev/NavigaTUM: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-format, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-ast
      - id: check-toml
      - id: check-yaml
        args:
          - --allow-multiple-documents
        exclude: "data/data_format_geo-entry.yaml"
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-case-conflict
      - id: check-docstring-first
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: requirements-txt-fixer
  # only api
  - repo: local
    hooks:
      - id: openapi-format
        name: openapi-format
        entry: openapi-format ./openapi.yaml --output
        language: system
        files: "openapi.yaml"
  # only server
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd server && cargo fmt'
        language: system
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        entry: bash -c 'cd server && cargo check'
        language: system
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c 'cd server && cargo clippy'
        language: system
        pass_filenames: false
  # only webclient
  - repo: https://github.com/paulhfischer/prettier-config
    rev: v1.4.0
    hooks:
      - id: lint
  - repo: https://github.com/paulhfischer/stylelint-config
    rev: v1.3.0
    hooks:
      - id: lint
        files: \.(css|scss|sass)$
  - repo: https://github.com/paulhfischer/eslint-config-javascript
    rev: v1.8.4
    hooks:
      - id: lint
  # only data
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.2.3
    hooks:
      - id: add-trailing-comma
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-use-type-annotations
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
  - repo: https://gitlab.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-broken-line
          - flake8-commas
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-mutable
          - flake8-return
          - flake8-typing-imports
          - flake8-simplify
          - flake8-print
          - flake8-use-fstring
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: migrations

fixed formatting mistakes have sneaked into prod
  server/Cargo.toml
  server/main-api/src/main.rs
Due: none

removed now unnessesary stuff
  server/main-api/migrations/20240505224430_fix-calendar-id-not-extracted.up.sql
  server/main-api/src/calendar/mod.rs
  server/main-api/src/main.rs
  server/main-api/src/setup/database/data.rs
Due: none

Fixed a compilation error introduced by new types
  server/main-api/src/search/search_executor/query.rs
Due: none

did this solve the compilation errors
  server/main-api/src/search/search_executor/query.rs
  server/main-api/src/setup/meilisearch.rs
Due: none

fixed the pnpm version
  .github/workflows/linting.yml
  .github/workflows/update-data.yml
  .github/workflows/webclient-cicd.yml
  webclient/package.json
Due: none

Fixed the readme formating issues
  data/README.md
Due: none

Fixed formatting mistakes
  openapi.yaml
  server/main-api/src/details.rs
Due: openapi-format

Fixed data export mistake
  data/processors/export.py
Due: mypy, pylint

fixed another export error
  data/processors/export.py
Due: mypy, pylint

fixed a linting mistake
  data/processors/export.py
Due: mypy, pylint

[breaking, api] Removed `/api/get/root` route (#1154)
  data/compile.py
  data/processors/export.py
  data/processors/sitemap.py
  openapi.yaml
  server/main-api/src/details.rs
  webclient/api_types/index.ts
  webclient/pages/index.vue
Due: openapi-format, mypy, pylint

fixted compilation mistakes
  server/.sqlx/query-0129b39fb399d5d3d41b2053c9bf617a646c40ec0e2f614d035948f240c8b245.json
  server/.sqlx/query-866f41f41ff9e68e92736009d98b37f497aeb87f11eeafa13eadd4fefda706b5.json
  server/.sqlx/query-874f7f834952dc9935690debfad3d161757d7ce6fcee59c23c23abbf45e803cb.json
  server/.sqlx/query-9f518183559171969ae448a0f3f0de7a221ce7d9bb8378028c695e1b665c55c5.json
  server/.sqlx/query-a16d239da728e396e283aea0782d9b32f08c86626db9f4d63249dfc2cd77b80c.json
  server/.sqlx/query-a87d33b55872d9135ab82391b36d1a495534817fb39a9e25f6720267c6025965.json
  server/.sqlx/query-acfccc2d96fcc85154dc3a6dd969ffdcaa2465cb27b510f9e50682f15980c45f.json
  server/.sqlx/query-e08d77584b88d04d53710630fc11af9a99868a7dee15c2f32ccca3c9b1c8b2b6.json
  server/main-api/migrations/20240505224430_fix-calendar-id-not-extracted.up.sql
  server/main-api/src/details.rs
  server/main-api/src/models.rs
  server/main-api/src/setup/database/data.rs
Due: none

fixed `tumonline_room_nr` not being set
  server/main-api/migrations/20240505224430_fix-calendar-id-not-extracted.up.sql
Due: none

fixed props.tumonline_id not being set
  data/processors/tumonline.py
Due: mypy, pylint

fixted compilation mistakes
  server/.sqlx/query-7a7a91b71318cae47f5aafceb365860cfad2fc568d61ce6648ca1ba7770db617.json
  server/.sqlx/query-874f7f834952dc9935690debfad3d161757d7ce6fcee59c23c23abbf45e803cb.json
  server/.sqlx/query-a87d33b55872d9135ab82391b36d1a495534817fb39a9e25f6720267c6025965.json
  server/main-api/migrations/20240505224430_fix-calendar-id-not-extracted.up.sql
  server/main-api/src/calendar/fetch/connectum.rs
Due: none

made sure that the setup code is in a new thread
  server/main-api/src/main.rs
Due: none

refactoring
  server/main-api/src/calendar/fetch/connectum.rs
  server/main-api/src/calendar/fetch/db.rs
Due: none

fixed a typo
  server/main-api/src/calendar/fetch/connectum.rs
Due: none

JSON based generated database fields instead of imports (#1155)
  server/.sqlx/query-0129b39fb399d5d3d41b2053c9bf617a646c40ec0e2f614d035948f240c8b245.json
  server/.sqlx/query-7a7a91b71318cae47f5aafceb365860cfad2fc568d61ce6648ca1ba7770db617.json
  server/.sqlx/query-866f41f41ff9e68e92736009d98b37f497aeb87f11eeafa13eadd4fefda706b5.json
  server/.sqlx/query-874f7f834952dc9935690debfad3d161757d7ce6fcee59c23c23abbf45e803cb.json
  server/.sqlx/query-9f518183559171969ae448a0f3f0de7a221ce7d9bb8378028c695e1b665c55c5.json
  server/.sqlx/query-a16d239da728e396e283aea0782d9b32f08c86626db9f4d63249dfc2cd77b80c.json
  server/.sqlx/query-a87d33b55872d9135ab82391b36d1a495534817fb39a9e25f6720267c6025965.json
  server/.sqlx/query-acfccc2d96fcc85154dc3a6dd969ffdcaa2465cb27b510f9e50682f15980c45f.json
  server/.sqlx/query-e08d77584b88d04d53710630fc11af9a99868a7dee15c2f32ccca3c9b1c8b2b6.json
  server/main-api/migrations/20240505224430_fix-calendar-id-not-extracted.down.sql
  server/main-api/migrations/20240505224430_fix-calendar-id-not-extracted.up.sql
  server/main-api/src/calendar/fetch/connectum.rs
  server/main-api/src/calendar/fetch/db.rs
  server/main-api/src/calendar/mod.rs
  server/main-api/src/details.rs
  server/main-api/src/main.rs
  server/main-api/src/models.rs
  server/main-api/src/setup/database/data.rs
Due: none

removed coordinats for a removed room
  data/sources/coordinates/rest.yaml
Due: none

fixed an invalid tumonline calendar link Resolves https://github.com/TUM-Dev/NavigaTUM/issues/1163
  data/processors/sections.py
Due: mypy, pylint

Made sure that `CONNECTUM_OAUTH_CLIENT_{ID,SECRET}` is stripped
  data/external/scrapers/tumonline.py
  server/main-api/src/calendar/fetch/connectum.rs
Due: mypy, pylint

made sure that we use `pub` instead of the equivalent `pub(crate)`
  server/main-api/src/calendar/models.rs
  server/main-api/src/feedback/proposed_edits/discription.rs
  server/main-api/src/maps/fetch_tile.rs
  server/main-api/src/maps/overlay_map.rs
  server/main-api/src/maps/overlay_text.rs
  server/main-api/src/search/search_executor/parser.rs
  server/main-api/src/setup/database/alias.rs
  server/main-api/src/setup/database/data.rs
  server/main-api/src/setup/database/mod.rs
  server/main-api/src/setup/meilisearch.rs
  server/main-api/src/setup/mod.rs
Due: none

removed the now not nessesary tumonline ID replacement for the calendar endpoint
  server/main-api/src/calendar/fetch/connectum.rs
Due: none

made sure that `cascade on delete` is set on the correct fields
  server/main-api/migrations/20240509001948_added-cascading-deletions.down.sql
  server/main-api/migrations/20240509001948_added-cascading-deletions.up.sql
Due: none

Refactored the calendar to refresh continuously
  server/.sqlx/query-0129b39fb399d5d3d41b2053c9bf617a646c40ec0e2f614d035948f240c8b245.json
  server/.sqlx/query-2d98e240582d548331294328c8b904d721bf8fa68d6873a7ee1e0b394752a922.json
  server/.sqlx/query-874f7f834952dc9935690debfad3d161757d7ce6fcee59c23c23abbf45e803cb.json
  server/.sqlx/query-9f518183559171969ae448a0f3f0de7a221ce7d9bb8378028c695e1b665c55c5.json
  server/.sqlx/query-a16d239da728e396e283aea0782d9b32f08c86626db9f4d63249dfc2cd77b80c.json
  server/.sqlx/query-a87d33b55872d9135ab82391b36d1a495534817fb39a9e25f6720267c6025965.json
  server/.sqlx/query-acfccc2d96fcc85154dc3a6dd969ffdcaa2465cb27b510f9e50682f15980c45f.json
  server/Cargo.lock
  server/main-api/Cargo.toml
  server/main-api/src/calendar/connectum.rs
  server/main-api/src/calendar/fetch/db.rs
  server/main-api/src/calendar/fetch/mod.rs
  server/main-api/src/calendar/mod.rs
  server/main-api/src/calendar/refresh.rs
  server/main-api/src/main.rs
Due: none

made sure that the now being ready is a proper error message rather than being a silent error
  server/main-api/src/calendar/mod.rs
Due: none

fixed linting errors found by clippy
  server/main-api/src/calendar/refresh.rs
  server/main-api/src/main.rs
  server/main-api/src/maps/fetch_tile.rs
  server/main-api/src/setup/database/mod.rs
  server/main-api/src/setup/meilisearch.rs
Due: none

improved the deduping and deep settings of `useFetch` for possibly better performance
  webclient/components/AppSearchBar.vue
  webclient/pages/[view]/[id].vue
  webclient/pages/search.vue
Due: none

tested if brotli/zstd support can be added
  server/Cargo.lock
  server/main-api/Cargo.toml
Due: none

made sure that hickory does not spam the log when being run in dev mode
  server/main-api/src/main.rs
Due: none

made sure that waiting for progressive calendar intitalisation is limited to non-setup compilation passes
  server/main-api/src/main.rs
Due: none

made sure that we scrape tumonline in a smarter by choosing which rooms to scrape when
  server/.sqlx/query-2d98e240582d548331294328c8b904d721bf8fa68d6873a7ee1e0b394752a922.json
  server/.sqlx/query-383cf5a483f09733f5772991237d30544400b6101a7e476def026dd3bd5db56b.json
  server/Cargo.lock
  server/main-api/Cargo.toml
  server/main-api/src/calendar/connectum.rs
  server/main-api/src/calendar/refresh.rs
  server/main-api/src/main.rs
Due: none

made sure that non storable events are not all logged (just the first one)
  server/main-api/src/calendar/connectum.rs
Due: none

made sure that the oauth tokens are refreshed properly
  server/main-api/src/calendar/connectum.rs
Due: none

improved the logs that the connectum scraper puts out
  server/main-api/src/calendar/connectum.rs
  server/main-api/src/calendar/refresh.rs
Due: none

made sure to use a FuturesUnordered insead of using just a single thread to achieve the refresh goals
  server/.sqlx/query-383cf5a483f09733f5772991237d30544400b6101a7e476def026dd3bd5db56b.json
  server/.sqlx/query-a0c9be9bb5cc4ebe357668ba9183de0aa2f862aeeeb789c9cb5ee780c3134f38.json
  server/main-api/src/calendar/connectum.rs
  server/main-api/src/calendar/refresh.rs
  server/main-api/src/main.rs
Due: none
