Repository TUM-Dev/NavigaTUM: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-format, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-ast
      - id: check-toml
      - id: check-yaml
        args:
          - --allow-multiple-documents
        exclude: "data/data_format_geo-entry.yaml"
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-case-conflict
      - id: check-docstring-first
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: requirements-txt-fixer
  # only api
  - repo: local
    hooks:
      - id: openapi-format
        name: openapi-format
        entry: openapi-format ./openapi.yaml --output
        language: system
        files: "openapi.yaml"
  # only server
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd server && cargo fmt'
        language: system
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        entry: bash -c 'cd server && cargo check'
        language: system
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c 'cd server && cargo clippy'
        language: system
        pass_filenames: false
  # only webclient
  - repo: https://github.com/paulhfischer/prettier-config
    rev: v1.4.0
    hooks:
      - id: lint
  - repo: https://github.com/paulhfischer/stylelint-config
    rev: v1.3.0
    hooks:
      - id: lint
        files: \.(css|scss|sass)$
  - repo: https://github.com/paulhfischer/eslint-config-javascript
    rev: v1.8.4
    hooks:
      - id: lint
  # only data
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.2.3
    hooks:
      - id: add-trailing-comma
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-use-type-annotations
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
  - repo: https://gitlab.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-broken-line
          - flake8-commas
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-mutable
          - flake8-return
          - flake8-typing-imports
          - flake8-simplify
          - flake8-print
          - flake8-use-fstring
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: migrations

Made sure that the lexer understands `typ:<type>`
  server/src/search/search_executor/lexer.rs
Due: none

Fixed the public_transport scrapers url
  data/external/scrapers/public_transport.py
Due: mypy, pylint

fixed the `MVV_GTFS_URL`
  data/external/scrapers/public_transport.py
Due: mypy, pylint

fixed the CO oauth url
  data/external/scrapers/tumonline.py
Due: mypy, pylint

Added coordinates
  data/processors/areatree/config.areatree
  data/sources/01_areas-extended.yaml
Due: none

fixed more building changes
  data/processors/areatree/config.areatree
  data/sources/01_areas-extended.yaml
  data/sources/12_nat_excluded_buildings.yaml
Due: none

made sure that streaming and power sockets are handled more properly in the NAT parser
  data/external/models/nat.py
  data/external/results/rooms_nat.json
  data/external/scrapers/nat.py
Due: mypy, pylint

fixed keepout zones for the NAT
  data/sources/12_nat_excluded_buildings.yaml
Due: none

updated the snapshots
  server/src/search/search_executor/snapshots/navigatum_server__search__search_executor__test__bad_queries-15.snap
  server/src/search/search_executor/snapshots/navigatum_server__search__search_executor__test__good_queries-31.snap
Due: none

debumped the python version
  data/Dockerfile
Due: none

fixed: broken package-lock due to bad rebase
  webclient/pnpm-lock.yaml
Due: none

made sure that the rust based deserialiser is implemented
  data/output/openapi.yaml
  server/src/locations/details.rs
  webclient/app/api_types/index.ts
Due: openapi-format

added valhalla as a way to do routing
  docker-compose.local.yml
  docker-compose.yml
  map/.gitignore
Due: none

fixed `gtfs-download-data` not being able to unzip the gtfs feed
  docker-compose.local.yml
  docker-compose.yml
Due: none

made sure that all containers have the `TZ: Europe/Berlin` environment variable set
  docker-compose.local.yml
  docker-compose.yml
Due: none

migrated the docker based download into a download script as the complexity is not managable otherwise
  docker-compose.local.yml
  docker-compose.yml
  map/download.sh
Due: none

made sure that valhalla is allowed to have a tmpfs
  docker-compose.local.yml
  docker-compose.yml
Due: none

optimised not doing too much work if rebuilding valhalla in production
  docker-compose.yml
  map/download.sh
Due: none

made sure that the absurdly annoying startup check for valhalla is not too annoying
  docker-compose.local.yml
  docker-compose.yml
Due: none

fixed formatting mistakes have sneaked into prod
  map/download.sh
Due: none

relaxed the heartbeat intervals and added `start_interval` instead
  docker-compose.local.yml
  docker-compose.yml
Due: none

Revert "relaxed the heartbeat intervals and added `start_interval` instead"
  docker-compose.local.yml
  docker-compose.yml
Due: none

changed the way valhalla is matched
  docker-compose.yml
Due: none

Revert "changed the way valhalla is matched"
  docker-compose.yml
Due: none

fixed the naming of the martins middleware being unnessesarily special
  docker-compose.yml
Due: none

made shure that python major version bumps are also extracted into its own PR
  renovate.json
Due: none

updated buildings
  data/processors/areatree/config.areatree
  server/src/setup/search_synonyms.yaml
Due: none

Update server/src/setup/search_synonyms.yaml
  server/src/setup/search_synonyms.yaml
Due: none

Made sure that renovate only raises and thus shedules in off-times
  renovate.json
Due: none

fixed valhalla not being in traefiks network and thus not able to route correctly
  docker-compose.yml
Due: none

fix: add traefik's network for valhalla (#1623)
  docker-compose.yml
Due: none

basic routing
  server/.sqlx/query-cd7b750abb2d0b7016231acb1fcd0ad46f04ec4a6b84fcdfce39c5c1707fc75d.json
  server/Cargo.lock
  server/Cargo.toml
  server/src/locations/mod.rs
  server/src/locations/route.rs
Due: none

tmp
  webclient/app/pages/route.client.vue
  webclient/nuxt.config.ts
  webclient/package.json
  webclient/pnpm-lock.yaml
Due: none

bumped `infer_schema_length` for `search_data.parquet`
  data/processors/export.py
Due: mypy, pylint

bumped `infer_schema_length` again
  data/processors/export.py
Due: mypy, pylint

bumped `infer_schema_length` for another parquet file
  data/processors/export.py
Due: mypy, pylint
