Repository TUM-Dev/NavigaTUM: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-format, mypy, pylint

openapi-format:
  name: openapi-format
  entry: openapi-format ./openapi.yaml --output
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

fixed some metadata files not being served correctly
  webclient/nginx.conf
Due: none

bumped the argocd helmchart
  deployment/ansible/roles/k8s-components/tasks/components/argocd.yml
Due: none

fixed minor formatting issues
  data/processors/export.py
  data/processors/images.py
  server/main-api/load_api_data_to_db.py
Due: mypy, pylint

removal of spellcheck
  .pre-commit-config.yaml
Due: none

some cleanup
  data/external/scrapers/public_transport.py
  data/external/scrapers/stops.csv
Due: mypy, pylint

added typing and testing
  data/external/models/public_transport.py
  data/external/models/test_models.py
  data/external/scrapers/public_transport.py
Due: mypy, pylint

added csvs with station data
  data/external/scrapers/MVV_HSTReport2212.csv
  data/external/scrapers/stops.csv
Due: none

use list comprehension instead of map
  data/external/scrapers/public_transport.py
Due: mypy, pylint

setup
  data/external/scrapers/public_transport.py
Due: mypy, pylint

changed distance from km->m
  data/processors/public_transport.py
Due: mypy, pylint

Delete MVV_HSTReport2212.csv
  data/external/scrapers/MVV_HSTReport2212.csv
Due: none

csv parsing and nearby function
  data/external/scrapers/public_transport.py
  data/requirements.txt
Due: mypy, pylint

whitespaces
  data/processors/public_transport.py
Due: mypy, pylint

added task to main.py, moved station filtering to /processors
  data/external/main.py
  data/external/scrapers/public_transport.py
  data/processors/public_transport.py
Due: mypy, pylint

removed dataclasses to allow serialization
  data/external/scrapers/public_transport.py
Due: mypy, pylint

cleanup and bugfix
  data/processors/public_transport.py
Due: mypy, pylint

changed to use a more detailed csv. this one also includes substations, therefore now generates a dict with parent stations and substations associated to them
  data/external/scrapers/public_transport.py
  data/external/scrapers/stops.txt
Due: mypy, pylint

replaced geopy with custom great_circle function for better performance
  data/processors/public_transport.py
  data/requirements.txt
Due: mypy, pylint

nearby now uses binary search to narrow down the compared stations
  data/external/models/test_models.py
  data/external/scrapers/public_transport.py
  data/processors/public_transport.py
Due: mypy, pylint

removed Decimal, changed coordinates to float, removed unused code
  data/external/models/public_transport.py
  data/external/scrapers/public_transport.py
  data/processors/public_transport.py
Due: mypy, pylint

some reviewed suggestions & pipeline insertion
  data/compile.py
  data/external/scrapers/public_transport.py
  data/processors/public_transport.py
Due: mypy, pylint

added job to pipeline
  data/processors/public_transport.py
Due: mypy, pylint

automatic download for stops.txt
  data/external/main.py
  data/external/scrapers/public_transport.py
  data/external/scrapers/stops.txt
Due: mypy, pylint

data_format yaml update
  data/data_format_geo-entry.yaml
Due: none

cleanup
  data/external/scrapers/public_transport.py
  data/processors/public_transport.py
Due: mypy, pylint

use Station class
  data/processors/public_transport.py
Due: mypy, pylint

removed bin_search
  data/processors/public_transport.py
Due: mypy, pylint

fixed formatting issues
  data/compile.py
  data/external/main.py
  data/external/models/common.py
  data/external/models/public_transport.py
  data/external/models/test_models.py
  data/external/results/public_transport.json
  data/external/scrapers/public_transport.py
  data/processors/public_transport.py
  data/requirements.txt
  openapi.yaml
  requirements_dev.txt
  webclient/src/assets/md/about-us.md
  webclient/src/assets/md/ueber-uns.md
Due: openapi-format, mypy, pylint

formatting fixes
  openapi.yaml
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
Due: openapi-format

added the results to the API
  data/processors/public_transport.py
  openapi.yaml
  webclient/src/api_types/index.ts
Due: openapi-format, mypy, pylint

removed useless backlinking from `sub_stations` to `parents`
  data/external/models/public_transport.py
  data/external/results/public_transport.json
  data/external/scrapers/public_transport.py
  openapi.yaml
  webclient/src/api_types/index.ts
Due: openapi-format, mypy, pylint

[MVV-1] Add close stations to the data model (#693)
  .pre-commit-config.yaml
  data/compile.py
  data/data_format_geo-entry.yaml
  data/external/main.py
  data/external/models/common.py
  data/external/models/public_transport.py
  data/external/models/test_models.py
  data/external/results/public_transport.json
  data/external/scrapers/public_transport.py
  data/processors/export.py
  data/processors/images.py
  data/processors/public_transport.py
  openapi.yaml
  requirements_dev.txt
  server/main-api/load_api_data_to_db.py
  webclient/src/api_types/index.ts
  webclient/src/assets/md/about-us.md
  webclient/src/assets/md/ueber-uns.md
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
Due: openapi-format, mypy, pylint

added second csv for train stations
  data/external/scrapers/public_transport.py
Due: mypy, pylint

removed more remnants of the coordinate-picker
  webclient/src/components/feedback/FeedbackModal.vue
Due: none

fixed the `Translation` component not being defined as a component and thus causing type errors
  webclient/src/components/I18nT.ts
  webclient/src/components/feedback/TokenBasedModal.vue
Due: none

added second csv for train stations as first one only contained bus stations
  data/external/scrapers/public_transport.py
Due: mypy, pylint

improved the python typing a bit by adding more type hints
  data/external/scrapers/nat.py
  data/external/scrapers/roomfinder.py
  data/external/scrapers/tumonline.py
  data/external/scraping_utils.py
  data/processors/areatree.py
  data/processors/export.py
  data/processors/images.py
  data/processors/maps.py
  data/processors/public_transport.py
  data/processors/roomfinder.py
  data/processors/sections.py
  data/utils.py
  openapi.yaml
  server/main-api/load_api_data_to_db.py
  webclient/src/api_types/index.ts
  webclient/src/components/I18nT.ts
  webclient/src/components/feedback/TokenBasedModal.vue
  webclient/src/locales/check_locales.py
Due: openapi-format, mypy, pylint

removed an import I forgot to remove in the last commit
  data/processors/areatree.py
Due: mypy, pylint

fixed that `VITE_APP_URL` does not control the requested URL Resolves #696
  webclient/env/.env
  webclient/env/.env.production
  webclient/src/composables/feedbackToken.ts
  webclient/src/composables/fetch.ts
Due: none

added more typing hints to the data pipeline
  data/external/scrapers/roomfinder.py
  data/external/scrapers/tumonline.py
  data/processors/coords.py
  data/processors/maps.py
  data/processors/sections.py
  data/processors/structure.py
  data/processors/tumonline.py
  server/main-api/test/search_quality_test.py
Due: mypy, pylint

Path conditions:
  openapi-format: any of: openapi.yaml
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: migrations
