Repository TUM-Dev/NavigaTUM: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-format, mypy, pylint

openapi-format:
  name: openapi-format
  entry: openapi-format ./openapi.yaml --output
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

bumped the cargo dependencys
  server/Cargo.lock
Due: none

added more aliase for buildings
  data/sources/00_areatree
Due: none

added more visible ids to the areatree
  data/sources/00_areatree
Due: none

fixed a typo
  data/processors/export.py
Due: mypy, pylint

unified the search and api alias logic
  data/processors/export.py
  openapi.yaml
  server/main-api/load_api_data_to_db.py
  webclient/src/api_types/index.ts
Due: openapi-format, mypy, pylint

fixed `visible_id` not getting loaded into the database
  server/main-api/load_api_data_to_db.py
Due: mypy, pylint

Update server/main-api/load_api_data_to_db.py
  server/main-api/load_api_data_to_db.py
Due: mypy, pylint

formatting fixes
  openapi.yaml
  server/main-api/load_api_data_to_db.py
  server/main-api/src/schema.rs
Due: openapi-format, mypy, pylint

fixed visible_id not being dispalyed in the urls
  server/main-api/load_api_data_to_db.py
  server/main-api/src/entries/get.rs
  server/main-api/src/models.rs
  server/main-api/src/schema.rs
Due: mypy, pylint

added aditional aliases
  data/processors/areatree.py
  server/main-api/load_api_data_to_db.py
  server/main-api/src/entries/get.rs
Due: mypy, pylint

fixed wrong handling of `visible-id` when using aliases
  server/main-api/load_api_data_to_db.py
Due: mypy, pylint

adapted our server to allow for better alias handling
  openapi.yaml
  server/main-api/README.md
  server/main-api/load_api_data_to_db.py
  server/main-api/src/entries/get.rs
  server/main-api/src/entries/legacy_redirect.rs
  server/main-api/src/entries/mod.rs
  server/main-api/src/main.rs
  server/main-api/src/models.rs
  server/main-api/src/schema.rs
  webclient/src/api_types/index.ts
  webclient/src/pages/view/[id].vue
Due: openapi-format, mypy, pylint

added aliases to the API documentation
  openapi.yaml
  webclient/src/api_types/index.ts
Due: openapi-format

Integrated alias handling (#679)
  data/processors/areatree.py
  data/processors/export.py
  data/sources/00_areatree
  openapi.yaml
  server/main-api/README.md
  server/main-api/load_api_data_to_db.py
  server/main-api/src/entries/get.rs
  server/main-api/src/entries/legacy_redirect.rs
  server/main-api/src/entries/mod.rs
  server/main-api/src/main.rs
  server/main-api/src/models.rs
  server/main-api/src/schema.rs
  webclient/src/api_types/index.ts
  webclient/src/pages/view/[id].vue
Due: openapi-format, mypy, pylint

fixed a bunch of cargo clippi complaints
  server/calendar/src/calendar.rs
  server/calendar/src/main.rs
  server/calendar/src/scrape_task/main_api_connector.rs
  server/calendar/src/scrape_task/mod.rs
  server/calendar/src/scrape_task/tumonline_calendar_connector.rs
  server/calendar/src/scraper.rs
  server/calendar/src/utils.rs
  server/feedback/src/main.rs
  server/feedback/src/proposed_edits/coordinate.rs
  server/feedback/src/proposed_edits/discription.rs
  server/feedback/src/proposed_edits/image.rs
  server/feedback/src/proposed_edits/mod.rs
  server/feedback/src/proposed_edits/tmp_repo.rs
  server/main-api/src/entries/get.rs
  server/main-api/src/main.rs
  server/main-api/src/maps/mod.rs
  server/main-api/src/search/search_executor/formatter.rs
  server/main-api/src/search/search_executor/lexer.rs
  server/main-api/src/search/search_executor/merger.rs
  server/main-api/src/search/search_executor/parser.rs
  server/main-api/src/utils.rs
Due: none

fixed typo causing aborted compliation
  server/main-api/src/entries/get.rs
Due: none

added the nessesary `filterable-attributes`
  server/main-api/README.md
  server/main-api/configure_MeileSearch.sh
Due: none

implemented query filters
  server/main-api/src/search/search_executor/parser.rs
  server/main-api/src/search/search_executor/query.rs
Due: none

documented the api change
  openapi.yaml
  webclient/src/api_types/index.ts
Due: openapi-format

[Search-Refactoring-8] implemented query filters (#607)
  openapi.yaml
  server/main-api/README.md
  server/main-api/configure_MeileSearch.sh
  server/main-api/src/search/search_executor/parser.rs
  server/main-api/src/search/search_executor/query.rs
  webclient/src/api_types/index.ts
Due: openapi-format

extracted feedbackTokens to their own file
  webclient/src/components/AppFeedbackModal.vue
  webclient/src/composables/feedbackToken.ts
Due: none

nearby now uses binary search to narrow down the compared stations
  data/external/models/test_models.py
  data/external/scrapers/public_transport.py
  data/processors/public_transport.py
Due: mypy, pylint

replaced geopy with custom great_circle function for better performance
  data/processors/public_transport.py
  data/requirements.txt
Due: mypy, pylint

changed distance from km->m
  data/processors/public_transport.py
Due: mypy, pylint

Delete MVV_HSTReport2212.csv
  data/external/scrapers/MVV_HSTReport2212.csv
Due: none

removed not needed staging branches
  staging/pr-599.yaml
  staging/pr-673.yaml
  staging/pr-675.yaml
  staging/pr-679.yaml
  staging/pr-681.yaml
  staging/pr-682.yaml
Due: none

removed magic numbers warning
  webclient/src/composables/feedbackToken.ts
Due: none

reduced the magic numbers in handling token responses better
  webclient/src/composables/feedbackToken.ts
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
Due: none

added type hints to the `useFeedbackToken` function
  webclient/src/components/AppFeedbackModal.vue
  webclient/src/composables/feedbackToken.ts
Due: none

[Coordinate-picker-rework 1] extracted feedbackTokens to their own file (#683)
  webclient/src/components/AppFeedbackModal.vue
  webclient/src/composables/feedbackToken.ts
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
Due: none

Removed a magic number in the feedbackToken management code
  webclient/src/composables/feedbackToken.ts
Due: none

Revert "[Coordinate-picker-rework 1] extracted feedbackTokens to their own file (#683)"
  webclient/src/components/AppFeedbackModal.vue
  webclient/src/composables/feedbackToken.ts
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
Due: none

fixed a test failiour caused by wrong localisation
  webclient/cypress/e2e/feedback.cy.ts
Due: none

fixed how useFeedbackToken handles translations
  webclient/src/components/AppFeedbackModal.vue
  webclient/src/composables/feedbackToken.ts
  webclient/src/modules/autocomplete.ts
Due: none

[Coordinate-picker-rework 1] extracted feedbackTokens to their own file (#685)
  webclient/src/components/AppFeedbackModal.vue
  webclient/src/composables/feedbackToken.ts
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
  webclient/src/modules/autocomplete.ts
Due: none

replaced `scrollTo(behaviour: "instant")` with `scrollTo(behaviour: "auto")` relevant issue:https://github.com/microsoft/TypeScript/issues/46654
  webclient/src/components/DetailsInteractiveMap.vue
Due: none

whitespaces
  data/processors/public_transport.py
Due: mypy, pylint

fixed the vue-router not having the `href` attribute and thus `router.replace({ path: data.redirect_url })` getting called every time
  webclient/src/pages/view/[id].vue
Due: none

removed the `--allow-empty` option for git commits from the feedback proposal API
  server/feedback/src/proposed_edits/tmp_repo.rs
Due: none

removed all traces of the coordinate-picker to make space for a better system
  webclient/src/components/AppFeedbackModal.vue
  webclient/src/components/DetailsFeedbackButton.vue
  webclient/src/components/DetailsInfoSection.vue
  webclient/src/components/DetailsInteractiveMap.vue
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
  webclient/src/pages/view/[id].vue
  webclient/src/stores/details.ts
Due: none

Path conditions:
  openapi-format: any of: openapi.yaml
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: migrations
