Repository TUM-Dev/NavigaTUM: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-format, mypy, pylint

openapi-format:
  name: openapi-format
  entry: openapi-format ./openapi.yaml --output
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

made the rate limiting of our requests only matter if requests are made during "office hours"
  data/external/downloader.py
Due: mypy, pylint

Make it a variable
  webclient/src/main.scss
  webclient/src/variables.scss
Due: none

added progressbars to the downloader
  data/external/downloader.py
  data/requirements.txt
Due: mypy, pylint

Add redirect for buildings
  data/processors/export.py
Due: mypy, pylint

Remove API lang cookie
  server/src/main.rs
  webclient/src/core.js
Due: none

Remove checking the cookie in the server
  server/src/core/get.rs
  server/src/maps/mod.rs
  server/src/utils.rs
Due: none

Darkmode lang/theme selector (#256)
  webclient/src/main.scss
  webclient/src/variables.scss
Due: none

marked 4307 as low certainty, as the coordinates dont match with the adress
  data/sources/00_areatree
Due: none

Fix syntax and reorder
  data/sources/00_areatree
Due: none

moved all buildings/sites from WZW, which are not in the WZW outside of the WZW
  data/sources/00_areatree
Due: none

Integrated Freising
  data/sources/00_areatree
Due: none

Corrected the name of the WZW
  data/sources/00_areatree
Due: none

clarified the documentation on what shaming means
  openapi.yaml
  server/src/core/legacy_redirect.rs
Due: openapi-format

clairified, what extract_redirect_base() really does if _type is one of the common types
  server/src/core/legacy_redirect.rs
Due: none

Campus Weinstephan (#255)
  data/sources/00_areatree
Due: none

Legacy redirect (#245)
  data/processors/export.py
  openapi.yaml
  server/load_api_data_to_db.py
  server/src/core/legacy_redirect.rs
  server/src/core/mod.rs
Due: openapi-format, mypy, pylint

Fixed examples for `arch_name` in the `/api/legacy_redirect/{arch_name}` route
  openapi.yaml
Due: openapi-format

Fix language determination in the webclient
  webclient/src/core.js
Due: none

Remove cookie from API documentation
  openapi.yaml
Due: openapi-format

Make should_use_english a function of the renamed LangQueryArgs
  server/src/core/get.rs
  server/src/maps/mod.rs
  server/src/utils.rs
Due: none

Added pointer to roomfinder-map-img
  webclient/src/views/view/view-view.scss
Due: none

Added the scss part of the modal-roomfinder
  webclient/src/views/view/view-view.scss
Due: none

Added the inc part of the modal-roomfinder
  webclient/src/views/view/view-view.inc
Due: none

Added the JavaScript part of the modal-roomfinder
  webclient/src/views/view/view-view.js
Due: none

minor formatting fixes for python issues introduced in the legacy redirect
  data/processors/export.py
  server/load_api_data_to_db.py
Due: mypy, pylint

added two user provided coordinates Resolves https://github.com/TUM-Dev/NavigaTUM/issues/260 Resolves https://github.com/TUM-Dev/NavigaTUM/issues/261
  data/sources/02_coordinates.yaml
Due: none

Remove API lang cookie (#259)
  openapi.yaml
  server/src/core/get.rs
  server/src/main.rs
  server/src/maps/mod.rs
  server/src/utils.rs
  webclient/src/core.js
Due: openapi-format

removed numbering from headlines
  map/README.md
  server/README.md
Due: none

improved our docs for beginners
  README.md
  data/README.md
  resources/documentation/Dependencys.md
  server/README.md
  webclient/README.md
Due: none

Improved how the webclient api is worded
  README.md
Due: none

Path conditions:
  openapi-format: any of: openapi.yaml
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: migrations
