Repository TUM-Dev/NavigaTUM: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-format, mypy, pylint

openapi-format:
  name: openapi-format
  entry: openapi-format ./openapi.yaml --output
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

Add user provided coordinate in Straubing
  data/sources/02_coordinates.yaml
Due: none

Overlays for StudiTUM Innenstadt (#293)
  data/sources/02_coordinates.yaml
  data/sources/45_custom-maps.yaml
  data/sources/46_overlay-maps.yaml
  data/sources/img-sources/maps/studitum-innenstadt.svg
  data/sources/img/maps/overlay/0201_0.webp
  data/sources/img/maps/overlay/0201_1.webp
  data/sources/img/maps/overlay/0201_2.webp
  data/sources/img/maps/overlay/0201_3.webp
  data/sources/img/maps/roomfinder/0201_0.webp
  data/sources/img/maps/roomfinder/0201_1.webp
  data/sources/img/maps/roomfinder/0201_2.webp
  data/sources/img/maps/roomfinder/0201_3.webp
Due: none

Add user provided coordinate in MW
  data/sources/02_coordinates.yaml
Due: none

added the coordinates for the new image
  data/sources/46_overlay-maps.yaml
Due: none

added updated maps for the studitum-garching
  data/processors/maps.py
  data/sources/img-sources/maps/studitum-garching.svg
  data/sources/img-sources/maps/studitum-garching/edit-for-overlays.xcf
  data/sources/img-sources/maps/studitum-garching/studitum-garching.svg
  data/sources/img/maps/overlay/5532_0.webp
  data/sources/img/maps/overlay/5532_1.webp
  data/sources/img/maps/overlay/5532_2.webp
  data/sources/img/maps/overlay/5532_3.webp
  data/sources/img/maps/overlay/5532_4.webp
  data/sources/img/maps/roomfinder/5532_0.webp
  data/sources/img/maps/roomfinder/5532_1.webp
  data/sources/img/maps/roomfinder/5532_2.webp
  data/sources/img/maps/roomfinder/5532_3.webp
  data/sources/img/maps/roomfinder/5532_4.webp
Due: mypy, pylint

updated the design with doors
  data/sources/img-sources/maps/studitum-garching.svg
  data/sources/img/maps/overlay/5532_0.webp
  data/sources/img/maps/overlay/5532_1.webp
  data/sources/img/maps/overlay/5532_2.webp
  data/sources/img/maps/overlay/5532_3.webp
  data/sources/img/maps/overlay/5532_4.webp
  data/sources/img/maps/roomfinder/5532_0.webp
  data/sources/img/maps/roomfinder/5532_1.webp
  data/sources/img/maps/roomfinder/5532_2.webp
  data/sources/img/maps/roomfinder/5532_3.webp
  data/sources/img/maps/roomfinder/5532_4.webp
Due: none

Add another user provided coordinate in MW
  data/sources/02_coordinates.yaml
Due: none

added user provided coordiates for the chemistry building Resolves #425 Resolves #426
  data/sources/02_coordinates.yaml
Due: none

formatting fixes
  data/external/scrapers/tumonline.py
  data/sources/02_coordinates.yaml
  openapi.yaml
Due: openapi-format, mypy, pylint

moved the chemistry departments image source up to the other garching sources
  data/sources/img/img-sources.yaml
Due: none

added images for straubing
  data/sources/img/img-sources.yaml
  data/sources/img/lg/2927_0.webp
  data/sources/img/lg/2929_0.webp
  data/sources/img/lg/2930_0.webp
  data/sources/img/lg/3502_0.webp
  data/sources/img/lg/3503_0.webp
  data/sources/img/lg/3504_0.webp
  data/sources/img/lg/3505_0.webp
  data/sources/img/lg/3515_0.webp
  data/sources/img/lg/5620_0.webp
Due: none

formating fixes
  data/external/results/orgs-de_tumonline.json
  data/external/results/orgs-en_tumonline.json
  data/processors/tumonline.py
  data/translations.yaml
Due: mypy, pylint

removed buildings which were removed from the roomfinder
  data/sources/00_areatree
Due: none

removed not present and fixed rooms
  data/sources/15_patches-rooms_tumonline.yaml
Due: none

added building 8124 to the areatree
  data/sources/00_areatree
Due: none

Add coordinate for 8124
  data/sources/01_areas-extended.yaml
Due: none

Split coordinates file into multiple files
  data/compile.py
  data/processors/merge.py
  data/sources/02_coordinates.yaml
  data/sources/coordinates/0201_studitum-innenstadt.yaml
  data/sources/coordinates/540x_chemie.yaml
  data/sources/coordinates/550x-551x_mw.yaml
  data/sources/coordinates/5532_studitum-garching.yaml
  data/sources/coordinates/rest.yaml
Due: mypy, pylint

Use pathlib instead of os.listdir
  data/processors/merge.py
Due: mypy, pylint

Remove non-official from docs and improve wording
  README.md
  openapi.yaml
  webclient/src/md/about-us.md
  webclient/src/md/ueber-uns.md
Due: openapi-format

Split coordinates file into multiple files (#430)
  data/compile.py
  data/processors/merge.py
  data/sources/02_coordinates.yaml
  data/sources/coordinates/0201_studitum-innenstadt.yaml
  data/sources/coordinates/540x_chemie.yaml
  data/sources/coordinates/550x-551x_mw.yaml
  data/sources/coordinates/5532_studitum-garching.yaml
  data/sources/coordinates/rest.yaml
Due: mypy, pylint

Remove "non-official" disclaimer from docs and improve wording (#432)
  README.md
  openapi.yaml
  webclient/src/md/about-us.md
  webclient/src/md/ueber-uns.md
Due: openapi-format

Reduced the tileserver replicas we have
  deployment/k3s/templates/deployments/maps/maps-deployment.yaml
Due: none

Updated the production deployment
  main/templates/deployments/maps/maps-deployment.yaml
  main/templates/deployments/maps/tileserver-config.yaml
  main/templates/networking/middleware/cache-2-months-middleware.yaml
Due: none

Added user-provided images
  data/sources/img/img-sources.yaml
  data/sources/img/lg/0101_0.webp
  data/sources/img/lg/0102_1.webp
  data/sources/img/lg/0103_0.webp
  data/sources/img/lg/0104.U1.403_0.webp
  data/sources/img/lg/0104.U1.403_1.webp
  data/sources/img/lg/0104_0.webp
  data/sources/img/lg/0105_0.webp
  data/sources/img/lg/0105_1.webp
  data/sources/img/lg/0106_0.webp
  data/sources/img/lg/0109_1.webp
  data/sources/img/lg/0201_0.webp
  data/sources/img/lg/0206_0.webp
  data/sources/img/lg/0501_0.webp
  data/sources/img/lg/0501_1.webp
  data/sources/img/lg/0502_0.webp
  data/sources/img/lg/0503_1.webp
  data/sources/img/lg/0504_0.webp
  data/sources/img/lg/0505_0.webp
  data/sources/img/lg/0506_0.webp
  data/sources/img/lg/0508_0.webp
  data/sources/img/lg/0509_2.webp
  data/sources/img/lg/0509_3.webp
  data/sources/img/lg/0509_4.webp
  data/sources/img/lg/0510_0.webp
  data/sources/img/lg/0510_1.webp
  data/sources/img/lg/0510_2.webp
  data/sources/img/lg/5302_0.webp
  data/sources/img/lg/5506.EG.679_0.webp
  data/sources/img/lg/5506.EG.690H_0.webp
  data/sources/img/lg/5506.EG.690J_0.webp
  data/sources/img/lg/5506.EG.690M_0.webp
  data/sources/img/lg/5531_0.webp
  data/sources/img/lg/5622_0.webp
  data/sources/img/lg/5622_1.webp
  data/sources/img/lg/5701_0.webp
  data/sources/img/lg/8101_0.webp
  data/sources/img/lg/8102_0.webp
  data/sources/img/lg/8104_0.webp
  data/sources/img/lg/8111_0.webp
Due: none

Updated how the how the HfP is called in the Areatree
  data/sources/00_areatree
Due: none

Added user generated coordinates for the MW
  data/sources/coordinates/550x-551x_mw.yaml
Due: none

removed the application.yaml, as it proved probelmatic with the new staging system
  deployment/k3s/templates/application.yaml
Due: none

simplified our staging
  Readme.md
  main/Chart.yaml
  main/files/maps/config.json
  main/files/maps/osm_liberty.json
  main/templates/deployments/backend/calendar-deployment.yaml
  main/templates/deployments/backend/feedback-deployment.yaml
  main/templates/deployments/backend/server-deployment.yaml
  main/templates/deployments/data-deployment.yaml
  main/templates/deployments/maps/maps-deployment.yaml
  main/templates/deployments/maps/planetiler-cronjob.yaml
  main/templates/deployments/maps/tileserver-config.yaml
  main/templates/deployments/maps/tileserver-volume.yaml
  main/templates/deployments/web/rendertron-deployment.yaml
  main/templates/deployments/web/webclient-deployment.yaml
  main/templates/networking/https-cert.yaml
  main/templates/networking/ingress.yaml
  main/templates/networking/middleware/cache-2-months-middleware.yaml
  main/templates/networking/middleware/https-middleware.yaml
  main/templates/networking/middleware/nav-tum-de-redirect.yaml
  main/templates/networking/middleware/stripprefix-middleware.yaml
  main/templates/networking/service.yaml
  main/values.yaml
  pr-200.yaml
  pr-200/Chart.yaml
  pr-200/templates/deployments/data-deployment.yaml
  pr-200/templates/deployments/maps-deployment.yaml
  pr-200/templates/deployments/server-deployment.yaml
  pr-200/templates/deployments/webclient-deployment.yaml
  pr-200/templates/ingress/https-cert.yaml
  pr-200/templates/ingress/https-middleware.yaml
  pr-200/templates/ingress/ingress.yaml
  pr-200/templates/ingress/stripprefix-middleware.yaml
  pr-200/templates/service.yaml
  pr-200/templates/volumes/tileserver.yaml
  pr-200/values.yaml
Due: none

moved the apps to a different folder, as root level is not supported by argocd
  staging/pr-200.yaml
Due: none

Tested automated staging-CD
  .github/workflows/deploy.yaml
Due: none

tested a different deployment variant
  .github/workflows/deploy.yaml
  deployment/publish.sh
Due: none

fixed a few typos in the deployment script
  .github/workflows/deploy.yaml
Due: none

fixed more typos making the Staging CD fail
  .github/workflows/deploy.yaml
Due: none

Path conditions:
  openapi-format: any of: openapi.yaml
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: migrations
