Repository TUM-Dev/NavigaTUM: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-format, mypy, pylint

openapi-format:
  name: openapi-format
  entry: openapi-format ./openapi.yaml --output
  language: system

mypy:
  name: mypy
  entry: mypy --ignore-missing-imports
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

Static Sqlite compilation (#672)
  resources/documentation/Dependencys.md
  server/Cargo.lock
  server/calendar/Dockerfile
  server/feedback/Dockerfile
  server/main-api/Cargo.toml
  server/main-api/Dockerfile.server
Due: none

fixed the msinit being buildt in the wrong directory
  .github/workflows/ci.yml
  server/main-api/Dockerfile.msinit
Due: none

fixed typing issues
  webclient/src/components/AppFooter.vue
  webclient/src/stores/global.ts
Due: none

bumped supporting dependencys
  .pre-commit-config.yaml
  requirements_dev.txt
  webclient/package.json
Due: none

Fixed us operating TUMonline wrong
  server/calendar/src/scrape_task/tumonline_calendar_connector.rs
Due: none

linting fixes
  data/external/scrapers/tumonline.py
  data/utils.py
Due: mypy, pylint

migrated the DetailsFeaturedOverviewSection to be similar to its cousins
  openapi.yaml
  webclient/src/api_types/index.ts
  webclient/src/components/DetailsFeaturedOverviewSection.vue
  webclient/src/views/DetailsView.vue
Due: openapi-format

migrated to nuxt' page naming scheme
  webclient/src/App.vue
  webclient/src/assets/main.scss
  webclient/src/assets/spectre-all.scss
  webclient/src/components/AppFeedbackModal.vue
  webclient/src/components/AppFooter.vue
  webclient/src/components/AppNavHeader.vue
  webclient/src/components/AppSearchBar.vue
  webclient/src/components/DetailsBuildingOverviewSection.vue
  webclient/src/components/DetailsInfoSection.vue
  webclient/src/components/DetailsInteractiveMap.vue
  webclient/src/components/DetailsPropertyTable.vue
  webclient/src/components/DetailsRoomOverviewSection.vue
  webclient/src/components/DetailsRoomfinderMap.vue
  webclient/src/components/DetailsSources.vue
  webclient/src/main.ts
  webclient/src/pages/[...slug].vue
  webclient/src/pages/about/[name].vue
  webclient/src/pages/api.vue
  webclient/src/pages/index.vue
  webclient/src/pages/search.vue
  webclient/src/pages/view/[id].vue
  webclient/src/router.ts
Due: none

fixed mismatches in the openapi definition of the project compared to the actual results
  openapi.yaml
  webclient/src/api_types/index.ts
Due: openapi-format

removed requesting a specific version of rsync as it caused build failiours multiple times
  webclient/Dockerfile
Due: none

fixed the coord_counter not using pluralisation
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
  webclient/src/pages/view/[id].vue
Due: none

extracted the propertytable into its own component
  webclient/src/App.vue
  webclient/src/components/AppSearchBar.vue
  webclient/src/components/DetailsInfoSection.vue
  webclient/src/components/DetailsPropertyTable.vue
  webclient/src/components/TinyModal.vue
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
  webclient/src/stores/global.ts
Due: none

remved the restarter only restarting production
  .github/workflows/_restart-argocd.yml
Due: none

added the data protection policy in accordance to the request by datenschutz@tum.de
  webclient/src/assets/md/datenschutz.md
  webclient/src/assets/md/privacy.md
Due: none

introduced the roomfinder.model types to the processor.roomfinder
  data/external/scrapers/roomfinder.py
  data/external/scrapers/tumonline.py
  data/processors/coords.py
  data/processors/images.py
  data/processors/roomfinder.py
  data/processors/tumonline.py
  data/utils.py
  server/main-api/test/printer.py
Due: mypy, pylint

refactored how images are resized to be more typesave to prevent us not computing images Resolves #668
  data/processors/images.py
  data/sources/img/header/.gitkeep
  data/sources/img/md/.gitkeep
  data/sources/img/sm/.gitkeep
  data/sources/img/thumb/.gitkeep
  data/utils.py
Due: mypy, pylint

added accuracy to the coordinate defieniton
  openapi.yaml
  webclient/README.md
  webclient/src/api_types/index.ts
Due: openapi-format

Added "Official Roomfinder" badge (#675)
  webclient/README.md
  webclient/index.html
  webclient/nginx.conf
  webclient/public/navigatum-card.png
  webclient/src/assets/logos/navigatum.svg
  webclient/src/assets/logos/tum.svg
  webclient/src/assets/logos/tum_dark_de.svg
  webclient/src/assets/logos/tum_dark_en.svg
  webclient/src/assets/logos/tum_light_de.svg
  webclient/src/assets/logos/tum_light_en.svg
  webclient/src/components/AppFooter.vue
  webclient/src/components/AppNavHeader.vue
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
Due: none

fixed the XMLEvents from the database not being sorted
  server/calendar/src/calendar.rs
Due: none

Migrated the uptime monitor to an external service
  README.md
Due: none

[feedback-pipeline-6] Implemented the ability to contribute coordinates (#650)
  data/sources/coordinates/5400-5409_chemie.yaml
  data/sources/coordinates/5500-5519_mw.yaml
  openapi.yaml
  server/feedback/src/proposed_edits/coordinate.rs
  server/feedback/src/proposed_edits/mod.rs
  server/feedback/src/proposed_edits/tmp_repo.rs
  webclient/src/api_types/index.ts
Due: openapi-format

bumped the fairlights version
  deployment/ansible/roles/k8s-components/tasks/monitoring/fairlight.yml
Due: none

bumped penpots version
  deployment/ansible/roles/k8s-components/tasks/components/penpot.yml
Due: none

fixed the `Translation` component not being defined as a component and thus causing type errors
  webclient/src/components/I18nT.ts
  webclient/src/components/feedback/TokenBasedModal.vue
Due: none

fixed the email we use to authorise against cloudflare
  deployment/ansible/roles/k8s-components/tasks/cert-manager.yml
Due: none

fixed certmanager secret being named wrong
  deployment/ansible/roles/k8s-components/tasks/cert-manager.yml
Due: none

changed the k3s installaion script to install the nodes sequentially
  deployment/ansible/roles/k8s/tasks/install/k3s.yml
Due: none

fixed the floor list not being in sync with the displayed map Regression of https://github.com/TUM-Dev/NavigaTUM/issues/676
  webclient/src/modules/FloorControl.ts
Due: none

[Search-Refactoring-6] Postprossesing 3 (#603)
  server/main-api/src/search/search_executor/formatter.rs
  server/main-api/src/search/search_executor/merger.rs
  server/main-api/src/search/search_executor/mod.rs
  server/main-api/src/search/search_executor/postprocess.rs
Due: none

bumped js dependencys
  webclient/package.json
Due: none

[Search-Refactoring-3] Lexer/parser based searching (#599)
  server/Cargo.lock
  server/main-api/Cargo.toml
  server/main-api/src/search/search_executor/lexer.rs
  server/main-api/src/search/search_executor/mod.rs
  server/main-api/src/search/search_executor/parser.rs
  server/main-api/src/search/search_executor/postprocess.rs
  server/main-api/src/search/search_executor/preprocess.rs
  server/main-api/src/search/search_executor/query.rs
Due: none

re-added a `sitemap-webclient.xml` file for better SEO
  webclient/public/sitemap-webclient.xml
Due: none

fixed some metadata files not being served correctly
  webclient/nginx.conf
Due: none

added `sourcery` as a python dev-dependency
  requirements_dev.txt
Due: none

re-added a `robots.txt` file for better SEO
  webclient/public/robots.txt
Due: none

migrated the model tests of the external data to utilise `unittest.subTest` for better debugging
  data/external/models/test_models.py
Due: mypy, pylint

[Coordinate-picker-rework 2] Removal of the current coordinate feedback system (#684)
  webclient/src/components/AppFeedbackModal.vue
  webclient/src/components/DetailsFeedbackButton.vue
  webclient/src/components/DetailsInfoSection.vue
  webclient/src/components/DetailsInteractiveMap.vue
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
  webclient/src/pages/view/[id].vue
  webclient/src/stores/details.ts
Due: none

improved the python typing a bit by adding more type hints
  data/external/scrapers/nat.py
  data/external/scrapers/roomfinder.py
  data/external/scrapers/tumonline.py
  data/external/scraping_utils.py
  data/processors/areatree.py
  data/processors/export.py
  data/processors/images.py
  data/processors/maps.py
  data/processors/public_transport.py
  data/processors/roomfinder.py
  data/processors/sections.py
  data/utils.py
  openapi.yaml
  server/main-api/load_api_data_to_db.py
  webclient/src/api_types/index.ts
  webclient/src/components/I18nT.ts
  webclient/src/components/feedback/TokenBasedModal.vue
  webclient/src/locales/check_locales.py
Due: openapi-format, mypy, pylint

removed the `--allow-empty` option for git commits from the feedback proposal API
  server/feedback/src/proposed_edits/tmp_repo.rs
Due: none

fixed the vue-router not having the `href` attribute and thus `router.replace({ path: data.redirect_url })` getting called every time
  webclient/src/pages/view/[id].vue
Due: none

Path conditions:
  openapi-format: any of: openapi.yaml
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: migrations
