Repository TUM-Dev/NavigaTUM: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-format, mypy, pylint

openapi-format:
  name: openapi-format
  entry: openapi-format ./openapi.yaml --output
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

fixed formatting mistakes have sneaked into prod
  webclient/pnpm-lock.yaml
Due: none

fixed pnpm lockfile
  webclient/pnpm-lock.yaml
Due: none

tested if adding `webclient/pnpm-lock.yaml` to `.prettierignore` fixes the linting spam
  webclient/.prettierignore
Due: none

removed scss (#1141)
  webclient/package.json
  webclient/pnpm-lock.yaml
Due: none

rotated the connectum api keys to production
  .env
  .github/workflows/update-data.yml
  deployment/README.md
  deployment/k3s/templates/deployments/server-deployment.yaml
  deployment/k3s/values.yaml
  server/main-api/src/calendar/fetch/connectum.rs
Due: none

improved the editorconfig defaults for python
  .editorconfig
Due: none

removed unnessearily letting steps of the data pipeline not/only run in prod
  data/compile.py
  data/processors/images.py
  data/processors/sitemap.py
  data/utils.py
Due: mypy, pylint

fixed formatting mistakes have sneaked into prod
  data/processors/sitemap.py
Due: mypy, pylint

made sure that I don't have to apply the mytum patch every time
  .github/workflows/update-data.yml
Due: none

made sure that the scraper is sorted by scaped service
  data/external/main.py
Due: mypy, pylint

The scraper now cleans up before itsself
  .github/workflows/update-data.yml
Due: none

Update data/external/scrapers/tumonline.py
  data/external/scrapers/tumonline.py
Due: mypy, pylint

fixed the adress zip_code being an integer
  data/external/models/tumonline.py
Due: mypy, pylint

adjustment to new meta
  data/external/scrapers/tumonline.py
Due: mypy, pylint

fixed compilation errors
  data/data_format_geo-entry.yaml
  data/external/models/test_models.py
  data/external/models/tumonline.py
  data/processors/export.py
  data/processors/sections.py
  data/processors/structure.py
  data/processors/tumonline.py
  data/sources/01_areas-extended.yaml
Due: mypy, pylint

revert unintended update
  data/sources/01_areas-extended.yaml
Due: none

fixed an ID-Difference
  data/external/results/buildings_tumonline.json
  data/external/scrapers/tumonline.py
Due: mypy, pylint

fixed more ID-Differences
  data/external/models/tumonline.py
  data/external/results/orgs-de_tumonline.json
  data/external/results/orgs-en_tumonline.json
  data/external/results/usages_tumonline.json
  data/external/scrapers/tumonline.py
  data/processors/tumonline.py
Due: mypy, pylint

less diff
  data/processors/export.py
Due: mypy, pylint

made sure that github groups the scraped parts nicely
  .github/workflows/update-data.yml
  data/external/main.py
Due: mypy, pylint

reduced the time we wait to not overwhelm mytum
  data/external/scrapers/roomfinder.py
Due: mypy, pylint

Split the scrapers for better display in the github action
  .github/workflows/update-data.yml
  data/README.md
  data/external/main.py
  data/external/scrapers/nat.py
  data/external/scrapers/public_transport.py
  data/external/scrapers/roomfinder.py
  data/external/scrapers/tumonline.py
Due: mypy, pylint

fixed formatting mistakes have sneaked into prod
  data/README.md
Due: none

replaced the SED calls of the workflow into actual python code to get around escaping errors
  .github/workflows/update-data.yml
  data/README.md
  data/external/scrapers/roomfinder.py
Due: mypy, pylint

made sure that logging in dev is pleasantly debuggable
  server/Cargo.lock
  server/main-api/Cargo.toml
  server/main-api/src/main.rs
Due: none

made sure that the opt-level for dependencys is high enough to have a good DX
  server/Cargo.toml
Due: none

tmp
  server/main-api/migrations/20240505224430_fix-calendar-id-not-extracted.down.sql
  server/main-api/migrations/20240505224430_fix-calendar-id-not-extracted.up.sql
  server/main-api/src/calendar/mod.rs
  server/main-api/src/models.rs
Due: none

made sure that `https://nav.tum.de/` does not need `/api/get/root`
  webclient/pages/index.vue
Due: none

removed the root response from the details api
  openapi.yaml
  webclient/api_types/index.ts
Due: openapi-format

removed the root-handling from the api
  data/compile.py
  data/processors/export.py
  data/processors/sitemap.py
  server/main-api/src/details.rs
Due: mypy, pylint

removed more stale parts
  webclient/pages/index.vue
Due: none

fixed linting mistake
  webclient/components/AppSearchBar.vue
  webclient/components/SearchResultItem.vue
Due: none

Path conditions:
  openapi-format: any of: openapi.yaml
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: migrations
