Repository TUM-Dev/NavigaTUM: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-format, mypy, pylint

openapi-format:
  name: openapi-format
  entry: openapi-format ./openapi.yaml --output
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

increased the nextTick timeout for loading the interactive map to 25ms to reduce the number of erros written to the screen
  webclient/src/views/DetailsView.vue
Due: none

added accuracy to the coordinate defieniton
  openapi.yaml
  webclient/README.md
  webclient/src/api_types/index.ts
Due: openapi-format

bumped supporting dependencys
  .pre-commit-config.yaml
  requirements_dev.txt
  webclient/package.json
Due: none

fixed mismatches in the openapi definition of the project compared to the actual results
  openapi.yaml
  webclient/src/api_types/index.ts
Due: openapi-format

fixed the typescript configuration of vue-i18n
  webclient/src/i18n.d.ts
  webclient/src/main.ts
Due: none

unified how useI18n is used
  webclient/src/components/AppFeedbackModal.vue
  webclient/src/components/AppSearchBar.vue
  webclient/src/components/DetailsFeedbackButton.vue
  webclient/src/views/DetailsView.vue
  webclient/src/views/SearchView.vue
Due: none

migrated the DetailsFeaturedOverviewSection to be similar to its cousins
  openapi.yaml
  webclient/src/api_types/index.ts
  webclient/src/components/DetailsFeaturedOverviewSection.vue
  webclient/src/views/DetailsView.vue
Due: openapi-format

Fixed a lot of the typescript missmatches
  webclient/src/App.vue
  webclient/src/components/AppFeedbackModal.vue
  webclient/src/components/AppSearchBar.vue
  webclient/src/components/DetailsBuildingOverviewSection.vue
  webclient/src/components/DetailsFeedbackButton.vue
  webclient/src/components/DetailsInfoSection.vue
  webclient/src/components/DetailsInteractiveMap.vue
  webclient/src/components/DetailsRoomOverviewSection.vue
  webclient/src/components/DetailsRoomfinderMap.vue
  webclient/src/components/DetailsSources.vue
  webclient/src/components/ShareButton.vue
  webclient/src/modules/FloorControl.ts
  webclient/src/modules/autocomplete.ts
  webclient/src/stores/details.ts
  webclient/src/stores/global.ts
  webclient/src/views/DetailsView.vue
  webclient/src/views/MainView.vue
  webclient/src/views/NotFoundView.vue
  webclient/vite.config.ts
Due: none

migrated to nuxt' page naming scheme
  webclient/src/App.vue
  webclient/src/assets/main.scss
  webclient/src/assets/spectre-all.scss
  webclient/src/components/AppFeedbackModal.vue
  webclient/src/components/AppFooter.vue
  webclient/src/components/AppNavHeader.vue
  webclient/src/components/AppSearchBar.vue
  webclient/src/components/DetailsBuildingOverviewSection.vue
  webclient/src/components/DetailsInfoSection.vue
  webclient/src/components/DetailsInteractiveMap.vue
  webclient/src/components/DetailsPropertyTable.vue
  webclient/src/components/DetailsRoomOverviewSection.vue
  webclient/src/components/DetailsRoomfinderMap.vue
  webclient/src/components/DetailsSources.vue
  webclient/src/main.ts
  webclient/src/pages/[...slug].vue
  webclient/src/pages/about/[name].vue
  webclient/src/pages/api.vue
  webclient/src/pages/index.vue
  webclient/src/pages/search.vue
  webclient/src/pages/view/[id].vue
  webclient/src/router.ts
Due: none

extracted the propertytable into its own component
  webclient/src/App.vue
  webclient/src/components/AppSearchBar.vue
  webclient/src/components/DetailsInfoSection.vue
  webclient/src/components/DetailsPropertyTable.vue
  webclient/src/components/TinyModal.vue
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
  webclient/src/stores/global.ts
Due: none

moved the ImageSlideshow to its own Component
  webclient/src/components/DetailsImageSlideshowModal.vue
  webclient/src/components/DetailsInfoSection.vue
  webclient/src/components/DetailsRoomfinderMap.vue
Due: none

[feedback-pipeline-5] Basic implementation of the `/api/feedback/propose_edit` API Endpoint (#508)
  openapi.yaml
  server/Cargo.lock
  server/feedback/Cargo.toml
  server/feedback/src/github.rs
  server/feedback/src/main.rs
  server/feedback/src/proposed_edits/discription.rs
  server/feedback/src/proposed_edits/mod.rs
  server/feedback/src/proposed_edits/tmp_repo.rs
  webclient/src/api_types/index.ts
Due: openapi-format

linting fixes
  openapi.yaml
  webclient/src/components/DetailsInfoSection.vue
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
Due: openapi-format

implemented the interface models for the different scraping backends - `models.nat` - models.tumonline - models.roomfinder
  data/external/models/common.py
  data/external/models/nat.py
  data/external/models/roomfinder.py
  data/external/models/test_models.py
  data/external/models/tumonline.py
  data/requirements.txt
Due: mypy, pylint

setup
  data/external/scrapers/public_transport.py
Due: mypy, pylint

added csvs with station data
  data/external/scrapers/MVV_HSTReport2212.csv
  data/external/scrapers/stops.csv
Due: none

configured pydantics `allow_population_by_field_name` option and added a mypy plugin
  data/external/models/common.py
  pyproject.toml
Due: mypy, pylint

ignored `vue/multi-word-component-names` errors introduced to ease the migration to nuxt
  webclient/.eslintrc.cjs
Due: none

introduced the roomfinder.model types to the processor.roomfinder
  data/external/scrapers/roomfinder.py
  data/external/scrapers/tumonline.py
  data/processors/coords.py
  data/processors/images.py
  data/processors/roomfinder.py
  data/processors/tumonline.py
  data/utils.py
  server/main-api/test/printer.py
Due: mypy, pylint

bumped javascript dependencys
  webclient/package.json
Due: none

added the data protection policy in accordance to the request by datenschutz@tum.de
  webclient/src/assets/md/datenschutz.md
  webclient/src/assets/md/privacy.md
Due: none

refactored how images are resized to be more typesave to prevent us not computing images Resolves #668
  data/processors/images.py
  data/sources/img/header/.gitkeep
  data/sources/img/md/.gitkeep
  data/sources/img/sm/.gitkeep
  data/sources/img/thumb/.gitkeep
  data/utils.py
Due: mypy, pylint

linting fixes
  data/external/scrapers/tumonline.py
  data/utils.py
Due: mypy, pylint

removed requesting a specific version of rsync as it caused build failiours multiple times
  webclient/Dockerfile
Due: none

made sure that sqlite is always statically compiled
  resources/documentation/Dependencys.md
  server/Cargo.lock
  server/calendar/Dockerfile
  server/feedback/Dockerfile
  server/main-api/Cargo.toml
  server/main-api/Dockerfile.server
Due: none

Static Sqlite compilation (#672)
  resources/documentation/Dependencys.md
  server/Cargo.lock
  server/calendar/Dockerfile
  server/feedback/Dockerfile
  server/main-api/Cargo.toml
  server/main-api/Dockerfile.server
Due: none

fixed the msinit being buildt in the wrong directory
  .github/workflows/ci.yml
  server/main-api/Dockerfile.msinit
Due: none

implemented the ability to contribute coordinates
  data/sources/coordinates/5400-5409_chemie.yaml
  data/sources/coordinates/5500-5519_mw.yaml
  openapi.yaml
  server/feedback/src/proposed_edits/coordinate.rs
  server/feedback/src/proposed_edits/mod.rs
  server/feedback/src/proposed_edits/tmp_repo.rs
  webclient/src/api_types/index.ts
Due: openapi-format

fixed the not-enight-edits not working correctly
  server/feedback/src/proposed_edits/mod.rs
Due: none

bumped penpots version
  deployment/ansible/roles/k8s-components/tasks/components/penpot.yml
Due: none

bumped the fairlights version
  deployment/ansible/roles/k8s-components/tasks/monitoring/fairlight.yml
Due: none

fixed the coord_counter not using pluralisation
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
  webclient/src/pages/view/[id].vue
Due: none

refactored where we store the logos
  webclient/README.md
  webclient/index.html
  webclient/nginx.conf
  webclient/public/navigatum-card.png
  webclient/src/assets/logos/navigatum.svg
  webclient/src/assets/logos/tum.svg
  webclient/src/components/AppNavHeader.vue
Due: none

removed the tum logo from the header
  webclient/src/components/AppNavHeader.vue
Due: none

implemented the added tum logo at the bottom
  webclient/nginx.conf
  webclient/public/logos/tum_dark_de.svg
  webclient/public/logos/tum_dark_en.svg
  webclient/public/logos/tum_light_de.svg
  webclient/public/logos/tum_light_en.svg
  webclient/src/components/AppFooter.vue
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
Due: none

made the TUM-logo link to tum.de
  webclient/src/components/AppFooter.vue
Due: none

Path conditions:
  openapi-format: any of: openapi.yaml
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: migrations
