Repository TUM-Dev/NavigaTUM: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-format, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-ast
      - id: check-toml
      - id: check-yaml
        args:
          - --allow-multiple-documents
        exclude: "data/data_format_geo-entry.yaml"
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-case-conflict
      - id: check-docstring-first
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: requirements-txt-fixer
  # only api
  - repo: local
    hooks:
      - id: openapi-format
        name: openapi-format
        entry: openapi-format ./openapi.yaml --output
        language: system
        files: "openapi.yaml"
  # only server
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd server && cargo fmt'
        language: system
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        entry: bash -c 'cd server && cargo check'
        language: system
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c 'cd server && cargo clippy'
        language: system
        pass_filenames: false
  # only webclient
  - repo: https://github.com/paulhfischer/prettier-config
    rev: v1.4.0
    hooks:
      - id: lint
  - repo: https://github.com/paulhfischer/stylelint-config
    rev: v1.3.0
    hooks:
      - id: lint
        files: \.(css|scss|sass)$
  - repo: https://github.com/paulhfischer/eslint-config-javascript
    rev: v1.8.4
    hooks:
      - id: lint
  # only data
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.2.3
    hooks:
      - id: add-trailing-comma
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-use-type-annotations
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
  - repo: https://gitlab.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-broken-line
          - flake8-commas
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-mutable
          - flake8-return
          - flake8-typing-imports
          - flake8-simplify
          - flake8-print
          - flake8-use-fstring
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: migrations

refactored the search page to work whe deployed
  webclient/components/SearchSectionList.vue
  webclient/pages/search.vue
Due: none

optimised the image delivery
  webclient/components/AppFooter.vue
  webclient/components/DetailsBuildingOverviewSection.vue
  webclient/components/DetailsInfoSection.vue
  webclient/components/SearchSectionList.vue
  webclient/nuxt.config.ts
  webclient/package.json
  webclient/pages/[view]/[id].vue
  webclient/pages/search.vue
  webclient/pnpm-lock.yaml
Due: none

optimised how header images are being reacted to and displayed
  webclient/components/DetailsImageSlideshowModal.vue
  webclient/pages/[view]/[id].vue
Due: none

optimised the accessibility of the search bar
  webclient/components/AppSearchBar.vue
  webclient/components/DetailsRoomOverviewSection.vue
Due: none

temporarily made the search bar into a clientonly component
  webclient/layouts/default.vue
  webclient/layouts/details.vue
Due: none

fixed the lockfile
  webclient/pnpm-lock.yaml
Due: none

tested if lastmod without the `Z`-suffix is accepted by google According to https://developers.google.com/search/blog/2006/04/using-lastmod-attribute this should work
  data/processors/sitemap.py
Due: mypy, pylint

made sure that the priority ranking of sitemaps works as intended and is never negative
  data/processors/sitemap.py
Due: mypy, pylint

made sure that the timestamps in the sitemap are all conforming to what google expects
  data/processors/sitemap.py
Due: mypy, pylint

Migrated from `deno-server` to using the `node-cluster` preset because deno has weird dependency issues
  webclient/Dockerfile
Due: none

made sur that `textarea`'s have resisability set
  webclient/components/AppSearchBar.vue
  webclient/components/DetailsRoomOverviewSection.vue
  webclient/components/FeedbackModal.vue
Due: none

made sure that previews for `type`=`poi` rooms are generated at the appropriate height
  server/main-api/src/maps/overlay_map.rs
Due: none

added `n_visible` to the `rooms`-facet
  openapi.yaml
  server/main-api/src/search/search_executor/merger.rs
  server/main-api/src/search/search_executor/mod.rs
  webclient/README.md
  webclient/api_types/index.ts
  webclient/package.json
  webclient/pnpm-lock.yaml
Due: openapi-format

migrated the search page as well
  webclient/components/AppSearchBar.vue
  webclient/components/SearchResultItem.vue
  webclient/components/SearchSectionList.vue
  webclient/pages/search.vue
Due: none

made sure that the frontend serverside renders what it can
  webclient/components/AppSearchBar.vue
  webclient/components/SearchResultItem.vue
  webclient/layouts/default.vue
  webclient/layouts/details.vue
Due: none

explicitely specified the types for `RoomEntry.type` and `SitesBuildingsEntry.type`
  openapi.yaml
  webclient/api_types/index.ts
Due: openapi-format

formatting fix
  openapi.yaml
Due: openapi-format

Feat/serverside serch bar (#1081)
  openapi.yaml
  server/main-api/src/search/search_executor/merger.rs
  server/main-api/src/search/search_executor/mod.rs
  webclient/README.md
  webclient/api_types/index.ts
  webclient/components/AppSearchBar.vue
  webclient/components/SearchResultItem.vue
  webclient/components/SearchSectionList.vue
  webclient/layouts/default.vue
  webclient/layouts/details.vue
  webclient/package.json
  webclient/pages/search.vue
  webclient/pnpm-lock.yaml
Due: openapi-format

made sure that nuxt serves assets with compression
  webclient/nuxt.config.ts
Due: none

added preloading to some images to reduce the CLS
  webclient/components/DetailsInfoSection.vue
  webclient/pages/[view]/[id].vue
Due: none

experimented with different image sizes
  webclient/components/DetailsInfoSection.vue
  webclient/pages/[view]/[id].vue
Due: none

fixed runtime error for `0509.EG.980` Closes https://github.com/TUM-Dev/NavigaTUM/issues/1090
  webclient/pages/[view]/[id].vue
Due: none

fixed more cases of faulty empty array handling
  webclient/pages/[view]/[id].vue
Due: none

Re-Added the google site vertification for google search
  webclient/public/googlebef9161f1176c5e0.html
Due: none

fixed a weird border being around the searchbox of the RoomOverview
  webclient/components/DetailsRoomOverviewSection.vue
Due: none

fixed the formatting suite not liking the google-site-verification file
  webclient/public/googlebef9161f1176c5e0.html
Due: none

Fixed a linting error
  webclient/components/DetailsRoomOverviewSection.vue
Due: none

made sure that the search bar and the footer sizes are adjusted to maximise the avaliable space
  webclient/components/AppSearchBar.vue
  webclient/layouts/default.vue
  webclient/layouts/details.vue
Due: none

Made sure that the images are more ssr capable
  webclient/components/DetailsInfoSection.vue
  webclient/components/DetailsSources.vue
  webclient/pages/[view]/[id].vue
Due: none

made sure that the preferences borders are aligned with the rest of the app
  webclient/components/PreferencesPopup.vue
  webclient/components/SelectionSwitch.vue
Due: none

configured EOL for better windows compatability
  webclient/package.json
Due: none

tested the new data update script
  .github/workflows/update-data.yml
Due: none

fixed a typo making github actions unable to recognise the new action
  .github/workflows/update-data.yml
Due: none

fixed the name of the action being wrong
  .github/workflows/update-data.yml
Due: none

made sure that failing to download data is fail obvious
  .github/workflows/update-data.yml
Due: none

tested if changing the working directory works
  .github/workflows/update-data.yml
Due: none

overrode the `TQDM_MININTERVAL` for the `update-data` workflow
  .github/workflows/update-data.yml
Due: none

inclreased `TQDM_MININTERVAL` to `100` for the `update-data` workflow
  .github/workflows/update-data.yml
Due: none

temporarily disabled the slower scrapers to test the formatting and PR-creation
  data/external/main.py
Due: mypy, pylint
