Repository TUM-Dev/NavigaTUM: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-format, mypy, pylint

openapi-format:
  name: openapi-format
  entry: openapi-format ./openapi.yaml --output
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

Changed the image layout in our main readme
  README.md
Due: none

[ImgBot] Optimize images
  data/sources/img-sources/maps/galileo_0_eg.svg
  data/sources/img-sources/maps/mi/number_overlay.png
  data/sources/img-sources/maps/mi/number_overlay.svg
  data/sources/img-sources/maps/mi/plain-with-shadow/overlay_01.png
  data/sources/img-sources/maps/mi/plain-with-shadow/overlay_02.png
  data/sources/img-sources/maps/mi/plain-with-shadow/overlay_03.png
  data/sources/img-sources/maps/mi/plain-with-shadow/overlay_04.png
  data/sources/img-sources/maps/mi/plain-with-shadow/overlay_EG.png
  data/sources/img-sources/maps/mi/plain-with-shadow/overlay_UG.png
  data/sources/img-sources/maps/mi/plain-without-shadow/plain_01.png
  data/sources/img-sources/maps/mi/plain-without-shadow/plain_02.png
  data/sources/img-sources/maps/mi/plain-without-shadow/plain_03.png
  data/sources/img-sources/maps/mi/plain-without-shadow/plain_EG.png
  data/sources/img-sources/maps/mi/plain-without-shadow/plain_UG.png
  resources/deployment/Deployment_Overview.png
  resources/deployment/Deployment_Overview.svg
  resources/deployment/Flowchart.png
  resources/deployment/Flowchart.svg
  resources/website-screenshots/building-with-internal-map_dark.png
  resources/website-screenshots/building-with-internal-map_light.png
  resources/website-screenshots/example-search_dark.png
  resources/website-screenshots/example-search_light.png
  resources/website-screenshots/example_parsed-id_dark.png
  resources/website-screenshots/example_parsed-id_light.png
  resources/website-screenshots/main-index_dark.png
  resources/website-screenshots/main-index_light.png
  webclient/src/assets/logo2.min2.svg
Due: none

Fixed unclear wording
  webclient/gulpfile.js
Due: none

Fixed api loading indicator (#191)
  webclient/gulpfile.js
  webclient/package.json
  webclient/src/main.scss
  webclient/src/views/api/view-api.scss
Due: none

fixed formatting issues, caused by merge-differerentials
  README.md
  data/external/downloader.py
  data/processors/roomfinder.py
  data/processors/tumonline.py
  data/sources/01_areas-extended.yaml
  data/sources/img-sources/maps/galileo_0_eg.svg
  data/sources/img-sources/maps/mi/number_overlay.svg
  openapi.yaml
  resources/deployment/Deployment_Overview.svg
  resources/deployment/Flowchart.svg
  server/test/search_test.py
  server/test/test-queries.yaml
  webclient/gulpfile.js
  webclient/package.json
  webclient/src/assets/logo2.min2.svg
  webclient/src/main.scss
  webclient/src/views/api/view-api.js
  webclient/src/views/api/view-api.scss
  webclient/src/views/view/view-view.scss
Due: openapi-format, mypy, pylint

[ImgBot] Optimize images
  data/sources/img-sources/maps/galileo_0_eg.svg
  data/sources/img-sources/maps/mi/number_overlay.svg
  data/sources/img-sources/maps/mw_0-overlay.svg
  resources/deployment/Deployment_Overview.svg
  resources/deployment/Flowchart.svg
  webclient/src/assets/logo2.min2.svg
Due: none

test, if relaxed settings resolve our deployment issue
  data/Dockerfile
  data/nginx.conf
  webclient/Dockerfile
  webclient/nginx.conf
Due: none

reduced the frequency we check on rendertron, because this makes the log really unreadable
  deployment/kubernetes/server/webclient-deployment.yaml
Due: none

Added a .imgbotconfig file to prevent PRs like #193
  .imgbotconfig
Due: none

Reverted now ignored commits of ImgBot to data/sources/img-sources/
  data/sources/img-sources/maps/galileo_0_eg.svg
  data/sources/img-sources/maps/mi/number_overlay.png
  data/sources/img-sources/maps/mi/number_overlay.svg
  data/sources/img-sources/maps/mi/plain-with-shadow/overlay_01.png
  data/sources/img-sources/maps/mi/plain-with-shadow/overlay_02.png
  data/sources/img-sources/maps/mi/plain-with-shadow/overlay_03.png
  data/sources/img-sources/maps/mi/plain-with-shadow/overlay_04.png
  data/sources/img-sources/maps/mi/plain-with-shadow/overlay_EG.png
  data/sources/img-sources/maps/mi/plain-with-shadow/overlay_UG.png
  data/sources/img-sources/maps/mi/plain-without-shadow/plain_01.png
  data/sources/img-sources/maps/mi/plain-without-shadow/plain_02.png
  data/sources/img-sources/maps/mi/plain-without-shadow/plain_03.png
  data/sources/img-sources/maps/mi/plain-without-shadow/plain_EG.png
  data/sources/img-sources/maps/mi/plain-without-shadow/plain_UG.png
Due: none

Reformat function declaration
  server/src/core/search/search_executor/postprocess.rs
Due: none

Add short names for buildings etc. and show the campus in search
  data/processors/areatree.py
  data/processors/export.py
  data/sources/00_areatree
  server/configure_MeileSearch.sh
  server/src/core/search/search_executor/meilisearch.rs
  server/src/core/search/search_executor/postprocess.rs
Due: mypy, pylint

Minor additions in the areatree and parsing
  data/processors/areatree.py
  data/sources/00_areatree
Due: mypy, pylint

Added coordinates to the roomfinder-data
  data/processors/maps.py
Due: mypy, pylint

Added a button to open the debug overlay of roomfinder maps onto the map
  webclient/src/modules/interactive-map.js
  webclient/src/views/view/i18n-view.yaml
  webclient/src/views/view/view-view.inc
  webclient/src/views/view/view-view.js
  webclient/src/views/view/view-view.scss
Due: none

formatting changes missed in the merge
  data/processors/maps.py
  webclient/src/modules/interactive-map.js
  webclient/src/views/view/view-view.inc
  webclient/src/views/view/view-view.js
Due: mypy, pylint

Show the campus in the search subtext and add short names for buildings etc. (#196)
  data/processors/areatree.py
  data/processors/export.py
  data/sources/00_areatree
  server/configure_MeileSearch.sh
  server/src/core/search/search_executor/meilisearch.rs
  server/src/core/search/search_executor/postprocess.rs
Due: mypy, pylint

implemented a different algorithm for bbox conversion
  data/processors/maps.py
Due: mypy, pylint

fixed the formatting for .imgbotconfig
  .imgbotconfig
Due: none

Reverted Nginx to have a writable directory again, because of flakyness
  data/Dockerfile
  data/nginx.conf
  deployment/kubernetes/server/data-deployment.yaml
  deployment/kubernetes/server/webclient-deployment.yaml
  deployment/kubernetes/service.yaml
  webclient/Dockerfile
  webclient/nginx.conf
Due: none

Tested a different way of escaping strings in actions
  .github/workflows/server.yml
Due: none

Tested a different way of writing the shemathesis tests
  .github/workflows/server.yml
Due: none

updated our rust dependencys
  server/Cargo.toml
Due: none

made shemathesis not dependent on other steps
  .github/workflows/docker-build.yml
  .github/workflows/server.yml
Due: none

refactored the shemathsis integration
  .github/workflows/server.yml
Due: none

Path conditions:
  openapi-format: any of: openapi.yaml
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: migrations
