Repository TUM-Dev/NavigaTUM: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-format, mypy, pylint

openapi-format:
  name: openapi-format
  entry: openapi-format ./openapi.yaml --output
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

Improved docs (#268)
  README.md
  data/README.md
  map/README.md
  resources/documentation/Dependencys.md
  server/README.md
  webclient/README.md
Due: none

renamed methodnames for better semantics
  data/external/main.py
  data/external/scrapers/roomfinder.py
  data/external/scrapers/tumonline.py
Due: mypy, pylint

Removed duplicate line in the docs
  README.md
Due: none

Try to fix the share menu not opening on Safari
  webclient/src/views/view/view-view.inc
Due: none

Try to fix the share menu not opening on Safari (#269)
  webclient/src/views/view/view-view.inc
Due: none

press / to focus the search bar
  webclient/src/components/AppSearchBar.vue
Due: none

Add some links and minor data corrections
  data/processors/structure.py
  data/sources/00_areatree
  data/sources/01_areas-extended.yaml
Due: mypy, pylint

Add user provided coordinate
  data/sources/02_coordinates.yaml
Due: none

added the ability for the preview endpoint to handle the tileserver being offline
  server/src/maps/logo-card.png
  server/src/maps/mod.rs
Due: none

removed two comments about our system, which are no longer true
  deployment/k3s/templates/deployments/maps-deployment.yaml
  server/src/main.rs
Due: none

Added some more clairity on how our server works
  server/README.md
Due: none

added the outdatedBrowser detection
  webclient/index.html
  webclient/src/modules/outdatedBrowser.ts
Due: none

Robust previews (#273)
  server/src/maps/logo-card.png
  server/src/maps/mod.rs
Due: none

fixed a few minor whitespace formatting bugs
  README.md
  data/README.md
  data/external/scrapers/roomfinder.py
  data/processors/structure.py
  openapi.yaml
  resources/documentation/Dependencys.md
  server/load_api_data_to_db.py
  webclient/src/views/view/view-view.inc
Due: openapi-format, mypy, pylint

added aditional logging information about where in the process we currently are migrated the Progress bars from progress.bar to tqdm's migrated the scrapers from printing to logging
  data/compile.py
  data/external/main.py
  data/external/scrapers/roomfinder.py
  data/external/scrapers/tumonline.py
  data/external/scraping_utils.py
  data/requirements.txt
  data/utils.py
  server/test/requirements.txt
  server/test/search_test.py
Due: mypy, pylint

Logging+better progressbar for scapers (#271)
  data/compile.py
  data/external/main.py
  data/external/scrapers/roomfinder.py
  data/external/scrapers/tumonline.py
  data/external/scraping_utils.py
  data/requirements.txt
  data/utils.py
  server/test/requirements.txt
  server/test/search_test.py
Due: mypy, pylint

added a scraper for the NAT (data/.. created by the physics department) scraper
  data/external/scrapers/nat.py
Due: mypy, pylint

skipped unprocessable entries
  data/external/scrapers/nat.py
Due: mypy, pylint

fixed showing urls twice in errormessages
  data/external/scraping_utils.py
Due: mypy, pylint

fixed the nat base info tqdm not counting up properly
  data/external/scrapers/nat.py
Due: mypy, pylint

Updated wording
  server/README.md
Due: none

Server Readme (#274)
  server/README.md
Due: none

Allow opening search suggestions in new tab
  webclient/src/index.html
Due: none

Changed user location dot color to #3070B3 (#233)
  webclient/src/components/DetailsInteractiveMap.vue
Due: none

Link to the calendar (#221)
  webclient/src/locales/de.yaml
  webclient/src/locales/en.yaml
  webclient/src/views/DetailsView.vue
Due: none

migrated the vue3 webclient to nav.tum.de
  webclient/README.md
  webclient/env/.env.production
  webclient/index.html
  webclient/nginx.conf
  webclient/public/.well-known/robots.txt
  webclient/public/.well-known/security.txt
  webclient/src/codegen/api.ts
Due: none

mapbox
  webclient/src/components/DetailsInteractiveMap.vue
Due: none

Fixed the room feedback not being correctly interpreted by GitHub
  webclient/src/components/DetailsFeedbackButton.vue
Due: none

Separated Coordinate Handling (#243)
  webclient/src/components/DetailsFeedbackButton.vue
Due: none

Darkmode lang/theme selector (#256)
  webclient/src/App.vue
  webclient/src/assets/variables.scss
Due: none

Remove API lang cookie (#259)
  webclient/src/utils/fetch.ts
Due: none

migrated to the new docs style
  webclient/README.md
Due: none

Try to fix the share menu not opening on Safari (#269)
  webclient/src/views/DetailsView.vue
Due: none

removed legacy file
  webclient/src/outdated-browser.js
Due: none

Path conditions:
  openapi-format: any of: openapi.yaml
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: migrations
